[2016-06-01 09:54] Heishe opened #1 "Test issue"
Help me!

[2016-06-01 11:18] TravisGesslein commented on #1
No! Help me!

[2016-06-01 11:18] Talisca commented on #1
Never

[2016-06-01 11:18] #1 closed

[2016-06-01 11:18] TravisGesslein commented on #1
Okay...

[2016-06-01 15:02] Drakenfeld opened #2 "Editing base tools"
Hey Pitforest, been messing around with the new ( Edit base ) game mechanics, not sure if it's a bug but when you destroy the pre-placed dirt road you can't place dirt road back down it them spots. it's all just highlighted as red.

Heres a screenshot showing what i mean.
http://imgur.com/IIOd2II

[2016-06-01 15:26] TravisGesslein commented on #2
Oh yes that's a bug. That pre-placed part of the map isn't supposed to be editable at all, it's kind of a safe buffer zone to make sure the raiders always have somewhere to go on the map even if you fill all buildable tiles with (non-road) buildings. So deleting those tiles shouldn't be possible either.

Maybe I should look into allowing the player to build on those tiles but restrict the building

[2016-06-01 15:34] Drakenfeld commented on #2
I feel it'll just be better to set them all as untouchable, one of the tiles is currently untouchable and thats the one left over in the screenshot, i have noticed after i refresh the game them tiles i deleted get restored back to their default state.

Another thing that i found was while editing the Archer tent deleting it and replacing one else where loses the stack effect but when i refresh the

[2016-06-01 15:57] Drakenfeld commented on #2
List of bugs i have found so far will keep on editing this as i go along.

● While entering _The Crypt_ skeletons started attacking me before my whole team entered the raid.
● T̶h̶e̶ ̶b̶a̶s̶i̶c̶ ̶s̶w̶o̶r̶d̶ ̶f̶r̶o̶m̶ ̶_̶T̶h̶e̶ ̶C̶r̶y̶p̶t̶_̶ ̶d̶i̶s̶a̶p̶p̶e̶a̶r̶e̶d̶ ̶o̶n̶c̶e̶ ̶i̶ ̶u̶n̶e̶q̶u̶i̶p̶p̶e̶d̶ ̶i̶t̶,̶ ̶r̶e̶f̶r̶e̶s̶h̶e̶d̶ ̶s̶t̶i̶l̶l̶ ̶d̶i̶d̶ ̶n̶o̶t̶ ̶r̶e̶t̶u̶r̶n̶ ̶n̶e̶i̶t̶h̶e̶r̶ ̶i̶s̶ ̶i̶t̶ ̶

[2016-06-01 15:58] TravisGesslein commented on #2
Could you tell me which browser you're playing with?

[2016-06-01 16:01] Drakenfeld commented on #2
Chrome latest version on windows 10.

[2016-06-01 16:06] TravisGesslein commented on #2
Oh wow, that is exceedingly weird! We primarily develop using Chrome and item bugs like that haven't happened almost since the original alpha release. Please let me know if the item bug happens again.

[2016-06-01 16:11] TravisGesslein commented on #2
Oh, I just realized we fixed some transmogrification bugs today that haven't been uploaded to the servers yet. Is there any chance you equipped the item into the slots on the right (next to the transparent part of the window that is placed around the raider)? Those are transmogrification slots, they're only supposed to change the look of the character in case you prefer the look of one type of ite

[2016-06-01 16:13] Drakenfeld commented on #2
Yes! _Runs away and hides in corner_ lol

[2016-06-01 16:14] TravisGesslein commented on #2
Phew, don't worry that's good for us. We will upload a fix asap (already at it), the item should show up in that slot again when you reload the game after the uploading has finished. I'll write something in here once that's done.

[2016-06-01 16:22] TravisGesslein commented on #2
Okay, patch should be uploaded. I'll close this issue and create a couple of separate issues for the topics discussed in here.

[2016-06-01 16:23] TravisGesslein opened #3 "Fix bug where pre-placed roads at the bottom of the map can be deleted."
Split from #2

[2016-06-01 16:24] TravisGesslein opened #4 "Add confirmation window when deleting non-road buildings."
Otherwise accidental clickage is costly.

Split from #2

[2016-06-01 16:25] TravisGesslein opened #5 "Clarify that transmog slots are transmog slots"
Idea: Put all the transmog slots next to each other, add a heading: "Transmogrification" or something, and add a helper "?" next to it that explains the concept.

Split from #2

[2016-06-01 16:27] TravisGesslein opened #6 "Investigate buff bugs when building and deleting buildings of the same type"
See #2

[2016-06-01 16:29] TravisGesslein opened #7 "Give the raiders a bit more space in the entrance to the Crypt"
Otherwise skellies might attack raiders before all of them are in the raid.

[2016-06-01 16:29] TravisGesslein commented on #7
Split from #2

[2016-06-01 16:29] #2 closed, assigned to TravisGesslein

[2016-06-01 16:47] Talisca opened #8 "Removing of a helmet from the transmog slot leads to the appearance of the warrior head"

[2016-06-01 17:07] askebv opened #9 "[Minor] Sorting doesn't apply properly to equipment & statistics window"
If new raiders join after the sorting method has been set, it will just get added to the bottom of the list, in the equipment & statistics window. Sorting again fixes it.

Sadly I didn't manage to take a screenshot in time, sorry.

[2016-06-01 17:27] TravisGesslein commented on #9
Welcome back Muskar!

[2016-06-01 17:29] Ethismos commented on #9
Hello!

I think he means this: http://imgur.com/SODyq9A !

Reproduce by sorting by class before a new raider joins. Happened 3 out of 3 tries for me!

[2016-06-01 17:30] TravisGesslein commented on #9
And welcome back Ethismos! :+1:

[2016-06-01 17:31] Ethismos opened #10 "Priests - Instant mana regeneration."
Priests regenerate 100% of their mana when you change farm maps. Not sure if it is intentional.

[2016-06-01 17:35] TravisGesslein commented on #10
Whoops! No it's not, we'll look into it.

[2016-06-01 17:36] Ethismos opened #11 "Enemy stuck inside a tree."
Enemy stuck inside a tree, no one could hit him for about 2 minutes. Fixed by changing farm maps, but it could ruin idle farming.

Screenshot: http://imgur.com/nD1kSi8

The archer is stuck at one side of the forest. A warrior and a priest are stuck next to the tree, no one could hit. There was also an enemy UNDER the priest and warrior at the sceenshot, it could be the issue.

[2016-06-01 18:53] askebv commented on #9
Thanks. I must say.. you were right, I think your new version is getting close to a very fun game for me too. Obviously the beginning needs tweaking, and some minor UI changes need to be made - but other than that, I think you've made some great changes since I last checked it out!

[2016-06-01 20:12] askebv opened #12 "Raider got stuck in building formation"
![image](https://cloud.githubusercontent.com/assets/4981659/15724106/e6cfc178-2845-11e6-9109-df12593443eb.png)
http://imgur.com/dd2OQci

I think he got teleported there after dying to a raid boss. I couldn't figure out any way to free him
besides refreshing the page.

[2016-06-01 20:15] TravisGesslein commented on #12
Oh yeah, we need to check for those cases. We already have a way in the code to determine places that are unreachable from the entrance, and should prevent raiders from spawning in those tiles. Should be fixed next patch. Thanks for discovering this.

BTW as a short work around (in case the raider is still stuck), building something else in that spot and then reloading should do the trick.

[2016-06-01 20:24] askebv commented on #3
Perhaps related, you can delete the initial bonfire, but once you deleted it, it's still there visually. You can build on top of it once deleted too.

![image](https://cloud.githubusercontent.com/assets/4981659/15724697/91c91eb0-2848-11e6-8d89-6f8a3ff7c5a3.png)

[2016-06-01 20:29] askebv opened #13 "Inn is 2x1 instead of 2x2 when placing it"
It seems to be possible to build the inn on top of other buildings:

![image](https://cloud.githubusercontent.com/assets/4981659/15724644/48d3cfde-2848-11e6-92dd-11d99d03f521.png)

Also on the top, where it sticks out of the map.

[2016-06-01 21:05] TravisGesslein commented on #13
The first case is intentional, we figured some buildings take up too much space otherwise, and leaving a "1 tile" deep layer where we allow overlapping with larger buildings is supposed to fake some kind of 3D perspective. I think we may need to adjust the art here, the inn looks a bit too large.

The second case (building at the top) shouldn't be allowed though. Will be fixed!

[2016-06-01 21:10] TravisGesslein commented on #3
Thanks! I'll look into it.

[2016-06-01 21:45] Drakenfeld opened #14 "Witch wood glitch"
While i was doing the raid _Witch Woods_ the witch constantly spammed Dwarf de-buff never attacking, how i think this came by was when i finished the second boss in witch woods half my raiders were wiped out so i set them to rest then before they must of gone to town the witch casts the de-buff and it glitched it to constantly spam.

http://imgur.com/e3Z4rd3

[2016-06-01 22:05] TravisGesslein commented on #14
Whoops, we accidentally left the cooldown at 2 seconds from a debugging session. Will fix.

[2016-06-01 22:59] Noxos opened #15 "Can't equip archer hat"
![idleraiders](https://cloud.githubusercontent.com/assets/19698037/15728528/8956779e-2822-11e6-9557-e13ff61f8d79.png)

[2016-06-01 23:02] TravisGesslein commented on #15
Looks like there may be some transmog bugs left. Keep in mind though that you'll probably want to equip the hat using the equipment slots on the left. The slots on the right are just for cosmetic purposes: Any items equipped here just override the look of whatever body parts your raider has already equipped in the slots in the left window.

[2016-06-01 23:05] Noxos commented on #15
I see.  I didn't even realize there was another spot to equip items until you mentioned that.  It was able to be equipped and it's appearance showed up when using the correct equipment slot on the left.

[2016-06-01 23:31] Noxos commented on #15
On the subject of transmog, I should probably mention that I equipped a sword into the transmog slot incorrectly, and when I reloaded the game it had vanished.

[2016-06-02 01:26] xDanTx opened #16 "Facebook Login Issue"
After clicking Facebook login button, pop-up window appears with:
"beta.pitforest.de says:
[object Object]"
and does not log me in through Facebook.

[2016-06-02 03:52] Noxos opened #17 "Item is missing icon"
![idleraiders2](https://cloud.githubusercontent.com/assets/19698037/15733432/7a953a5a-284b-11e6-85f3-3ba6b84cb8f0.png)

[2016-06-02 06:49] Ethismos commented on #17
Similar issue with enchantment: Greater healing (http://imgur.com/NECiBzn).

[2016-06-02 06:51] Ethismos opened #18 "Another sorting issue"
http://imgur.com/lwfxWFm

If you check the 2 mages you will notice that the one with extra mana is first at the equipment menu but second at the side. I assume the same happens with other classes but its hard to check with my current items.

[2016-06-02 06:54] Ethismos opened #19 "Suggestion: Cancel building"
There should be an easy way to cancel your current building selection to avoid building when you try to click the "demolish" or "main menu" buttons. Happened to me twice in a day...

[2016-06-02 06:57] Ethismos opened #20 "Suggestion: Scholar's tower and market info."
I think you should add to both buildings that having more than one won't increase the effects. I tried building 3 towers for more book income and was dissapointed 30 minutes later!

[2016-06-02 07:09] askebv opened #21 "Can't start raid due to missing raider"
The last raider doesn't show up after I started a raid:

![image](https://cloud.githubusercontent.com/assets/4981659/15736482/4bc09620-28a0-11e6-91fa-e0408ffd262f.png)

In this case it's my wizard, and the tracker tells me he's located inside a building. It doesn't show an arrow when I hover him though, so I don't know if he's really there, or if it just shows this place because he's nowhere:

![i

[2016-06-02 07:18] askebv opened #22 "Sound effect of boss keeps playing forever"
The sound effect of the first boss in Gardens of Eternity keeps playing forever:

![image](https://cloud.githubusercontent.com/assets/4981659/15736819/ac3d7322-28a2-11e6-863b-730ad9e240c4.png)

At least in the case where you die to him, and he stops casting. The soundloop doesn't go away when I go to the base or to the farm map.

[2016-06-02 07:21] Ethismos opened #23 "Suggestion: Raiders team up before entering an area."
I am trying to get in high farm areas to get more ancients artifacts for my first reset and i noticed that in most cases my raiders go in one by one (because they are further away from the entrance, trapped in building or running around) and get killed before they team up. It would be nice if they either tp at the entrance together or team up at my base exit and only enter if more than 5 or 6 are

[2016-06-02 07:24] Ethismos opened #24 "Raid finish time"
I think you can abuse raid finish time by going out before the last boss and reentering. Its impossible that first raid takes me 1:20 and second 1:40 (its probably 3 times as much because i go back to heal every time), i think it only counts your last encounter. So you can go in, clear all trash/bosses except the last one and have the time restart.

There should probably be seperate timers for eac

[2016-06-02 07:35] askebv commented on #23
When I hover the description of the "ancient artifacts" it says I should get them when I defeat bosses for the first time and every 10th farming map I clear. But I have cleared 2 raids (and have unlocked farm level up to level 6) and have no artifacts. Is this a bug or have I misunderstood how it works?

EDIT: Ah nevermind, it says "70 earned after reset" in the bottom of the description.

[2016-06-02 07:51] askebv opened #25 "Building buffs are not displayed correctly after demolishing"
As you can see, I have 6 warrior tents, and the maximum of 3 buffs here:

![image](https://cloud.githubusercontent.com/assets/4981659/15737493/9057be5c-28a6-11e6-82cb-d06f48b7c1f7.png)

When I demolish one more more of them, the buff disappears:

![image](https://cloud.githubusercontent.com/assets/4981659/15737513/a9ce7ca4-28a6-11e6-86bd-78f4f82252d7.png)

When I refresh the page, the initial warr

[2016-06-02 07:58] askebv opened #26 "[Minor] "Dwarf Cast" buff description is missing a newline"
There should probably be a newline between "types" and "Shrinks":

![image](https://cloud.githubusercontent.com/assets/4981659/15737850/9ace9aac-28a8-11e6-8d7c-85c09f7b4c7f.png)

[2016-06-02 08:00] Ethismos commented on #23
My reset unlocked after beating 3rd raid and also managed farm area 24 by that time (at some areas i hae to kill 2-3 enemies and reset like they are bosses). I think i waster 500g on temple of the ancients though, it doesn't seem to do anything more than what the menu option for reset does... now i need 1000 gold to test the reset.

[2016-06-02 08:09] askebv commented on #23
A bit off-topic (but the reddit seems barren):
I envy your abundance of ancient swords. I mostly got worn leather armor instead:

![image](https://cloud.githubusercontent.com/assets/4981659/15738037/9e2c74ac-28a9-11e6-9333-303417fcced3.png)

I haven't progressed with farm maps because it seems bad for gold gain, which is what I lack the most. But I'll make sure to try and progress farm levels befo

[2016-06-02 08:13] TravisGesslein commented on #17
Is it still missing after reloading the game?

[2016-06-02 08:13] Ethismos opened #27 "Burning cave gold/exp farm."
There is a similar issue with the old raid 5 at the new burning cave. You can start fight 1, kill1-2 enemies, go out, go back in, both enemies are up. I am not 100% sure if it is better than farming a normal area, but depending on the gear it could be abusable.

[2016-06-02 08:16] TravisGesslein commented on #19
"ESC" on the keyboard already works, but I'd like a simple way to tell players about that somewhere. We'll add little tutorial popups that appear when you do stuff for the first time, this seems like a good candidate for it.

[2016-06-02 08:17] TravisGesslein commented on #20
Good idea!

[2016-06-02 08:19] Talisca commented on #22
Confirmed. Also the loop seems to be somewhat broken

[2016-06-02 08:22] TravisGesslein commented on #21
Thanks for the detailled description, I think is related to #12 .

[2016-06-02 08:22] askebv opened #28 "Pathfinding ignoring other raiders"
I'm assuming their pathfinding is supposed to be stupid when you start out. And that you can improve them greatly later. It makes the warriors push the others into fights, which is probably an intended feature of their initial stupidity.

However it makes some weird glitching behavior sometimes. Especially when they're roaming or if they're farming, going at opposite targets. They rub hard against

[2016-06-02 08:33] Ethismos commented on #23
You can farm ancient swords at farm area 8 (camels and crocodiles). 45% chance drop from each enemy.

Edit: Haven't managed to do any enchanting yet.

[2016-06-02 08:36] TravisGesslein commented on #23
We'll actually add this as a raider upgrade. When your raiders group up and heal before going back into farm maps for example, it's a giant improvement of their performance on farm maps. I estimate it'll bump the maximum farm level you can reach with idle farming by quite a bit (using the auto-increase-farm-map activity), and it should yield an increase in gold and xp per minute on 'difficult' far

[2016-06-02 08:36] Ethismos opened #29 "Question: Soft level cap"
Is there a soft cap at 50? Seems like 50 to 51 takes more than the last 10 levels combined :)

[2016-06-02 08:38] TravisGesslein commented on #24
Excellent idea!

[2016-06-02 08:39] TravisGesslein commented on #18
Thank you! We'll look into it.

[2016-06-02 08:39] askebv commented on #27
Well, it's a lot more difficult to do than having it on auto-farm. And if this game solely relies on WoW mechanics, then I believe trash mobs are always possible to farm - except that they also have (shorter) respawn timers. Or do you mean bosses when you say "1-2 enemies"?

[2016-06-02 08:40] askebv commented on #29
When you hover the exp bar, what does it say? I'm at 44 and it says 616/930 exp

[2016-06-02 08:42] askebv opened #30 "Arrows in equipment and statistics don't follow order of sorting"
When you click these arrows, they don't follow the order of your sorting:

![image](https://cloud.githubusercontent.com/assets/4981659/15739071/a1ed38ce-28ae-11e6-865e-70edd68da3ad.png)

[2016-06-02 08:43] TravisGesslein commented on #25
Thanks for the description. Should be related to #12 and #6

[2016-06-02 08:43] Ethismos commented on #23
If you mean the sword drop chance you can ctrl-f your code for probability: 0.45.

There are many monsters like: bear, white bear, black bear, green/blue/red snapping turtle, green/blue/red slime, green/red/brown lizard,red horror 1/2, weasel, crocodile, eagle, worm, crab etc... got 60+ hits total.

[2016-06-02 08:46] Ethismos commented on #27
Judging from the fact that i can see their health, they are bosses. They have 2.3k to 4k hp and drop 30+ gold and exp. Right now with my gear its not worth it, but it will soon be i think. Its the first camp of old raid 6, the one with 3 demons, one holding some kind of whip.

[2016-06-02 08:47] TravisGesslein opened #31 "Pre-placed buildings are rebuilt automatically if you don't build anything over them after deleting them."
Related to #25 among others.

[2016-06-02 08:49] Ethismos commented on #29
5218/50000. I m pretty sure pre 50 it was less than 1500 each level, so there is a cap. I was afk while farming 45-50 so i wasn't sure.

[2016-06-02 08:54] Ethismos commented on #17
Enc:Greater healing got fixed after reloading ^^

[2016-06-02 08:57] TravisGesslein commented on #29
Yup, but it's extremely soft. You should reach level 51 after a few hours, depending on what you're prioritizing (higher level farm maps give more xp, but the gold you get stays static so you might prefer gold farming on lower level maps). We want leveling to stay a part of the game, but we wanted to put raider items and their skillbooks into the spotlight so to speak, so we slow the curve down si

[2016-06-02 09:00] TravisGesslein commented on #29
Uhhh, what do I do with question issues? I guess I'll leave them open for a while and then close them arbitrarily :hankey:

[2016-06-02 09:02] askebv commented on #23
How would it increase gold per minute? Isn't it 1 gold for all enemies? So gold per minute is by far the best to farm where you get the highest kills per minute, which is rarely (if ever) the highest available map.

[2016-06-02 09:07] #3 closed, assigned to TravisGesslein

[2016-06-02 09:07] #4 closed, assigned to TravisGesslein

[2016-06-02 09:11] Ethismos opened #32 "First reset - Gain Wisdom"
When i click the Gain Wisdom button (through the menu or temple of the ancients) i get the message: "Not enough gold!" While i have 1.2k and it asks 1000. Are there any additional requirements? If so the error message should be different and we should get some more info about what is needed for the reset.

[2016-06-02 09:12] TravisGesslein commented on #23
@Ethismos Yeah they are just a left-over we forgot about. Will be fixed next patch.
@Muskar Indeed! I meant the case where you want to farm a map (for XP or other reasons) that is hard enough that your raiders only kill monsters slowly and your raiders keep dying. Grouping up in that case should increase both xp and gold farm rate.

[2016-06-02 09:13] TravisGesslein commented on #32
Oh I think the label is just wrong. Sorry about that. It costs 2500 Gold right now! Will be fixed

[2016-06-02 09:14] TravisGesslein opened #33 "Remove remaining ancient sword drops from farm monsters"

[2016-06-02 09:17] Ethismos opened #34 "Building issue"
Can't build anything at the rightmost row of my base: http://imgur.com/xksY4Zc

[2016-06-02 09:19] #7 closed, assigned to Talisca

[2016-06-02 09:19] #10 closed, assigned to Talisca

[2016-06-02 09:21] TravisGesslein commented on #34
Wow! That is an ancient bug. I think it has been in the game since the very first week I implemented the base building system, some time in January or so.

[2016-06-02 09:23] TravisGesslein commented on #27
Ah, you mean boss encounters with multiple boss monsters in them. True, that is very much unintended. We should delay the XP and gold rewards until the entire encounter is defeated, just like we do with item drops.

[2016-06-02 09:24] Ethismos opened #35 "Suggestion: Sort buildings."
Options like:

A) Having decoration buildings last or a way to sort them ourselves.
B) Buildings that we have maximum effect from (like 3/3 warrior tents etc) turn grey/hidden.

would help a lot !

[2016-06-02 09:29] Drakenfeld opened #36 "Farming map level 8"
Is _Farming: Level 8_ supposed to drop ancient sword every kill ?

Nvm you already got this on the list of game bugs... should really pay attention lol

[2016-06-02 09:31] #5 closed, assigned to TravisGesslein

[2016-06-02 09:40] #6 closed, assigned to TravisGesslein

[2016-06-02 09:43] TravisGesslein commented on #36
Nope! Will be fixed in upcoming patch. See #33 and #23

[2016-06-02 09:43] #36 closed, assigned to nobody

[2016-06-02 09:54] askebv commented on #29
I'm not sure I follow the logic. Does level 51+ give a lot of stats? If not, then the level seems to be a tiny factor, considering how many different kinds of upgrades you can get with gold and managing your items. But of course, if you have optimized everything to the limit, have every item and AI upgrade that you want, then those levels could perhaps be relevant again. I'll see when I get there,

[2016-06-02 09:54] Ethismos opened #37 "Best Finish time"
Best finish time seems to be bugged. I did 1:20 at the 2nd raid to test the bug with reseting before the last boss and it counted as best time. At my next run i didnt reset and did 2:33, now both my current and best times are set to 2:33, while current should be 2:33 and best 1:20.

[2016-06-02 09:56] #12 closed, assigned to TravisGesslein

[2016-06-02 09:57] #25 closed, assigned to TravisGesslein

[2016-06-02 09:57] #21 closed, assigned to TravisGesslein

[2016-06-02 10:04] #22 closed, assigned to Talisca

[2016-06-02 10:07] TravisGesslein commented on #29
The stats you get for a level up don't change, but being level 55 for example in concrete terms would be like giving one or two of your raiders a free fifth equipment slot. It's a small but noticeable effect on your raider performance. Depending on how many % based bonuses you have (from item set bonuses or something else) the effect may be even bigger because those only scale off of the base stat

[2016-06-02 10:14] #9 closed, assigned to Talisca

[2016-06-02 10:14] #18 closed, assigned to Talisca

[2016-06-02 10:19] Ethismos opened #38 "Farm area 24"
The caster mummies (whatever they are called) don't fight back.

[2016-06-02 10:24] #8 closed, assigned to TravisGesslein

[2016-06-02 10:30] #30 closed, assigned to Talisca

[2016-06-02 10:31] TravisGesslein commented on #11
Enabling monster<->tile collision next patch. From preliminary tests it seems like the performance impact is minimal. Can optimize later in case there are problems.

[2016-06-02 10:31] #11 closed, assigned to nobody

[2016-06-02 10:33] TravisGesslein opened #39 "Adjust 'inn' art"
Height should be reduced slightly.

[2016-06-02 10:35] TravisGesslein commented on #13
Also related: #34

[2016-06-02 10:45] askebv commented on #38
I had the same thing happening with the priests at 19. Are those mummies priests as well, or do they just do nothing?

[2016-06-02 10:48] askebv opened #40 "Confusing description of ancient artifact gains"
In the description it says "Points are earned by...reaching every tenth farm map level". But I didn't get anything when I reached map level 20. I got points when I cleared map level 20, but the word "reaching" suggests otherwise. If that's intended, then the word "clearing" would probably be better.

[2016-06-02 11:15] #33 closed, assigned to Talisca

[2016-06-02 11:30] Drakenfeld opened #41 "Suggestion for the new Mage class"
Give the mage a basic attack!!!, since all they do is stand around when they don't have mana... but even so 15 second cooldown doing nothing while in them 15 seconds of doing nothing Warriors stack up more damage.

Maybe add an basic physically attack to priests again aswell.

[2016-06-02 11:34] TravisGesslein commented on #13
@Muskar Do you mean you can build the building in the very top row of the map and half of the building then sticks out into nothingness? I can't reproduce it.

[2016-06-02 11:35] #34 closed, assigned to TravisGesslein

[2016-06-02 11:47] Ethismos opened #42 "[Minor] Love is in the air"
Love is in the air descritpion mistake. After the area there is 1 instead of ! (Ex: "at area 91" instead of 9!)

[2016-06-02 11:53] Ethismos commented on #38
I can kill the other mummies around them with 5 of those casters around without an issue, so i don't think they are healers.

[2016-06-02 12:01] #27 closed, assigned to Talisca

[2016-06-02 12:36] #26 closed, assigned to Talisca

[2016-06-02 12:37] #42 closed, assigned to Talisca

[2016-06-02 12:45] askebv commented on #41
I'm not sure I agree. The good thing about mages is their ability to burst (a lot of damage in short time) - which is important on self-healing enemies. And later on, I'm sure all classes will be so busy that a weak attack would be a waste of a "turn". But the skill priority system might make it alright.

The biggest gain from your suggestion, that I can think of, is the ability to farm low level

[2016-06-02 12:48] askebv commented on #13
@Heishe I thought so, but I think it was just the edge of the camera. I can't reproduce it either.

[2016-06-02 12:54] askebv opened #43 "Skill priority list doesn't follow sorting"
The skill priority list from the Town Hall doesn't follow the sorting:

![image](https://cloud.githubusercontent.com/assets/4981659/15745392/e901af2e-28d1-11e6-8cc6-9c2d531fe783.png)

[2016-06-02 12:59] TravisGesslein commented on #13
Good, one bug less! :D

[2016-06-02 12:59] #13 closed, assigned to TravisGesslein

[2016-06-02 13:00] #14 closed, assigned to TravisGesslein

[2016-06-02 13:03] TravisGesslein commented on #19
I added this to internal trello board as tutorial stuff todo

[2016-06-02 13:03] #19 closed, assigned to TravisGesslein

[2016-06-02 13:07] TravisGesslein commented on #15
Weird, should have been fixed in a patch that we uploaded yesterday. It's possible you received a cached version of the game (i.e.  your browser used a local copy instead of downloading the latest version). We'll add some browser magic in the future to force browsers to update to the newest available version instead of using a cached copy.

[2016-06-02 13:07] #15 closed, assigned to TravisGesslein

[2016-06-02 13:08] #20 closed, assigned to TravisGesslein

[2016-06-02 13:13] TravisGesslein commented on #28
Yeah, there's collision avoidance code in the game but it's buggy for various reasons. At some point soon-ish I will do another pass on the whole path finding and collision avoidance behavior because it's still pretty rough around the edges (for examples raiders still drunkenly bump into things on their way to the target).

[2016-06-02 13:22] #24 closed, assigned to Talisca

[2016-06-02 13:22] #37 closed, assigned to Talisca

[2016-06-02 13:27] askebv opened #44 "What does colors of item counters mean?"
I've seen brown, green, yellow and white numbers so far. Here's all but green:

![image](https://cloud.githubusercontent.com/assets/4981659/15746364/8c099002-28d6-11e6-8053-9fbff76fc603.png)

I haven't tested it, but I think it vanishes when I refresh the page, so I'm guessing it's a bug.

[2016-06-02 13:47] Ethismos opened #45 "Reseting and gold"
Reseting sets gold to 0, something that is not at the description ...

Ouch...

[2016-06-02 13:48] #31 closed, assigned to TravisGesslein

[2016-06-02 13:55] Ethismos opened #46 "Reseting and auto raiding."
When you reset the game there is the option to auto raid while there are no raids open until level 10, doing that just makes your raiders sit at base.

In the mean time auto farming (that would actually be useful because of the new gear you have) is not enabled until farm area 8.

In my opinion it should be the opposite. Reset, auto farm enabled from start, then auto raid enabled at 10.

[2016-06-02 13:56] TravisGesslein commented on #45
Sorry, that should not happen. As a quick fix you could cheat it back: Open dev console (F12 on most browsers), type "gameSystem.setGold(whatever your gold amount was)". We'll have various forms of cheat protection in the final rerelease but in the closed beta its fine.

[2016-06-02 13:59] TravisGesslein commented on #45
I fixed this internally already, we will upload a patch relatively soon now. I'll leave this issue open until then in case someone else runs into it.

[2016-06-02 14:10] askebv commented on #46
I agree, but I'd say auto farm enabled from start (of a reset) and auto raid enabled after clearing the crypt. It won't do anything before you clear the crypt anyway.

[2016-06-02 14:13] TravisGesslein commented on #46
Yes I think the relevant code just lacks some checks for whether or not the player is above SR level 0. I will implement the suggested behavior.

[2016-06-02 14:13] #32 closed, assigned to TravisGesslein

[2016-06-02 14:14] TravisGesslein commented on #35
Very nice ideas. We'll tackle this after patch 1.

[2016-06-02 14:25] TravisGesslein commented on #41
Our original design intention with the class fits exactly what @Muskar says. It's supposed to be a burster with high cooldown skills and high mana costs (to varying degrees, frost mages will be an exception). Also what's cool about this is that late game mages look a lot more powerful than early game mages (as opposed to just doing more or less the same thing with higher numbers) because they have

[2016-06-02 14:28] TravisGesslein commented on #17
We'll keep this opened: We have dealt with this kind of bug several times internally over the past few weeks. We strongly suspect there are some error cases left in the code yet. So this issue is helpful in case someone else encounters it again.

[2016-06-02 14:31] askebv commented on #41
Since you're borrowing a lot of mechanics from WoW, you could make a wand type-of-thing that just throws a tiny magical particle every once in a while.

And if you want an alternative to this "weak attack" doing damage, you could make it steal/generate a small amount of mana every time it hit an enemy. It'd require some rebalancing of course - but that way it would at least not feel like idling.

[2016-06-02 14:43] askebv opened #47 "What's the point in summoning merchant?"
My Market just made the consumable "Summon Merchant" available:

![image](https://cloud.githubusercontent.com/assets/4981659/15748880/b5c351bc-28e0-11e6-8ed3-a264251321ae.png)

If it's just the standard merchant, then what's the point? He's been empty since I bought all the plans a long time ago. And spending 100 gold on summoning a merchant, that summons itself over time, doesn't seem very useful

[2016-06-02 14:52] askebv opened #48 "Stay At Range and Avoid Area of Effect Damage"
I'm not sure what this behavior is supposed to be, but I have "Stay At Range" and "Avoid Area of Effect Damage" enabled and this is how they behave:

![image](https://i.gyazo.com/c0db61837574abfb7a93678d60e4d9df.gif)
![image](https://i.gyazo.com/556447d0824d107f6c0a67c5ffdccc00.gif)

Most notably is that they're glitching backwards over time, and then walking forward for half a second.

[2016-06-02 14:54] #46 closed, assigned to TravisGesslein

[2016-06-02 14:55] TravisGesslein commented on #40
Good suggestion. Will change it for upcoming patch.

[2016-06-02 14:56] #40 closed, assigned to TravisGesslein

[2016-06-02 14:57] TravisGesslein commented on #48
Thank you, we'll investigate it.

[2016-06-02 14:58] TravisGesslein commented on #47
I admit its kind of useless right now. The merchant is just a dumpster for various building plans right now, but he'll trade a ton more stuff soon enough.

[2016-06-02 15:03] askebv opened #49 "Equipping two Witch's Twigs leaves a green background in the empty spot"
Here's the step to produce the issue:

Start with at least 2 Witch Twigs to equip:
![image](https://cloud.githubusercontent.com/assets/4981659/15749605/44ad804e-28e3-11e6-8219-65b39a132965.png)
Drag the first Witch Twig into one of the slots with a cloak:
![image](https://cloud.githubusercontent.com/assets/4981659/15749636/5f9fe3e2-28e3-11e6-8290-fb3087dda32a.png)
Drag the second Witch Twig into o

[2016-06-02 15:12] TravisGesslein commented on #38
Yup, some priest monsters lacked energyPoints so the healing abiltiy couldn't execute.

[2016-06-02 15:12] #38 closed, assigned to TravisGesslein

[2016-06-02 15:13] TravisGesslein commented on #49
Thanks for the detailed description, I'll try to squeeze this into beta patch 1.

[2016-06-02 15:13] Drakenfeld commented on #41
I see your point now that I've got magic missiles + 2 Arcane bombardment + Arcane barrage + mana potions, just wipes the floor with most bosses :-p

maybe you could add some cool visual effect to the mages when they aren't doing anything, like adding a table they can sit at and have _Cup of Tea_ while they wait for the cooldown!

[2016-06-02 15:21] Ethismos opened #50 "Red church/Priestess"
I have no idea if they work or not. I build a church, 2 priestesses spawn and stay at base without moving (they used to go near raiders to heal them, this doesn't happen). I have the feeling that regen speed increased, but i don't see any animation or change in stats so it could be my imagination.

[2016-06-02 15:24] TravisGesslein commented on #50
Yep it's a bug. Will look into it.

[2016-06-02 15:34] Ethismos commented on #49
The same thing happens if you remove a skill and then try to use Town Hall for skill priority list! For example, i had flash heal, rejuvenation and ofc the passive Basic Heal. When i removed the flash heal EVERY priest was left with a green background at skill priority list!

[2016-06-02 15:42] #43 closed, assigned to TravisGesslein

[2016-06-02 15:54] svendief opened #51 "tent bonus at tent destroying"
Hallo ich habe ausversehen ein paar zu viel gebaut bzw nicht gesehen das es ein limit geht und dachte ach komm zerstör ich die anderen mal ja jz hab ich noch 2 stehen aber der boni hat sich mit abgebaut mit den ersten 2 ich habe das jetzt nur mit den mana reg zelten bemerkt bei den anderen kann ichs noch nciht ausprobieren :D

[2016-06-02 15:55] TravisGesslein commented on #49
Yup, both issues should be fixed next patch.

[2016-06-02 15:55] #49 closed, assigned to TravisGesslein

[2016-06-02 15:58] TravisGesslein commented on #51
Jop, Bug ist im Patch gefixed den wir demnaechst (kommende paar Stunden) hochladen! Issue dazu war #6

Willkommen zurueck uebrigens :D

[2016-06-02 15:58] #51 closed, assigned to nobody

[2016-06-02 16:22] #50 closed, assigned to Talisca

[2016-06-02 16:22] #47 closed, assigned to nobody

[2016-06-02 16:23] TravisGesslein commented on #47
We may just prevent the scroll from spawning if you truly exhaust all of his offers.

[2016-06-02 16:28] Ethismos opened #52 "Dragon Blood Sword"
First item that has no required class and i can actually use it at priests etc. Bug or intended?

[2016-06-02 16:32] askebv opened #53 "Thoughts and suggestions"
I already posted a similar topic on reddit, but nothing seems to happen there, so I'll just put it here too:
### 1. UI: Views and Modes

Over time I've gotten more used to it, but I still don't like how we change views and modes. I think we should have an option/button to expand the width of the sidebar/flags, so we could always see all available modes/views.

I think I'd also be in favor of repla

[2016-06-02 16:46] Drakenfeld commented on #53
Adding onto Views and Modes: http://imgur.com/grCqORX Enough said, image speaks for itself.

[2016-06-02 16:47] askebv opened #54 "Temple of Ancients has no use"
Ethismos already mentioned this somewhere else, but I just tested it myself and confirmed that the Temple of Ancients doesn't do anything. You can "Gain Wisdom", buy and toggle upgrades, without the building. It shows up by itself once you clear the 3rd raid.

Secondly, the description says the building can do something else too:

As far as I can see, there's nothing that requires/uses exp or gold

[2016-06-02 16:52] askebv commented on #53
@Drakenfeld I'm not sure I follow. Is it that the text is too small and unreadable?

This is what it looks like to me:

![image](https://cloud.githubusercontent.com/assets/4981659/15753386/0639be12-28f3-11e6-8c11-499b736e49c7.png)

But yeah, I can easily see that as a problem for lower resolutions, if that's what it looks like. Good point.

[2016-06-02 17:00] TravisGesslein commented on #54
Yeah it's a bug, the icon isn't supposed to show up until you build the temple!

The description was supposed to hint at the fact that your raider level gets reset ( = trading in all your experience), but I'll update the description.

[2016-06-02 17:02] #45 closed, assigned to TravisGesslein

[2016-06-02 17:03] TravisGesslein commented on #52
Yep that's a bug. It's supposed to be a warrior item.

[2016-06-02 17:05] askebv commented on #46
Additionally I don't understand why auto-raiding remember which raids you cleared in your previous resets. Surely you'll always start out weaker than your initial reset, right?

[2016-06-02 17:07] askebv commented on #54
Ah, of course. Yeah, it didn't even occur to me that it was talking about resetting.

[2016-06-02 17:08] TravisGesslein commented on #53
Thanks for the suggestions, we just uploaded a patch so I'm going to take a break and reply with a bit more detail later!

Regarding reddit btw: For now we only sent beta invites to a few select special people like Ethismos and muskar as well as all of the paypal donators from the alpha. Our analytics show that less than 20 people are playing the beta right now, compared to the roughly 1000 that s

[2016-06-02 17:15] askebv commented on #53
@Heishe Should I delete my post on the reddit then? You can also do it yourself it you want to, I don't mind. I think it must be your choice how you want to market/expose your content.

[2016-06-02 17:34] askebv commented on #48
I tested some more and don't see any effect of the "Avoid Area of Effect" upgrade. What is it intended to do?

The glitching thing is definitely the Stay Out of Range upgrade.

[2016-06-02 17:38] askebv opened #55 "Button to cancel raid is still visible if you choose to farm instead"
I put it on auto-raid, and then (because it wants to auto-raid the 3rd raid that I can't yet handle in this reset) I stopped the raid by choosing the farm mode instead. Then the label looks like this:

![image](https://cloud.githubusercontent.com/assets/4981659/15754620/4826627a-28f9-11e6-87f6-15ffbe24f446.png)

The cancel button is now in the way of the button for increasing the farm map level.

[2016-06-02 17:45] askebv opened #56 "How does the training facility work?"
I can't seem to interact with the Training Facility, nor do I see any change in any of the menus.

Is this a bug, or am I missing something?

EDIT: Nevermind - it gives a new mode.

[2016-06-02 17:49] askebv commented on #56
The survivability mode doesn't seem to work. It just says Enemy dps 0? I was suspecting it to incrementally increase its dps, or being able to adjust it.

[2016-06-02 17:56] askebv opened #57 "Label is cleared when you activate another mode inside practice mode"
![image](https://cloud.githubusercontent.com/assets/4981659/15755223/27389134-28fc-11e6-9c0b-3fbe11beb5c0.png)

Going into sleep mode and back into farming/raiding doesn't seem to fix it. Reentering practice mode shows a label, but it's still gone even if you exit by clicking the cancel button.

[2016-06-02 18:05] askebv opened #58 ""New patch available" stays"
Every time I refresh the page, it still says "new patch available". I would expect it to only occur when the patch available is newer than the one I'm running.

[2016-06-02 18:06] askebv opened #59 "[Minor] Current Version "alpha"?"
In the Options menu, isn't it supposed to say "Beta" now? :P

[2016-06-02 18:13] askebv opened #60 "Clicking on notifications"
Clicking on the merchant event takes you to the base view.

Clicking on the market / scholar event doesn't take you anywhere.

I'd expect them both to do the same thing, either or.

[2016-06-02 18:37] askebv commented on #23
@Ethismos As a temporary solution, I've found that starting a raid and then cancelling when it's just about to start, is the best way to do this.

[2016-06-02 19:43] TravisGesslein commented on #53
No I don't mind it at all!

[2016-06-02 20:02] Ethismos opened #61 "Enemy health bar outside screen."
http://imgur.com/1w7pJa2

The first enemy hp bar was not visible at all. In single target bosses i couldn't see their health! I tried the reset window but didn't work. Got fixed by refreshing the page.

[2016-06-02 20:09] Ethismos opened #62 "Sealer's burden"
http://imgur.com/4rlHot6

I equipped the ring and it didn't update as a set item (at any of the 3 items equipped). 99% caused by the fact that i had 1 more in my inventory.

When i tried to equip the second it got deleted (and left an empty purple box) and re-equiping my ring fixed the issue!

[2016-06-02 20:15] Ethismos opened #63 "Enrage debuff bug"
My warrior kept his warrior enrage size buff after the buff ended. It could be because he died before the duration ended .

He now runs around like this:
http://imgur.com/ItsyPWC
http://imgur.com/36n3Twz

When enrage procs again he becomes even bigger!

Edit: Happened again and i don't think he died... could it be that it appplies more than once somehow?

http://imgur.com/kQLQ8F9

[2016-06-02 20:17] Ethismos opened #64 "Reseting and gold (version 2)"
Now i keep all my gold, including the 2.5k i should lose by paying the reset.

Balanced the other bug.

[2016-06-02 20:36] askebv opened #65 "Vampires on map level 21 don't seem to do anything"
They just stick to walking, it seems:

![image](https://i.gyazo.com/ffc627f7dd7f0417359c51a579310be4.gif)

[2016-06-02 21:03] Ethismos opened #66 "Suggestion: Mana regen in base"
It would be nice to have some form of additional mana regeneration in base. Maybe a new building or just improve the existing mana regen ratio. Waiting a 210 mana mage (full damage with 0 regen) to go to full mana takes ages.

[2016-06-02 21:12] Drakenfeld opened #67 "Frozen Coast raid"
Seems to be an bug with the last set of bosses, just killed them the last one to die ended with -1 Hp then all the raiders didn't get teleported out nor any item drops, then raiders just ran to the start then keep warping in and out none stop. canceled raid at that point then it says Cannot be started until next reset without an new raid unlocking.

[2016-06-02 21:21] Drakenfeld opened #68 "Sturdy Cloak"
Is this item supposed to have 3500% attack speed?

http://imgur.com/v1kdTnV

![raider 4](https://cloud.githubusercontent.com/assets/19689960/15761518/8df26f30-2910-11e6-84b1-a74ad71b6789.png)

[2016-06-02 21:35] Ethismos opened #69 "Well building buff"
It says it gives 2% rage generation buff, while it should be 3% and for every recourse (mana, rage, focus).

[2016-06-03 05:15] askebv commented on #66
There is already additional mana regen in base (I think maybe 2 or 3 times the normal speed). But yeah, it would be nice if we could improve it even further.

Or perhaps it could regenerate a percentage of the max mana when in the base.

[2016-06-03 06:26] Drakenfeld opened #70 "Ravaged Abode"
just finished Ravaged Abode raid no drops and no more raid unlocked, is this normal?

[2016-06-03 08:55] askebv opened #71 "Raid bosses above raid 3 seems to drop excessive amounts"
Is it intended that the first boss (row) of raid 4 is supposed to drop 4 rare items and also a handful of uncommon drops in just one kill? The second time I killed them, they dropped 2 more. And these items are drastically better than what I already had.

[2016-06-03 09:10] askebv opened #72 "Why is there attack speed on a mage item?"
What does attack speed do on mages? Are casting animations sped up?

![image](https://cloud.githubusercontent.com/assets/4981659/15774272/cc713b7c-297b-11e6-8e7d-bf576565b6ab.png)

[2016-06-03 09:10] TravisGesslein commented on #71
Hi! No that seems to be a bug. The very first kill fo any boss encounter after a fresh soft reset is supposed to drop some extra items (intended default is 2 with Ancient Wisdom upgrades to increase that count) but that code is relatively flesh and likeyl buggy!

[2016-06-03 09:13] askebv opened #73 "Essence of Rage"
I'm guessing this item is supposed to be a "resource", whatever that is. As an equipment it has no effect, and can't be placed in any cosmetic slots:

![image](https://cloud.githubusercontent.com/assets/4981659/15774353/34885a4c-297c-11e6-8fca-1907ae9d2ded.png)

[2016-06-03 09:14] TravisGesslein commented on #72
Indeed, it works the same as for other classes: Casting speed is increased, and cooldown of abilites is decreased (by the same amount). I'll change the description to "Attack and Casting Speed". Also we should introduce some mouse-over helper popups when hovering over text in the statistics screen and explain what each stat does in a bit more detail.

[2016-06-03 09:18] askebv commented on #72
@Heishe Fair enough. I certainly didn't anticipate that cooldowns were reduced though. As a minor note, I'd prefer it if you could make it say casting speed for mages/priests and attack speed for warriors/archers. The same with damage and healing. It's unnecessary information - and all it really does is suggest how it's coded :P

[2016-06-03 09:23] askebv commented on #71
I've killed the other 3 bosses in raid 4 now, and they didn't drop excessive amounts - so it only seems to be the first 3 bosses. Perhaps due to the fact that there's 3 bosses?

[2016-06-03 09:38] askebv opened #74 "Clicking on a view while having equipment window open"
I've had this happen many times now. I'm checking out the descriptions of my current skills and then want to check that the priority list is right. So I click View Base, but it instantly puts my view back to the raider. I don't think that should be how it works:

![image](https://cloud.githubusercontent.com/assets/4981659/15774990/a3a25ca4-297f-11e6-8263-19fc02c40fd2.png)

For starters, you should

[2016-06-03 09:38] TravisGesslein commented on #72
Oh, we support that behavior already, we use it for rage, focus and mana. We kept the "damage and healing" instead of separate descriptions because the same raiders might get both healing and damaging abilities (likely going to happen for priests soon).

[2016-06-03 09:46] TravisGesslein commented on #72
I suppose we might artificially split them, i.e. show Damage and Healing as separate stats with the same underlying stat being shown, but I don't like that solution because it takes up one line of space in the UI!

[2016-06-03 09:47] askebv opened #75 "The F-hotkey"
So I got curious and tried tapping every button on the keyboard to see what had any noticeable effect. And besides the harsh WASD camera control, I found the F-hotkey, which apparently centers the camera on the middle of the raid group. It's even possible to hold it down.

I tested what would happen if I was in a view with no raiders, and sadly nothing happened.

So instead, I would suggest a seco

[2016-06-03 09:49] askebv commented on #75
Also, I would love it if there was a way to toggle constant following of the raiders.

And as a minor note, I also found that the Alt key works as a 'cancel building'-function, just like the Escape key. And I don't understand why the arrow keys wouldn't at least mirror the controls of the WASD.

[2016-06-03 09:51] askebv commented on #72
Well, then just make an exception for the priests! Or are archers and mages expected to receive healing abilities? And casting abilities for warriors and archers?

[2016-06-03 09:53] TravisGesslein commented on #72
No, you're right, would probably be smart to change it for those classes.

[2016-06-03 09:56] #52 closed, assigned to TravisGesslein

[2016-06-03 09:57] TravisGesslein commented on #75
Good ideas. Let's see... I'll probably split this up into separate issues later. Wanna squash some bugs first.

[2016-06-03 09:58] #29 closed, assigned to TravisGesslein

[2016-06-03 09:58] askebv commented on #72
Oh by the way - the same goes for critical hit damage and healing

[2016-06-03 10:03] askebv opened #76 "Mysteriously lost 2 buildings"
I mysteriously lost 2 out of 3 inns. I think it happened when I quickly checked the functionality of the alt-key and the escape-key but I can't reproduce it with my last one remaining. If it matters, the two ones that disappeared were both taking advantage of the 3D thing where the two upper tiles of the 2x2 were occupied.

[2016-06-03 10:04] #54 closed, assigned to TravisGesslein

[2016-06-03 10:06] TravisGesslein commented on #44
Yeah that's a bug. @Talisca  Might be related to #17

[2016-06-03 10:09] askebv commented on #76
I opened up the console to [cheat money back](https://github.com/Heishe/idleraiders-second-run/issues/45#issuecomment-223299134) to try to reproduce it, and before I continue, I just wanted to share the errors in the console. Anything unexpected or important to you?

http://i.imgur.com/aQUu9Rv.png

I won't refresh or close the page unless I have to, so I can expand the errors and take a new screen

[2016-06-03 10:11] TravisGesslein commented on #64
Yup, silly bug :+1:

[2016-06-03 10:11] #64 closed, assigned to TravisGesslein

[2016-06-03 10:20] askebv opened #77 "Buff description: Corrode Armor"
#26 Another missing newline:

![image](https://cloud.githubusercontent.com/assets/4981659/15775999/7cef0868-2985-11e6-9628-dfe5a6da1629.png)

This is the one you get from the last boss in the 4th raid, I believe.

[2016-06-03 10:25] askebv opened #78 "Raid label shows arrow that changes farm map"
And when you click the arrow, it cancels the raid and you're sent directly to the map level that is one below (as if you were currently farming):

![image](https://cloud.githubusercontent.com/assets/4981659/15775935/1302e2ee-2985-11e6-9552-0b421ce91988.png)

First I activate auto-raid mode (when all pre-finished raids have been cleared), then it takes me to the farm map. Then when I activate manua

[2016-06-03 10:49] askebv opened #79 "Invisible target on farm level 24"
There seems to sometimes be an invisible target appearing when you kill a caster that you've been fighting for a long time. My raiders keep attacking the same spot for a few seconds after it dies (and after the coin animation starts). I haven't seen any coin gain from it though, so it's probably not an enemy.
I've only seen it happen very few times, and usually it's when I've been fighting it for

[2016-06-03 10:51] TravisGesslein commented on #76
No, the errors look unimportant. Just a warning because we're syncing time from a time server with HTTP instead of HTTPs and some audio errors which happen when the browser can't decode an audio file (shouldn't make a difference).

[2016-06-03 10:53] askebv opened #80 "Enemy (level 25) pathed through edge of the wall"
![image](https://cloud.githubusercontent.com/assets/4981659/15776724/197903d8-298a-11e6-8fe7-0e7ad89a3b25.png)

He did this as an "attack move", that is, there was a raider just next to where he's standing now.

Related to #11 ?

[2016-06-03 11:06] askebv commented on #76
Alright. And I couldn't reproduce the bug mentioned in the title by the way. I don't recall using or clicking near the deletion tool, so I still think it's a bug. But I'll just leave it here, unless I encounter it again.

[2016-06-03 11:11] askebv commented on #61
I just had this occur to me too:

![image](https://cloud.githubusercontent.com/assets/4981659/15777017/72be5716-298c-11e6-8bbf-23be4ccbbf21.png)

I'm thinking it could be related to the fact that I killed 1 or 2 of the parts (dogs) of the boss while having the health bars shown, and then died before clearing them all.

And then this bug happened after relaunching the raid.

Does that sound right f

[2016-06-03 13:12] askebv opened #81 "Tall buildings don't display the top after deletion"
This happens after you press OK to the confirmation dialog:

![image](https://cloud.githubusercontent.com/assets/4981659/15779534/381b2b8c-299d-11e6-821b-a737e61d6f7e.png)

This only persists in demolition mode. Once you exit out or change to build mode, it goes away.

[2016-06-03 13:25] askebv commented on #80
You can also see it here, in the first second of this clip:

![image](https://i.gyazo.com/5b7201c6614aca4e56a4bb1bd7ef43dc.gif)

He got pushed even further in there by one of his mates. And the other guys are dancing :P ... or super bad at the game of avoidance!  This is level 28 by the way.

[2016-06-03 13:47] Ethismos commented on #76
I also just lost my Obelisk. Rip 5k...

It was placed right in the middle, next to where the first bonfire is, with dirt road on 3 of his sides and temple of the ancients to the right... if it makes any difference.

[2016-06-03 13:56] askebv opened #82 "Melee enemies have super long attack range in level 33-36"
I didn't reach to capture it in time, but you can see that the enemy doesn't really move. That's because he can attack at a ridiculous range:

![image](https://i.gyazo.com/3cf71210c08dff2b72ff645c93199199.gif)

[2016-06-03 13:58] askebv commented on #82
Same goes for farm level 34 - and probably all the other levels where these two enemies exists.

[2016-06-03 14:00] askebv commented on #82
Yup level 35 as well:

![image](https://i.gyazo.com/6da75317bce592a4c84cbcb8e822c255.gif)

[2016-06-03 14:11] askebv opened #83 "Red priestesses largely ignore raiders"
I don't know how effective they're supposed to be, but often a lot of them often just wonder around without ever healing the raiders that return with very low hp. But if the raiders get close to them, they often notice them and heal. It seems to mostly be a problem if only one or two raiders return, but I'm not sure.

[2016-06-03 14:14] Ethismos opened #84 "Suggestion List"
**Training**

Option to see individual stats and / or enter with only a part of your raiders. What you mainly want to test at these features is if X build is better than Y, with 10 raiders doing random critical hits and getting random buffs from skills and abilities there is to much RNG for this kind of test. Entering with just a selected team could fix this.

**Transmog:**

Option to look like yo

[2016-06-03 14:19] askebv opened #85 "Increased monster count seems to have no effect in farm level 40"
There's only one monster in level 40, even though I have an increased monster count (by 1). Is this intended? And does that mean that this ancient wisdom doesn't work anywhere?

![image](https://cloud.githubusercontent.com/assets/4981659/15781532/dc668552-29a6-11e6-958d-5d33919ce782.png)

Also, the place looks very plain. But the monster is also super weird - so maybe it's intended?

Either way, i

[2016-06-03 14:40] askebv commented on #84
I agree with most of this. I'm not sure what you mean in 3a (Equipment and Statistics) though.

For point 4 (Changing Areas), I see it like this: In the vast majority of time, you want one of four things:
1. Go to a specific low level map (for gold and decent exp/time)
2. Change map back and forth to reset the map (for maps that are hard to clear)
3. Have auto-farm-increase on
4. Farm a specific m

[2016-06-03 14:45] Ethismos commented on #84
At 3a i mean there is a huge list of statistics that its not so easy to read, you could move a few of them in other positions to make them easier to read. For example have max HP and MP as a bar next to the raiders portrait at the same menu. This way you get a shorter wall of text. Mainly a visual change, not to important overall.

As for your suggestion about changing farm levels quicker, yes, i

[2016-06-03 14:56] askebv opened #86 "Boss health bars are on top and can't be deselected"
I wanted to equip a new item on my first mage - but the boss health bars (of dead bosses, even) were in the way:

![image](https://cloud.githubusercontent.com/assets/4981659/15782845/0a766eb2-29ac-11e6-812e-2f183954821d.png)

[2016-06-03 15:09] askebv opened #87 "UI: Expansion of the mode selection is inconsistent"
When I click the mode selection button, it sometimes stays for ~3 seconds but sometimes it stays until I press a button.

I noticed this because I started using the trick where you gather your raiders for a raid, and then just after the raid starts, you select auto-increase-farm mode. But often this means that I have to time it so that I open the mode selection briefly before I think the last raid

[2016-06-03 15:13] askebv opened #88 "Have some way to tell if skillbooks won't affect your build"
For example: Does 2 arcane frenzy books means that there's a 5%, 10% or 10.25% chance?

[2016-06-03 15:15] Ethismos opened #89 "Farm level 49 is empty."
Title

[2016-06-03 15:24] askebv commented on #89
Do you have 1 increased mob count (like I do)? In that case, it could be because we need 2 (or more) to get at least 1 to spawn.

[2016-06-03 15:25] Ethismos commented on #89
Nope, i don't have it.

[2016-06-03 15:28] askebv commented on #89
@Ethismos And you also just have a maximum of one monster in level 40, right? Because I do, and I have one of that ancient wisdom unlocked.

I'm on 47 right now, so I'll check 49 too in a bit. But I expect it to be empty for me as well -even with that upgrade.

[2016-06-03 15:39] Ethismos commented on #89
Yes, also one maximum in 40.

[2016-06-03 15:40] askebv commented on #89
Level 49 is definitely bugged. It doesn't seem to have its own map. Go to whichever map and then select auto-increase-farm, and level 49 will have the same layout as the one you were just on:

![image](https://i.gyazo.com/a6b8dab8f0e24aea213eb04458c56394.gif)

[2016-06-03 15:43] Ethismos opened #90 "Well building buff (part 2)"
At part 1 i noticed the buff only mentions rage.

Now i also noticed that the building says 3% and the buff is 2% for every class.

[2016-06-03 15:45] #55 closed, assigned to TravisGesslein

[2016-06-03 15:45] #78 closed, assigned to TravisGesslein

[2016-06-03 15:46] TravisGesslein commented on #76
Did it happen while the game was running and you were building other stuff? Or was the building just gone after a restart?

[2016-06-03 15:48] TravisGesslein commented on #56
It's supposed to give a new mode in the activity UI, but it should also open the same UI if you click on the building. Will investigate. Will also investigate the 0 dps bug. Behavior should be exactly like you suspected.

[2016-06-03 15:51] askebv commented on #76
For me, I am almost certain it was gone while the game was running (and I didn't do a soft reset). It was around the time where I talked about hotkeys and briefly entered build mode to test the alt and escape key, but that was it for building.

[2016-06-03 15:56] Ethismos opened #91 "0 Drops"
Occasionally i get 0 drops from some boss encounters, is this supposed to happen?

For example i just did the first 2 bosses (all 6 enemies) at raid 6 with no drop...

[2016-06-03 15:57] askebv commented on #90
You also mentioned that in the other topic :P

#69 <-- that's your old issue

If you mean that one well says 3% in your buff, then we have it differently, since mine says 6% and I have three of them:

![image](https://cloud.githubusercontent.com/assets/4981659/15784903/ed246f36-29b4-11e6-9b63-e2cbb398e8d3.png)

[2016-06-03 15:59] Ethismos commented on #90
Yeah, i thought it was a tooltip issue at that point. I checked the stats and it actually GIVES 2% that it says at the buff while the building says 3%. Eh, anyway :)

[2016-06-03 16:03] askebv commented on #90
Ah you're right. It actually gives 2% to all raiders.

@Heishe So **to summarize**:
- Tooltip of the buff should say "Energy" or "Mana/Rage/Focus" instead of rage.
- Tooltip of the building should say 2% instead of 3%

[2016-06-03 16:05] Ethismos commented on #90
Yeah!

[2016-06-03 16:09] Ethismos commented on #76
Actually, i also lost my time warped cave, just was never using it to notice it. Not 100% sure if it was at a reset or not, but if it happens again i will try to find out...

[2016-06-03 16:13] askebv opened #92 "Red priestess roaming"
This is probably related to #28 and perhaps #80 as well.

These red priestesses are sure having fun. One of them must be doing a dance ceremony at the temple:

![image](https://i.gyazo.com/c398a067742a2a64862dbf68ce7072c6.gif)

She was stuck there for several minutes. But then finally got free. I didn't see how, but I suspect it was because raiders arrived that she decided to try heal.

[2016-06-03 16:20] askebv opened #93 "[Minor] Auto raid mode changes modes unnecessarily"
Say you're currently in raid mode, and all raiders are in that raid. Then if you change to auto-raid mode, it quickly changes to the farm map, and then back to the raid (which effectively resets the raid).

It probably shouldn't do anything if you're already in the appropriate raid.

It's not really an issue, per say - but I just wanted to mention it.

[2016-06-03 16:26] Ethismos opened #94 "Can't play (All saved games all browsers bugged)"
http://imgur.com/LgfpXaY

Happens with all my save games from the oldest to newest and when i try to start new game from scratch. Any chance you are patching something?

[2016-06-03 16:28] Drakenfeld commented on #94
After you import the game refresh the game and it should load, i had the same problem when i changed computers.

[2016-06-03 16:33] Ethismos commented on #94
Nope, and i have the same issue with ALL save games (from the first export i did tll now) at ALL browsers (opera, firefox, chrome).

Time to watch some lcs !

[2016-06-03 16:45] #56 closed, assigned to TravisGesslein

[2016-06-03 16:49] TravisGesslein commented on #94
Not patching at the moment. That's not good. Could you send me the savegame? social at pitforest de or travis.gesslein at pitforest de.

[2016-06-03 16:50] TravisGesslein commented on #94
Wait a sec... when you are starting a new game too? That's pretty WTF

[2016-06-03 16:53] askebv opened #95 "Label has default/testing text after a refresh"
I closed the game for a few minutes, and then when I opened the game again and picked auto-raid mode, this appeared:

![image](https://cloud.githubusercontent.com/assets/4981659/15786336/62d16642-29bc-11e6-911d-94ccb5b8e324.png)

It changed to normal as soon as the first raid got launched though.

[2016-06-03 16:53] TravisGesslein commented on #94
That message is shown whenever anything in the game's loading procedure crashes. I have no concrete ideas but this could be an issue with our server as opposed to the game itself. Could also be an issue with your local machine but since it worked fine before that's unlikely, unless you installed browser related stuff recently.

Could you make a screenshot of the errors the console is showing when

[2016-06-03 16:56] askebv opened #96 "Offline progress?"
Is there no offline progress in the beta? It doesn't seem like it, because I had 3.84k when I saved and closed the game. And then after 2 minutes offline, I had 3.83k and my raiders were set to sleep mode (they were in auto-raid mode when I closed the game).

I know offline progress is a difficult beast to handle in a game like this, but I'm just wondering if you no longer want to support it - or

[2016-06-03 16:59] Ethismos commented on #94
So, i just send 2 save games with about 15 minutes difference that are both bugged. If i use any of them i can't start a new game or load any other save file until i close the broswer and go back in, in which case i can start a new game.

 I only had 2 games at cloud so i may have to start over unless i got a save from before my first reset.

I will try to check for errors and post them here.

[2016-06-03 17:01] TravisGesslein commented on #96
No, it's just not re-implemented yet. We just disabled it so far because we haven't gotten around to rebalancing it (the old values are way too high for the new version of the game). We'll patch it in as soon as we can, but we want to get the first wave of bugs out of the way first.

[2016-06-03 17:04] TravisGesslein commented on #94
Ah good, it crashes for me too. I'll try to fix it asap.

[2016-06-03 17:06] askebv commented on #96
@Heishe Yes, I want that too.

Also, now that this has a question tag: Is it alright that I'm "spamming" this issue tracker with all issues I can find? I know a lot of them are pretty minor. And some of them are issues that I know you probably won't deal with until way later (like the pathfinding stuff). I've basically just been defensive by posting everything, because I know I'd forget the things

[2016-06-03 17:10] TravisGesslein commented on #96
No problem at all, appreciated actually :+1:

[2016-06-03 17:10] Ethismos commented on #94
http://imgur.com/R36cUNk

I think it is not the mixed content stuff because i get it at every browser while i 'm at the starting menu and it doesn't keep updating after i choose a save game, wether its a bugged or normal/new one.

Probably the source error thing :)

[2016-06-03 17:12] TravisGesslein commented on #96
Also just in case: My replies aren't meant to sound serious, I just can't find any suitable emojis! :hankey:

[2016-06-03 17:13] Ethismos commented on #96
You went offline? HERETIC!

[2016-06-03 17:13] askebv commented on #96
@Heishe I know the feeling :grinning:

Here's all the emoji in the world btw:

http://www.emoji-cheat-sheet.com/

[2016-06-03 17:17] TravisGesslein commented on #94
I analyzed it and I think this will require a code fix. We'll try to fix it and upload Patch 2 as soon as possible (smaller patch this time, just getting started with work for the most part) which should fix this.

[2016-06-03 17:19] Ethismos commented on #94
Ok, guess i ll take a break for a few hours !

[2016-06-03 17:24] Drakenfeld commented on #96
Well since this is the now the quick question section ill add on little, Is Ravaged Abode the last raid we can currently run?

[2016-06-03 17:28] TravisGesslein commented on #96
Yup!

[2016-06-03 17:52] askebv commented on #58
It also seems to show up at random times (perhaps whenever other events had a chance to occur but didn't)

[2016-06-03 17:56] askebv opened #97 "Inventory sorting doesn't stay after closing the game"
I haven't tested this thoroughly, but I've found several times that my inventory suddenly wasn't sorted, without having changed the sorting mode.

[2016-06-03 18:00] askebv commented on #76
I just lost a lot of things:
- 1 well
- 1 inn
- 3 churches
- 1 town hall

Curiously enough, the inn I lost was the one that survived the last time. And I rebuilt the well recently too, when testing its buff. The 3 churches are also semi-old, but it's the newest one that survived. The town hall is one of the first buildings I bought - after the tents, market and scholar tower.

Their absolute posit

[2016-06-03 18:10] askebv opened #98 "Suggestion: Show active raid finishing time"
Since we can see how fast we completed the raid, and have a record as well, it might be nice to be able to view the current raid time.

Depending on how important the mechanic is (if you'll e.g. have a time-limited raid), it could be shown in the raid view in general, or just inside the tooltip of each raid, where the current times are as well.

[2016-06-03 18:17] TravisGesslein commented on #94
Okay, this had something to do with skill priority lists. In your savegame the game basically thinks that an entity has more skills than it really has, probably because somethign went wrong when you changed the skill priority list of one of the raiders.

We haven't fixed the root problem of why this happens, but we implemented a fix that simply restores the skill priority list to its default order

[2016-06-03 18:18] TravisGesslein commented on #94
I'm closing this issue but will a new one that better fits the description of the actual problem.

[2016-06-03 18:18] #94 closed, assigned to nobody

[2016-06-03 18:20] TravisGesslein opened #99 "Skill priority list is reset to default"
If you restart the game and notice your skill priority list not being saved (seemingly being reset to default), its because the game detected that there was something wrong with it and restorted it to default to prevent the game from crashing.

If this happens to you, it would be awesome if you could tell us how to reproduce the problem and trigger the skill order reset.

[2016-06-03 18:21] TravisGesslein commented on #99
See #94

[2016-06-03 18:22] TravisGesslein commented on #96
I'm leaving this issue open as 'game bug', basically offline farming isn't there even though it's supposed to be.

[2016-06-03 19:04] TravisGesslein commented on #48
It makes raiders walk away from AOE dot attacks like the like the lava bomb from "fireal" in Burning Cave, or the fire things which the old fire elemental in Mountain Refuge spawned. Some AOE attacks aren't included, like the dragon's fire breath.

[2016-06-03 19:07] askebv commented on #48
Yeah, I since saw its effects. It's not super effective but it does make a tiny difference I suppose. In reality they're not really avoiding it - they're just sneaking slowly out of the area. Often they'll take over 20 seconds to get out of a small AoE area, and by then, it might even be gone.

Are they intended to move that slowly? And will we later be able to get "learned raiders" that have expe

[2016-06-03 19:20] askebv opened #100 "(De)activating a raider upgrade that gives skillbooks"
I just bought the saving throw raider upgrade. I saw that you could activate the upgrade, which stroke me as odd. But it took an upgrade slot. But I couldn't deactivate it again.

![image](https://cloud.githubusercontent.com/assets/4981659/15790300/e9958d48-29d0-11e6-9ccc-1dcabb80a8d3.png)

I'll add that clicking the "Deactivate Upgrade" button toggles the text size (as if I hovered the button) wh

[2016-06-03 19:21] TravisGesslein commented on #48
I haven't looked at it since the last time I tried it, it's possible there might just be a movement bug when they walk out of the AOE. They aren't supposed to be any slower than their normal movement speed (but not faster either).

The suggestions after sound exciting. We've had ideas like that written down somewhere on our to-do lists, but yeah, pretty far down, mostly because it's technically pr

[2016-06-03 19:34] askebv opened #101 "Skillbooks duplicate the inventory count in the priority list"
![image](https://cloud.githubusercontent.com/assets/4981659/15790521/ff3e6056-29d1-11e6-8702-c550aaccf44a.png)

To reproduce:
1. Have more than 3 of any specific skillbook in your inventory.
2. Equip (drag-and-drop) one of those skills to a raider.
3. Check the priority list.

It will show the number that is left from the inventory stack. So an initial stack of 3 turns into 2, a stack of 4 turns i

[2016-06-03 19:35] Ethismos commented on #99
Ok, so i caused the bug when i tried to manage my new skills after i bought a bunch of spellbooks from the merchant.

Way to reproduce the skill reset with what i have now:
3x Saving throw. 3x Rallying cry. A warrior.
Equip **one** at your warrior.
![Image1](http://i.imgur.com/8zzMraD.jpg)
Equip **two** at your warrior. - Everything normal.
![Image2](http://i.imgur.com/5BNjCEi.jpg)
Equip **three**

[2016-06-03 19:38] Ethismos commented on #101
Beat me by around 30 seconds :)

[2016-06-03 19:53] Muskar commented on #100
Okay, bought the "Concentrate Attack" skill too, and noticed that I didn't get it before activation - so it's probably intended.

But I'm not sure if I like the idea that I can never deactivate an upgrade. Since I still only have 3 maximum, and have no idea how to get more, I think it should only be fair that I could deactivate the upgrade, as long as this is how you want it to function.

You'd ha

[2016-06-03 19:59] askebv commented on #84
Just found out that there's another frost book that I didn't know about in the Scholar's Tower called "Chill". Also, if Challenging Cry and Protective Shield are abilities that I am supposed to get in there, then I haven't seen any of them yet. This is pretty much all I've seen:

![image](https://cloud.githubusercontent.com/assets/4981659/15791242/69b9a478-29d6-11e6-899f-2be5ca8e161f.png)

[2016-06-03 20:07] askebv opened #102 "Health of raid trash doesn't reset"
![image](https://cloud.githubusercontent.com/assets/4981659/15791395/60ceebec-29d7-11e6-82b7-0dcc398508d8.png)

I damaged these, but died to them apparently. Now after I started the raid again (and the raiders are inside) they still haven't reset.

Is this intended?

[2016-06-03 20:10] Ethismos commented on #84
I got magic missile(x2), arcane barrage(x3), cold focus(x1), quickshot(x4), mighty blow(x6), war cry(x6), arcane bombardment (x2), chill(x1), arcane frenzy(x1) -seems underpowered, hitstreak(x1), charming shot(x3), multiple shots(x1), mark enemy (x2), cleave(x3), Area of Effect Heal (x3), Ignite (x2), Inner Combustion (x1), Rallying Cry (x2), Crippling Shot(x1), Flash Heal (x2), Taunt (x1).

I thi

[2016-06-03 20:11] askebv commented on #48
@Heishe Well, they're not anywhere near walking speed. In fact, they're slower than in the above animations.

It seems like their attack move is conflicting with it. Because they seem to avoid at intended speed when they're already walking (towards a boss).

[2016-06-03 20:17] askebv commented on #84
Yeah, Arcane Frenzy is probably only really good if you have the mana regen to support it. I just have it on because it seems like the best I can do with what I have. My mages are pretty much mana-starved all the time anyway, so I don't feel like it matters too much.

But yeah, it's evident that we have been given a lot of different skills from our RNGods. And some very useful, and the absence of

[2016-06-03 20:21] askebv opened #103 "Error message is hard to see"
The almost-unnoticeable error message display should probably not be semi-disguised by the hotkey bar. It should probably have a border or something else, so you can easily read what it says:

![image](https://cloud.githubusercontent.com/assets/4981659/15791757/8e8ab0fa-29d9-11e6-8e61-454d78ef5b3c.png)

[2016-06-03 20:25] askebv commented on #44
Additionally found that "new item" icons can be affected too. They both get a border and a color:

![image](https://cloud.githubusercontent.com/assets/4981659/15791864/1295b980-29da-11e6-9661-f0cae6caa777.png)

[2016-06-03 20:30] Muskar commented on #100
Hmm, now after a soft reset, Saving Throw is suddenly deactivated, but I still have the upgrades. I don't know if they still work yet:

![image](https://cloud.githubusercontent.com/assets/4981659/15791971/b6361a3a-29da-11e6-8b0e-4a34e2cea1af.png)

[2016-06-03 20:32] Muskar commented on #100
Also, the command skill doesn't seem to work. All raiders get an exclamation mark above their heads, but after half a second, they return to attack whatever they were attacking before.

[2016-06-03 21:01] askebv opened #104 "Saving Throw is only used when the warrior has no targets"
When the warriors are currently occupied, they don't seem to use Saving Throw:

![image](https://i.gyazo.com/7770c065499623918600c5370c22b7ef.gif)

Is that intended? If so, then I hardly see any use. I thought it was supposed to help me clear the 5th raid. But apparently I have to get lucky with Scholar RNG and get Challenging Cry sometime?

I know the skill has a 20 second cooldown, but even when

[2016-06-03 21:25] #57 closed, assigned to TravisGesslein

[2016-06-03 21:26] Muskar commented on #100
Okay, I figured a way to abuse this:

1. Click the deactivate button once.
2. Close the raider upgrades window and open it again.

![image](https://i.gyazo.com/6b03edf0a94cf3c2d5fbce0202cc05e0.gif)

[2016-06-03 21:27] TravisGesslein commented on #59
Fixed in Beta Patch 2

[2016-06-03 21:27] #59 closed, assigned to Talisca

[2016-06-03 21:29] #60 closed, assigned to TravisGesslein

[2016-06-03 21:33] askebv commented on #101
#99

[2016-06-03 21:38] askebv opened #105 "How do you get a higher upgrade max?"
@Ethismos mentioned that he had reached a maximum of 4 upgrades somehow. I have not yet gotten this.

How do you increase it? And the game should probably clue to towards this as well. E.g. when hovering the "X/3 Upgrades" text:

![image](https://cloud.githubusercontent.com/assets/4981659/15793450/54d29df4-29e4-11e6-8ed1-609e40cc1351.png)

[2016-06-03 21:44] Drakenfeld commented on #104
Must have an poor setup or bad luck with gear, I beat the 7th raid last night, Try using magic missile + 2 arcane bombardment + arcane barrage and equip max mana items. 7 attacks at x2 damage each hit for 40Mp at time, with enough mp you can wipe any boss.

[2016-06-03 21:46] askebv commented on #104
I don't have arcane bombardment, whatever that is. I only have barrage and frenzy. It also sounds kinda buggy that you can wipe a boss just with 280 mp. I'm getting nowhere near that. At level 52 I could only get the 5th raid boss down to around 3k hp, if I got lucky with the fire elementals not killing/attacking the wrong people.

[2016-06-03 21:47] #58 closed, assigned to TravisGesslein

[2016-06-03 21:49] Drakenfeld commented on #104
really bad luck then... got 3 so far from the book npc. wish that npc updated more often and gave more books at a time. RNG much!
![raiders7](https://cloud.githubusercontent.com/assets/19689960/15793660/6bf47842-29dd-11e6-9e31-85f48bd4b786.png)

[2016-06-03 21:51] askebv commented on #104
I guess. Instead I got 3 Shield blocks and 3 Bulwarks! :P

Btw 2 additional magic missiles would be x1.67 damage, since magic missiles fires 3 missiles by default. But that is still pretty overpowered, I'd say.

I don't think we're supposed to finish the raids as fast as you have, just by getting lucky with mage skillbooks.

[2016-06-03 21:57] Drakenfeld commented on #104
well 7 magic missiles overall at x2 damage each would be x14 or x2 of basic fireball per cast with none stop casting, + mana potions for the harder bosses. now at 445 Mp on that Mage, maybe i shouldn't of said anything because it is extremely op build.

[2016-06-03 22:00] askebv commented on #104
I've only gotten 2 mana potions in all my playtime (with the game open pretty much 24/7). So your strategy also depends on your RNG in the market :stuck_out_tongue:

Also, I think you've misunderstood the purpose of this closed beta. We're supposed to _EXPOSE_ the glitches so they can improve the game, not keep them to ourselves so we can abuse them :laughing:

[2016-06-03 22:03] Drakenfeld commented on #104
bu bu buttt! I love the build to much to give it up hahaha! /delete post so noone else sees it mahaha! nah i don't mind we sort of need more unique builds in this game or everyone will just have the same setups.

[2016-06-03 22:03] TravisGesslein commented on #105
You get +1 for first clears of all raids after Burning Cave (Chamber of the Seal is the first one to give +1).

Btw regarding one of the suggestions you made in #53 [I will still answer that whole thing btw, as well as other issues here, just no time right now :hankey:], about giving players a better idea about what stuff is going to be unlocked and what they have to do for it, so there's always s

[2016-06-03 22:04] TravisGesslein commented on #105
I always end up with many more paragraphs than intended when I start writing :hankey:

[2016-06-03 22:33] askebv opened #106 "Suggestion: Indicate which menus are open"
I don't know if it's just me, but I keep forgetting which of the 3 UI buttons opens what. E.g. I keep thinking the Raider Upgrades button is the inventory. That's probably because I taught myself that the bottom one was the inventory in the beginning. And then I haven't reprogrammed my intuition well enough since the other button became available.

An easy way to remedy this would be to show some

[2016-06-03 22:50] askebv commented on #76
Lost another 2 churches, an inn and a well. I think it was after a soft reset, but I must admit I still don't pay enough attention to deduct it yet.

I'm heading to bed now, and will leave it running. When I check next time sometime tomorrow, I'll try to pay attention to see if more buildings are lost. And then perhaps do another soft reset just to test if that's the cause.

[2016-06-03 23:21] TravisGesslein commented on #61
Having a hard time reproducing this.

[2016-06-03 23:24] Ethismos commented on #104
I also found similar builds to be kind of OP as i said at another thread, but it is really luck dependant.. will you get decent books? If yes, op mage. If not, to bad and cry...

I would say that builds work in different ways: fire = big crits, i like them while farming to one shot minions (especially healers), frost = fastest cast, good procs (buffs/debuffs) with fast cast speed, arcane = consist

[2016-06-04 07:09] askebv commented on #61
I can clarify what I think I did - which could be hard to reproduce without some debug monitoring tools.

Anyway:
1. Launch the 4th raid.
2. Clear everything up to the 4th boss encounter.
3. Open the health bars of the 4th boss.
4. (Maybe) view the base as the encounter continues
5. Kill only some of the bosses (maybe it's specific ones)
6. Die before killing off more.
7. Relaunch the raid

Altern

[2016-06-04 07:16] askebv commented on #92
I captured another one happening. It seems they're really happy to be stuck on bottom left corners:

![image](https://i.gyazo.com/20ec7c99eb1aca4d7844033a0a2ebe19.gif)

As you can see in the final second, she manages to get free. But she was there for pretty long. And she continued to do it a bit afterwards - but then finally she found another place to be.

[2016-06-04 07:28] askebv commented on #71
I just cleared the Dawn Fortress for the first time and got 1 sunlight cape and 3 Basic Crossbows from it. Even though they're not super good items, that's still 4 rare items in one encounter.

[2016-06-04 08:01] askebv commented on #81
This is the error I get when it happens:

![image](https://cloud.githubusercontent.com/assets/4981659/15798511/4c51e07a-2a3b-11e6-895f-8ee604aa0785.png)

[2016-06-04 08:14] askebv commented on #76
This time I captured it happening. It was definitely because I refreshed the page - so it's probably due to incorrect saving. This is what my base looked before I refreshed the page:

![image](https://cloud.githubusercontent.com/assets/4981659/15798576/ee89d388-2a3c-11e6-9b68-5fcd8636f558.png)

And this is after:

![image](https://cloud.githubusercontent.com/assets/4981659/15798579/04cc8c12-2a3d-1

[2016-06-04 08:22] askebv opened #107 "Royalty Ring equippable by all classes"
Is it supposed to be equippable by all classes?

![image](https://cloud.githubusercontent.com/assets/4981659/15798604/febbe63c-2a3d-11e6-82b3-24907b847c13.png)

It would make sense, since it has a stat that is universally applicable, but since it's the first one I've seen, I just wanted to make sure.

[2016-06-04 08:44] askebv opened #108 "Thoughts on gold and items"
I just wanted to briefly talk about this. I've spent some time on private servers of World and Warcraft. And a common suffix term about the economy there was "-sink". Gold sink. Item sink. etc.

The idea behind them was that with the constant stream of items you gather (and effectively conjure into the world), there needs to be ways for most of them to disappear - or else you'll end up being flood

[2016-06-04 08:53] askebv opened #109 "Right-clicking on consumables consumes them"
You don't even need to click. Hold the right mouse button down is enough to trigger it - like starting a drag.

I've accidentally used a few consumables this way, because right click dragging moves the map/camera.

[2016-06-04 09:27] askebv opened #110 "Dawn Fortress replaced by new raid"
I had 5 raids available when I used my rare consumable map to Dawn Fortress. The Dawn Fortress then appeared on the 6th slot.

Now I cleared the 5th raid (yay, thanks to challenging cry - still no arcane bombardment) and the Frozen Coast raid replaced the slot of the Dawn Fortress raid.

I seriously doubt this is intended.

Also - I'm guessing it's intended that we lose access to the Dawn Fortress

[2016-06-04 10:05] askebv commented on #110
Fortunately I just learned that the auto-raid functionality can take my raiders there regardless! :grinning:

Here's a link (to avoid spoilers) to proof: http://imgur.com/WGMw7f5

[2016-06-04 10:48] TravisGesslein commented on #61
Whew... tried a lot and can't reproduce. Obviously it's real so I put in some blind safeguards by resetting the positions of those character views to their proper positions whenever I can. I'll leave this open in case the error pops up again after Beta Patch 3.

[2016-06-04 10:52] TravisGesslein commented on #62
Mhm... can't reproduce. You had two Sealer's Burden in your inventory?

[2016-06-04 10:59] #65 closed, assigned to TravisGesslein

[2016-06-04 11:00] TravisGesslein commented on #66
Yup, already have an upgrade for the red priestesses on our to-do list to give them another spells which regenerates raider energy points. I'll leave this issue open until it's implemented.

[2016-06-04 11:22] TravisGesslein commented on #67
Can't seem to reproduce. This might happen because something crashed when the boss was killed. If this happens to you or anyone else again, it would be helpful if you could open the browser console with F12 and see what kinds of errors it's throwing around.

[2016-06-04 11:24] TravisGesslein commented on #68
Nope! Was a typo in the code.

[2016-06-04 11:24] #68 closed, assigned to TravisGesslein

[2016-06-04 11:29] Ethismos opened #111 "Farm level 57 - Empty"
Title

[2016-06-04 12:09] askebv commented on #111
So level 49 is fixed now? #89

[2016-06-04 12:10] Ethismos commented on #111
Can't really check because my savegames died again and i can't play !

[2016-06-04 12:11] Ethismos opened #112 "Can't play (Save games bugged - Version 2)"
Same story, sent a mail with the save game and the error message!

[2016-06-04 12:12] Muskar commented on #111
You should probably open up a new issue on that then, and reference the only 94 one - since that's obviously a pretty big problem :stuck_out_tongue:

[2016-06-04 12:13] askebv commented on #112
#94

[2016-06-04 12:16] Ethismos commented on #110
What is this raid? Do you unlock it with an item?

[2016-06-04 12:17] askebv commented on #110
Yes. A rare consumable. I got it over night on auto-raid farming on farm level 5. So it's either a global drop or a drop in raid 1-4, which were the only ones auto-raid could complete at the time.

[2016-06-04 12:23] askebv opened #113 "Suggestion: AI Upgrade to target enemy with low hp"
I've been using the command skillbook for a little while now, and often I've found that my mages unload all the mana into one or two bosses, but then the command skill is released, and now everyone starts hitting the boss that has only been hit by the warriors.

First of all, I don't understand why the command skill is always used at such a delay. It's the first skill on the respective warrior's p

[2016-06-04 12:37] askebv opened #114 "Bulwark raider upgrade doesn't seem to work"
I've tried to test this a bunch and I can't get Bulwark to trigger anymore.

In this example, I had my raiders idle for several minutes in base (to clear the cooldown, if it was there).

I let rage generate above the 30 needed rage:

![image](https://cloud.githubusercontent.com/assets/4981659/15799581/ab3a0984-2a61-11e6-8112-f48b2645ab1e.png)

And I was below 20% hp several times. I was even at 68

[2016-06-04 13:15] askebv opened #115 "Spawn rates of farm level 47 are really low"
I can understand reasons to have super low spawn rates, but level 47 is substantially slower than other maps.

And once you've cleared the map, perhaps there should be a limited time threshold before at least one monster is forced to spawn.

Otherwise the best action for the player would just be to change map back and forth to fill the map again.
Doable? Yes.
Rewards active gameplay? Yes.
Fun game

[2016-06-04 13:15] #97 closed, assigned to Talisca

[2016-06-04 13:16] askebv commented on #111
I still can't get past level 49, so I don't know how you got to level 57. Did you cheat to get there?

[2016-06-04 13:24] Talisca commented on #112
This is related to #89 and #111

With the upcoming patch you should be able to use your savegame again :smile:

[2016-06-04 13:25] Ethismos commented on #111
Nope, was auto farming.

[2016-06-04 13:29] Talisca opened #116 "Some maps are referenced incorrectly (case-sensitive issue)"

[2016-06-04 13:29] Talisca commented on #116
See #111, #89 and #112

[2016-06-04 13:30] #111 closed, assigned to nobody

[2016-06-04 13:30] #89 closed, assigned to nobody

[2016-06-04 13:30] #112 closed, assigned to nobody

[2016-06-04 13:31] #116 closed, assigned to Talisca

[2016-06-04 13:48] askebv commented on #114
When I don't have this upgrade enabled, Bulwark triggers just fine (when I have 30+ rage and an enemy is attacking).

[2016-06-04 13:57] askebv opened #117 "First bosses on Ravaged Abode can be fought separately"
It's possible to have the bosses start so far apart that you can take one down without the other one noticing/engaging:

![image](https://cloud.githubusercontent.com/assets/4981659/15799959/ec86ebda-2a6d-11e6-9793-204629b74ac3.png)

[2016-06-04 14:07] TravisGesslein commented on #107
Yep, for that particular one it's intentional.

[2016-06-04 14:07] #107 closed, assigned to TravisGesslein

[2016-06-04 14:09] TravisGesslein commented on #76
Thank you for that capture. Should hopefully make it easy to reproduce. Will investigate.

[2016-06-04 14:10] askebv commented on #91
I cleared Ravaged Abode for the first time, and got no drops. #70
EDIT: And I don't think I got any in my next many raids either. Maybe the drop rates just slow heavily down in the higher raids for now.

[2016-06-04 14:21] Talisca commented on #115
This is not supposed to happen. One of the monsters got a large respawn time, which leads to this peculiar behavior

[2016-06-04 14:33] #115 closed, assigned to Talisca

[2016-06-04 14:41] #71 closed, assigned to Talisca

[2016-06-04 15:00] askebv opened #118 "Snapshot error: This unique item is already equipped by another raider"
This was my current setup:

![image](https://cloud.githubusercontent.com/assets/4981659/15800287/56398996-2a75-11e6-807a-572564f73bb1.png)

The snapshot I had was a universal snapshot, and it really only had 2 different skillbooks in it:

![image](https://cloud.githubusercontent.com/assets/4981659/15800298/7bb53436-2a75-11e6-85d9-94636d6f6e2d.png)

But when trying to apply the snapshot, it gives t

[2016-06-04 15:02] askebv opened #119 "Doubling clicking a snapshot doesn't use it"
You can't apply a snapshot by double (left) clicking it, like normal consumables.

The only way to apply it (that I could find) is to right click it.

[2016-06-04 15:04] #90 closed, assigned to TravisGesslein

[2016-06-04 15:06] askebv commented on #95
I tried it again, and "basic farming" mode also fixes it.

Another thing about this bug is that they don't actually go farming in auto-raid mode, if all raids are cleared.

[2016-06-04 15:20] askebv commented on #86
Note to players: you can actually move the "Equipment and Skills" window by dragging the title box of the window around. The same goes for other windows with title boxes.

[2016-06-04 15:29] askebv opened #120 "Looting more than one of the same unique item"
This is the first time that I've ever had more than one unique item, so I generously assume that you can't loot a unique set item that you already have.

But this time I looted 2 of them from one boss kill:

![image](https://cloud.githubusercontent.com/assets/4981659/15800437/c95455ec-2a79-11e6-81d1-d7ef7640de37.png)

![image](https://cloud.githubusercontent.com/assets/4981659/15800438/cdbc10ca-2a

[2016-06-04 16:02] askebv opened #121 "Buff counter on Enrage behaves very strangely"
I haven't managed to capture it very well, but I noticed it rarely counts linearly from 10 to 1. It sometimes skips numbers, and sometimes jumps up as well. I've seen it jump from 9 to 5 and 4 to 9 etc.

I would assume it's multiple threads (from refreshed buff triggers) updating the number or something like this.

Here's a (bad) capture of some of the odd behavior:

![image](https://i.gyazo.com/4

[2016-06-04 16:29] askebv opened #122 "Enrage messes sizes up"
I can't tell if all the other raiders have become too big, or if the raiders with the buff just become too small after the buff fades away. But either way, something fishy is going on :tropical_fish:

![image](https://i.gyazo.com/0636bd58b201c7d2bdec948da7d6ad2d.gif)

Notice the small warrior with the axe and shield on the right. He has enrage equipped but doesn't have it triggered before later in

[2016-06-04 16:37] askebv commented on #63
I have a suspicion that it happens when it triggers in The Crypt. I'll try to check for it when I can.

EDIT: Scratch that. Happened without being in The Crypt. I think it has to do with viewing another map than the one your raiders are on, when they enrage. Or perhaps it's when he dies with enrage.

I was viewing the Frozen Coast raid that they had died on, while auto-raiding. And I checked the f

[2016-06-04 20:08] thorbrian commented on #110
I got the same problem but not the same repro conditions - had Dawn Fortress, now I don't, but auto-raid still takes me to Dawn Fortress. However, for me I didn't lose Dawn Fortress by unlocking a raid. I had unlocked to gardens of eternity, and also had Dawn Fortress (and could access them all) but now I just have through gardens of eternity

[2016-06-04 20:13] thorbrian opened #123 "Well buff doesn't match well description"
The Well description says it's a 3% energy regeneration buff for all raiders

However, the well buff says it's a +2% additive rage generation for warriors

[2016-06-04 20:17] thorbrian opened #124 "Wandering merchant ran out of items within the first day, now seems useless, can't tell if there is more to build"
The day I started playing, I bought building unlocks from the merchant up through gravel road, and built at least one of everything - now the merchant doesn't seem to every sell anything more, can't tell if there's anything more to build

![image](https://cloud.githubusercontent.com/assets/11687574/15801845/7c09cccc-2a56-11e6-91bc-363be6b6e02d.png)

[2016-06-04 20:38] thorbrian commented on #76
I've lost a town hall and well - FWIW, I'm pretty sure they were the last two things I built before I lost them

[2016-06-04 20:49] thorbrian opened #125 "Health and Mana bars aren't readable, for me"
The resolution of the text on health and mana is pretty terrible - seems like there is a lot of dead space under the raider lists, so would be nice to make the text bigger

![image](https://cloud.githubusercontent.com/assets/11687574/15802004/34fd9534-2a5b-11e6-88fe-fc12c2cd8c52.png)

[2016-06-04 21:20] thorbrian opened #126 "I wish I could click on all monsters and heros, like I can on bosses"

[2016-06-04 21:25] thorbrian opened #127 "Patch log notice shows when I am on latest"
It tells me there is a new patch available, when I am on Beta 2, and changelog shows Beta 2 as latest

![image](https://cloud.githubusercontent.com/assets/11687574/15802217/18484ff6-2a60-11e6-9c57-c4d3364d784e.png)

[2016-06-04 21:33] askebv commented on #127
#58

[2016-06-04 21:34] askebv commented on #123
[#90](https://github.com/Heishe/idleraiders-second-run/issues/90#issuecomment-223620535)

[2016-06-04 21:39] thorbrian opened #128 "I can't figure out how to use a raider snapshot"
I saved a raider snapshot for an archer, and now want to activate it, but I can't figure out how

I tried clicking it, can't see an option to use it. I tried double clicking it, nothing happened.

I have the needed items:
![image](https://cloud.githubusercontent.com/assets/11687574/15802296/1ee7c8a8-2a62-11e6-8106-a78f4777e662.png)

[2016-06-04 21:45] askebv opened #129 "Reflecting item set bonus in statistics"
The full Might of the Sealer set gives 100% to rage regeneration for all warriors - but it doesn't show in statistics. Is this intended? I know not all set bonuses can be shown in the stats, but some can. And I think they probably should be.

And also - what does the Mage set bonus do?

The only thing I can think of is that it pretends I have an extra ability slot, and that it put the _Skillbook:

[2016-06-04 21:46] askebv commented on #128
Yeah it's probably a bug. But like consumables, you can single right click them #119

[2016-06-04 22:55] #127 closed, assigned to nobody

[2016-06-04 23:57] #119 closed, assigned to Talisca

[2016-06-04 23:57] #128 closed, assigned to nobody

[2016-06-05 07:28] askebv commented on #122
Ran the game over night and my two enrage warriors got like this:

![image](https://cloud.githubusercontent.com/assets/4981659/15804131/c6f4ca72-2afe-11e6-995e-0479cc65e846.png)

My view was set on the base. I suspect I can increase their size if I'm raid view mode (I think it happens when they enrage in another place than what you're viewing) - so I'll let it run there for a few hours.

If I refr

[2016-06-05 08:15] thorbrian commented on #122
Might have to do with dying? I do a lot of that:
![image](https://cloud.githubusercontent.com/assets/11687574/15804378/f0e7a0f0-2aba-11e6-934e-534123b5daad.png)

[2016-06-05 08:22] thorbrian opened #130 "Boss health display can get messed up to be positioned off screen"
I never saw this until I started fighting multi-monster bosses, but now it's very common for the boss health to get offset off the top screen somehow, so I can't see the first boss health (so when there's just one boss, I can't see that)

![image](https://cloud.githubusercontent.com/assets/11687574/15804404/cdc75970-2abb-11e6-8a5d-55bde8f987e8.png)

[2016-06-05 08:30] thorbrian opened #131 "I've never seen any mercenaries be available, no idea if that's expected"
I've got raids unlocked up to the frozen coast (beat the chamber of the sealer) and have bought and built everything the wandering merchant had to offer, but never seen a mercenary:

![image](https://cloud.githubusercontent.com/assets/11687574/15804445/f0b6026e-2abc-11e6-88c3-ddf24c9f7f08.png)

[2016-06-05 08:35] thorbrian opened #132 "Temple of the ancients showed up as buildable, without any indication or notice"
After playing for days with nothing new to build at all, I suddenly noticed temple of the ancients was available to build, no notice or indication that it had been unlocked (I wouldn't have even opened the build menu except that I wanted to read the tooltip on the mercenary building to see if it told me why I haven't gotten any mercenaries to show)

[2016-06-05 09:12] askebv commented on #130
#61

[2016-06-05 09:21] thorbrian opened #133 "Disabling effects when window is not open makes there be a bunch of effects when you go back to the window"
Coins and marked targets at least all accumulate and play together later when you come back to the window with effects disabled

![image](https://cloud.githubusercontent.com/assets/11687574/15804618/26ff9cac-2ac4-11e6-85f8-c189af52a0bc.png)

[2016-06-05 10:33] #130 closed, assigned to nobody

[2016-06-05 10:34] #105 closed, assigned to TravisGesslein

[2016-06-05 10:37] askebv commented on #122
Yeah I don't think it's related to the place you're viewing. My raiders have become even smaller in the last 3 hours. And now my hypothesis is that it relates to where your raiders die. When my raiders got huge, they died in Burning Cave in auto-raid mode. Now they die on Ravaged Abode.

But I'm still not able to establish a reproducable pattern yet, sadly.

**EDIT:**
I reached a point where one o

[2016-06-05 10:53] TravisGesslein commented on #99
Thank you and @Muskar for the detailled descriptions, working on this fix now.

[2016-06-05 12:03] #99 closed, assigned to TravisGesslein

[2016-06-05 12:03] TravisGesslein commented on #101
Fixed thanks to you!

[2016-06-05 12:03] #101 closed, assigned to TravisGesslein

[2016-06-05 12:24] TravisGesslein commented on #133
I think we just forgot to disable some of them when the flag is activated. This leads to them getting queued up when you're tabbed out of focus.

[2016-06-05 12:28] TravisGesslein commented on #133
Actually... checking the code they are definitely disabled correctly. Might be a bug with the options menu instead... maybe it doesn't correctly update the settings you choose in the options menu.

[2016-06-05 12:30] TravisGesslein commented on #133
Can you check if the option is actually still enabled for you?

[2016-06-05 12:33] TravisGesslein commented on #133
Also! It might be an issue with how we detect whether or not a window is focused. Could you tell us what exactly you do to make the window not have focus? Just activate a different tab? Minimize the window? (by clicking on the minimize button, or some key combations, etc?). Also which browser do you use?

[2016-06-05 13:16] TravisGesslein commented on #73
Secret :santa:

[2016-06-05 13:16] #73 closed, assigned to nobody

[2016-06-05 13:51] TravisGesslein commented on #91
We forgot to add loot tables to two of the bosses in the raid, should be fixed with patch 3

[2016-06-05 13:51] #91 closed, assigned to TravisGesslein

[2016-06-05 13:52] TravisGesslein commented on #70
Will be fixed in patch 3

[2016-06-05 13:55] TravisGesslein commented on #74
I think when any windows are open and the player switches views to something different, the intention is probably to close the windows anyways. I'll add a functionality to just close all open windows when the player changes views and we'll see how players like it.

[2016-06-05 14:03] #74 closed, assigned to TravisGesslein

[2016-06-05 14:06] #44 closed, assigned to Talisca

[2016-06-05 14:07] #70 closed, assigned to TravisGesslein

[2016-06-05 14:37] askebv commented on #74
@Heishe Most of the times, yes. But sometimes I've had my equipment menu up, and realized I wanted to check the priority list - and in that case, I'd like the windows to stay open. But that's also because there's no direct way to check the priority list outside of the base.

[2016-06-05 15:32] askebv opened #134 "Raiders/monsters/bosses/entities are not layered as expected"
Actually, since I just took a screenshot on the enrage bug, I noticed I had also captured something I had found earlier in boss encounters of some of the big bosses (particularly last boss in Burning Cave):

![image](https://cloud.githubusercontent.com/assets/4981659/15806308/c0c926ce-2b40-11e6-81e1-c481c20c05c2.png)

As you can see, the medium-sized warrior with both axe and shield is rendered in

[2016-06-05 15:41] TravisGesslein commented on #62
OK was hard to reproduce but I managed eventually... should be fixed in patch 3.

[2016-06-05 15:41] #62 closed, assigned to TravisGesslein

[2016-06-05 15:42] TravisGesslein commented on #132
Yes, we will have notifications of some form for all kinds of unlocks. I'm keeping this open as a kind of reminder.

[2016-06-05 15:43] TravisGesslein commented on #131
No, we forgot to add the default mercenary :hankey:. Other mercenary types can be unlocked in various ways.

[2016-06-05 16:01] TravisGesslein commented on #76
Yep was an easy fix thanks to the detailed descriptions above.

[2016-06-05 16:01] #76 closed, assigned to TravisGesslein

[2016-06-05 16:02] TravisGesslein commented on #81
Yep this is a renderer bug. Can't fix this for Patch 3, I will tackle it for Beta Patch 4. Afaik a simple workaround is to toggle between the viewed maps or basebuilding/normal mode once.

edit: Oh yes you said as much as well.

[2016-06-05 16:11] #95 closed, assigned to TravisGesslein

[2016-06-05 16:13] #118 closed, assigned to Talisca

[2016-06-05 16:16] #69 closed, assigned to TravisGesslein

[2016-06-05 17:07] askebv commented on #93
Hmm, at the time I posted this, I found it to quickly start the raid again. That was on Burning Cave.

But now I tried it again, this time on Frozen Coast, and it still stopped the raid (which I wouldn't expect) but instead of starting the raid shortly after, it also initialized the waiting/resting period that auto-raid has between raids:

![image](https://i.gyazo.com/64b26561adc180b312a22c3e7d124

[2016-06-05 17:18] askebv commented on #76
@Heishe I'm sorry - it's not entirely fixed just yet :stuck_out_tongue:

I just refreshed to get the 3rd patch, rebuilt the things that had saved incorrectly and then refreshed again. Now I'm only losing one building.

Before refresh:
![image](https://cloud.githubusercontent.com/assets/4981659/15807000/e20e055a-2b51-11e6-9e71-cde8d1fb5784.png)

After refresh:
![image](https://cloud.githubuserconte

[2016-06-05 17:31] askebv commented on #120
@Talisca I just looted 2 unique items in Beta Patch 3:

![image](https://cloud.githubusercontent.com/assets/4981659/15807093/091d4348-2b54-11e6-87ce-7d42912ea4ee.png)

[2016-06-05 17:42] askebv opened #135 ""Snapshots first" sorting ability"
This is probably just a leftover function from the alpha version, since snapshots have a different section now :stuck_out_tongue:

![image](https://cloud.githubusercontent.com/assets/4981659/15812834/b1fb43d8-2bb9-11e6-845d-a072f764ea3a.png)

[2016-06-05 17:51] askebv opened #136 "Thoughts on sorting options"
Being able to sort after "[category] first" has not been very convenient for me. It means that I only have control over 1 category of items. Instead I'd probably prefer if we could make a priority/order list for the categories.

But basically, isn't the sorting - as is - mostly useful for _finding_ items, rather than keeping them organized? And in that case, a _filter_ system would be much more co

[2016-06-05 17:56] askebv opened #137 "Interactable buildings have an overlapping hitbox"
One click can open two buildings at once, which is probably never desired:

![image](https://i.gyazo.com/e11d2fe5161bf91892565c1462f31a76.gif)

[2016-06-05 18:01] askebv opened #138 "Changing to practice mode should change to practice view"
I don't see any scenario where you wouldn't want it to change to practice view immediately after starting practice mode.

[2016-06-05 18:09] askebv opened #139 "Suggestion: Warning that you'll lose the efreet on auto-increase-farm-mode"
When you have auto-increase-farm-mode enabled and an efreet has spawned, it still just skips forward when you have killed enough to do it - effectively losing the possible gains from the efreet.

I actually think it's very fair that you have a relatively high risk to lose an efreet on AFK-friendly modes. And also, efreets can be a very big challenge if your farm level is very near the border of wh

[2016-06-05 18:10] Muskar commented on #42
I've never seen the Love is in the air event. Do the notifications quickly disappear or something?

[2016-06-05 18:11] askebv opened #140 "Does "Love is in the air" ever happen?"
I noticed Ethismos talked about the "Love is in the air" event in the very first patch. I've not seen this yet - but I don't pay attention to the game all the time. Do the notifications quickly disappear or something? I know they used to stay until the event was over.

[2016-06-05 18:19] thorbrian commented on #122
I just reloaded the game so he was back to normal, then left it overnight, on auto farm, looking at the same location I was farming, farming mobs that would never have killed me, and when I got up in the morning, my enrage warrior was like a single pixel.

Maybe it's something that happens when enrage triggers when enraged?

[2016-06-05 18:25] askebv opened #141 "Attacking nearest enemy in farm level 59"
I don't know if it's intentional, but since our raiders seem to judge "nearest enemy" by direct distance, they choose to attack an enemy that would require a much longer path to reach, thus ignoring a ton of enemies on the way:

![image](https://cloud.githubusercontent.com/assets/4981659/15807327/7c27e044-2b5b-11e6-937b-98d2db300e8e.png)

It killed my raiders several times, and I felt like the bes

[2016-06-05 18:28] thorbrian commented on #136
I would _love_ to sort by what class can use. It's the only think I want to sort by.

[2016-06-05 18:33] askebv opened #142 "[Minor] Farm monsters can be pushed outside of the map"
![image](https://i.gyazo.com/035535291c9fba5205daebd645a56cf1.gif)

As you can see, one of the lizards are pushed out of the screen by the other lizard.

I don't know if this is intentional, but it doesn't really hurt anything, in my view. Because it seizes to exist, and thus a new one can just respawn. Additionally, this would probably only happen when the farm monsters are spawn-camping you near

[2016-06-05 18:40] askebv commented on #131
This should probably be closed, since this is fixed in Beta Patch 3:

![image](https://cloud.githubusercontent.com/assets/4981659/15807396/c8bced4e-2b5d-11e6-81c9-1342c22b7fea.png)

[2016-06-05 18:47] askebv commented on #79
I just noticed something similar happening on the trash mobs of Gardens of Eternity as well, and realize that I might have seen it happen many different places too. It might just be due to the fact that our raiders (mostly archers, but also somewhat mages) seem to engage an attack and then commit to finishing the entire animation, even when the enemies are already dead.

[2016-06-05 18:53] thorbrian commented on #133
Hmm... checkbox is off now - and it seems to be staying on when I click it on now

so I guess it's queueing up effects when effects are on (so when checkbox is off)

browser is chrome, I'm just switching between tabs

[2016-06-05 18:54] thorbrian opened #143 "Cold Focus doesn't say what the damage boost for the buff is"
Unlike most objects, which tell you all the needed info about their stats, cold focus doesn't say how big the damage boost buff is

![image](https://cloud.githubusercontent.com/assets/11687574/15807484/47b12dc6-2b14-11e6-8014-cbcfe0911377.png)

[2016-06-05 19:11] askebv opened #144 "Does the "Protective Shield" skill exist yet?"
There's a raider upgrade that references the "Protective Shield" skill:

![image](https://cloud.githubusercontent.com/assets/4981659/15807572/0ea0bbca-2b62-11e6-9fbd-c26dda9c9a7e.png)

It sounds like a priest skill (like the [Power Word: Shield from WoW](http://www.wowhead.com/spell=17/power-word-shield)) but I've never gotten it. I've cleared all raids many times now, including the Dawn Fortress.

[2016-06-05 19:21] askebv opened #145 ""Hail of Arrows" only 3-4 hits nearby enemies"
There's a raider upgrade called "Hail of Arrows" which seems to only hit the nearest 3 or 4 targets. However the description and animation seems to suggest that all enemies in the entire map are hit:

![image](https://cloud.githubusercontent.com/assets/4981659/15807879/da66f75a-2b68-11e6-9c0c-2d9432caa6c9.png)

[2016-06-05 19:24] thorbrian opened #146 "The Sturdy Cloak mistaken 35x attack speed thing was super awesome"
Just FYI, the super attack speed mage cloak was great - it felt like since the mage was mana bound anyways, it didn't make things fundamentally unbalanced, but was super satisfying none the less. Was one of my favorite things in the game to charge him, then fight an old boss with fireballs on (I run magic missile with the no cooldown thing as well, btw, and still chose the book over the cloak for

[2016-06-05 19:30] thorbrian opened #147 "Effects are offset on the Big lava dog boss in the burning cave"
Here is the lava dog hit with Chill - you can see the ice crystals that normally are at a mobs feet are down below him. ignite buff does the same thing on him.

![image](https://cloud.githubusercontent.com/assets/11687574/15807679/36c11bc0-2b19-11e6-8d99-50f4da3f61d5.png)

[2016-06-05 19:41] askebv opened #148 "Confusion of ancient wisdom description: Increased energy"
In the description it says _increases the energy points [...] of all raiders by 10%_:
![image](https://cloud.githubusercontent.com/assets/4981659/15807743/e7e907a4-2b65-11e6-8b89-553ba6bd94ff.png)

It should probably say:
_increases the **base** energy points [...] of all raiders by 10%_

or better:
 _increases the energy points [...] of all raiders by **10**_

In other words. 450 mana becomes 460

[2016-06-05 19:52] askebv opened #149 "Some way to monitor current cooldowns"
Even if you don't want to have this implemented in the long run, it could be nice to be able to see which skills are on cooldown and how long they have left.

One way to show it, if you wanted to really implement it in the game, was to do the same effect that you have on used consumables, and put them on skillbooks in the equipment and statistics window.

If that's not something you want, then per

[2016-06-05 20:06] askebv opened #150 "Clicking a notification when having equipment window open"
Like #74 but with notifications. I'm not sure, but I think I'd prefer it if notification clicks also closed everything and changed the view.

[2016-06-06 05:37] askebv opened #151 "Second tab on inventory"
![image](https://cloud.githubusercontent.com/assets/4981659/15812786/4a042fa6-2bb9-11e6-991b-c52ac9f376b8.png)

As you can see, I have a second tab without having a full inventory. I can't figure out how to move items between the inventories either. And when I sorted my stuff, both tabs showed the same items. Then when I applied a snapshot, the second tab disappeared.

[2016-06-06 06:01] Talisca commented on #151
Hm, will look into it.

You're actually able to move the items between tabs by drag'n'drop. The tabs are switched if you hover over them with a pressed mouse button.

[2016-06-06 06:06] Talisca opened #152 "Game crashes if the same mercenary is hired again"

[2016-06-06 06:12] thorbrian commented on #152
I may have just experienced this. I bought mad dog for a second time, then tried to do a raid, and I got this:
![image](https://cloud.githubusercontent.com/assets/11687574/15813303/c3fc3872-2b72-11e6-8770-e106ec6fb06e.png)

and then tried to cancel the raid by doing resting (for obvious reasons) and then I got this:
![image](https://cloud.githubusercontent.com/assets/11687574/15813329/eb9bc6d6-2b7

[2016-06-06 06:14] askebv commented on #151
I figured as much - but didn't manage to test it because the second tab disappeared.

[2016-06-06 06:14] askebv opened #153 "I still "mysteriously lose" my training facility"
https://github.com/Heishe/idleraiders-second-run/issues/76#issuecomment-223825173

[2016-06-06 06:15] askebv opened #154 "Looted more than 2 arctic honors (unique items)"
https://github.com/Heishe/idleraiders-second-run/issues/120#issuecomment-223825932

[2016-06-06 06:25] Talisca commented on #154
:cry:

[2016-06-06 06:26] #154 closed, assigned to nobody

[2016-06-06 07:24] Talisca commented on #120
Well, it was just a problem with the item itself

[2016-06-06 07:24] #120 closed, assigned to Talisca

[2016-06-06 08:06] #135 closed, assigned to Talisca

[2016-06-06 08:49] AlexanderOtte commented on #39
done

[2016-06-06 08:49] #39 closed, assigned to AlexanderOtte

[2016-06-06 09:02] askebv commented on #122
I've noticed my guy with mighty blow always grows or shrinks faster than the one without it. Still feel like I'm shooting in the dark here though :dizzy:

[2016-06-06 09:05] askebv commented on #145
Weird. On Farming level 10, it seems to hit (almost) all enemies. It didn't on several other farm maps though - and neither in the raids I checked. So maybe it's related to how close they are together or something?

[2016-06-06 09:09] TravisGesslein commented on #63
I'm locking this as duplicate and will leave the later one up since it contains more correspondence.

[2016-06-06 09:09] #63 closed, assigned to nobody

[2016-06-06 09:15] #151 closed, assigned to Talisca

[2016-06-06 09:29] TravisGesslein commented on #122
After some testing, it seems that down/up scaling are applied in unequal amounts under some circumstances that I have yet to determine (when a buff triggers it scales the raider up, when it runs out it scales it down... it shouldn't get triggered multiple times if it just resets the duration). This results in the scale being permanently off.

[2016-06-06 09:52] Talisca opened #155 "Some effects are scaled incorrectly"
See #147

[2016-06-06 10:13] TravisGesslein commented on #122
Closing in on a fix!

[2016-06-06 10:18] askebv commented on #122
My raiders are excited about the news! They very much look forward to the day where they can reach above the crumbs on the floor!

![image](https://i.gyazo.com/a2d576c8e1df913fd4158059fbb23aab.gif)

I would refresh the page - but now that I can't cheat money back in, it's quite expensive to lose the training facility every time!

[2016-06-06 10:23] #122 closed, assigned to TravisGesslein

[2016-06-06 10:29] TravisGesslein commented on #149
It's something I've wanted to include for a while, but no time to get around to it so far. Adding them to the equipment screen would be pretty easy. But I'm afraid of compelling players to constantly have the equipment screen opened just for this reason...  I think thats kind of a "adding more stuff to the soup doesn't necessarily make it better" deal. Similar to always having the map opened in th

[2016-06-06 10:30] askebv commented on #110
I tried unlocking all raids first, and then using the map. This made it show up initially, but the raid vanished again later - like thorbrian says. Perhaps when the global cooldown was finished? But yeah - like thorbrian, I can also still access it through auto-raid.

[2016-06-06 10:32] askebv commented on #149
I agree. Ideally I would also want better ways to see it for sure. But for now, I mostly just want it for debugging purposes. At the time, we are your beta-testers after all :P

[2016-06-06 10:35] TravisGesslein commented on #149
I guess it wouldn't be harmful if I make it a disabled-by-default option until we get around to implementing it properly.

[2016-06-06 10:36] TravisGesslein commented on #149
I'll check it out for beta patch 4.

[2016-06-06 11:00] askebv opened #156 "Suggestion: Only use command/taunt/challenging cry if it has an effect"
Often Skillbook: Command is used when all my raiders are already attacking that enemy. It doesn't really make sense, clutters the visual and sound effects, and puts it unnecessarily on cooldown.

And taunt is also used, even though the warrior's target is already attacking him.

I'm not 100% sure about challenging cry, but I think it does it too. As of now, the long cooldown means it's rarely used

[2016-06-06 11:05] askebv opened #157 "Skillbook command cooldown"
The description of the skill says it has a 30 second cooldown:

![image](https://cloud.githubusercontent.com/assets/4981659/15820050/0c348f44-2be7-11e6-817f-d231267c2c71.png)

But in reality, it's more like 3 seconds:

![image](https://i.gyazo.com/2e7c35796d0f92c9d3642adcec71335d.gif)

I'd like to think that the description is the wrong thing, since it wouldn't be a very useful skill if it could o

[2016-06-06 11:52] TravisGesslein commented on #149
Yup
![cooldowns](https://cloud.githubusercontent.com/assets/2046189/15821058/e0eada76-2bed-11e6-84e1-5c9a8bb10ec0.png)

[2016-06-06 11:52] #149 closed, assigned to TravisGesslein

[2016-06-06 12:13] askebv commented on #82
These enemies often also stay for a few seconds after they're dead. Don't know if that's intended.

[2016-06-06 12:24] TravisGesslein commented on #157
Will be 10 sec in next patch.

[2016-06-06 12:24] #157 closed, assigned to TravisGesslein

[2016-06-06 12:33] TravisGesslein commented on #76
Could you send us a savegame with the building intact to social _at pitforest.de? Might be left-over in your savegame from the buggy version.

[2016-06-06 13:24] Ethismos opened #158 "Arctic Honor."
I think this should be a warrior only item. The 10 min rage/mana/focus is practically useless for any other class.

[2016-06-06 13:28] Ethismos opened #159 "Soul of the frozen coast set - Bug and free loot abuse."
1) The blizzard can be summoned at your base, wasting the cooldown.
2) You can "bug" some raider by blocking him with buildings, then have the rest of your raiders go to a hard raid and afk at the entrance while you make sure your precious raider at base is blocked from leaving. Your raiders will summon blizzard over and over again until bosses die.

[2016-06-06 13:29] askebv commented on #158
I'm using it for my priest (combined with flash heal). With 100+ percentage rage generation (from fire set and elsewhere), I'm basically full most of the time.

[2016-06-06 13:31] Ethismos opened #160 "Snow hunting spear"
2.5 damage warrior item from last boss of the game?

[2016-06-06 13:33] Ethismos opened #161 "Snapshots"
Quite a few bugs, clicking snapshots and getting only half the items, clicking snapshots and having items unequiped but not new ones equipped etc. I can't be to specific atm but i just get bugs every time i use the feature.

[2016-06-06 13:34] TravisGesslein commented on #158
Correct, this should be a Warrior item. Sorry for your priest lol

[2016-06-06 13:35] askebv commented on #158
:sob:

[2016-06-06 13:35] #158 closed, assigned to TravisGesslein

[2016-06-06 13:38] askebv commented on #160
It's a common item :grin:

Probably meant for something else than equipping, I hope :P Perhaps just cosmetics? We'll see.

[2016-06-06 13:42] askebv commented on #161
They've worked fine for me.

[2016-06-06 13:43] #82 closed, assigned to TravisGesslein

[2016-06-06 13:43] Ethismos opened #162 "Whole item set dissapears with snapshots"
I tried using a snapshot, all my items were unequiped, first inventory tab was full, no second tab appeared, lost propably 10 items in the process, 6 of them were the whole 6 item set we get from the first raids...

[2016-06-06 13:44] Ethismos commented on #161
#162

[2016-06-06 13:49] askebv commented on #162
Okay, I didn't try using the snapshots without having anything equipped. I'll try save and test it in a bit - just to check if it's a systematic issue.

[2016-06-06 13:53] TravisGesslein commented on #82
They are standing around because they're supposed to play death animations. Will be fixed.

[2016-06-06 13:57] Ethismos commented on #162
Try using it when you have enough equipped items that when unequipped they should move to the second inventory tab. Both times i tried that i lost items because no second inventory tab opened and the extra items got deleted. I 'm mentioning the first set incase it helps with bug fixing because i lost all the items from it (and it was pretty easy to notice compared to other items i may have lost)..

[2016-06-06 14:01] askebv commented on #162
I'm not entirely sure what you mean, but I understand that the bug is related to the threshold between 1 and 2 inventory tabs, and I have 5 empty slots with everything equipped, so I think I can test it. Just gotta finish the last few raids :grin:

[2016-06-06 14:04] TravisGesslein commented on #162
@Ethismos Do the items reappear if you reload the game?

[2016-06-06 14:07] Ethismos commented on #162
@Heishe No, and i can get the same unique items that i lost as drops again now and equip them fine... so i guess the old ones are just gone. I will try to reproduce it at some point to help you more.

[2016-06-06 14:09] askebv commented on #162
I can't reproduce it I think. I've tried unequipping everything, and putting all the unique items in the second tab. But using the snapshot works fine. Both if I'm applying it when viewing the first and second tab of inventory

Can you clarify what else I could try?

[2016-06-06 14:11] askebv commented on #153
@Heishe I just refreshed and the training facility (and everything else) stuck around this time. So it might be fixed! It's still weird for me that it didn't work the first few times I tried it though.

[2016-06-06 14:12] Heishe commented on #162
I think he's saying to have like 79 items in the first tab (no second tab opened), then use a snapshot that would unequip

[2016-06-06 14:12] TravisGesslein commented on #162
Whoops

[2016-06-06 14:19] askebv commented on #162
Like this?

![image](https://i.gyazo.com/024d093f06dd94acd3c1e0c1b1533112.gif)

No items are lost for me when I do it this way.

[2016-06-06 14:27] askebv opened #163 "Question: Is farm level 64 the maximum?"
I think I've killed way above 10 or 20 enemies (or whatever the number is) now and no new maps are opening up, so I assume so. Unless I have to do secret things to unlock more or something :P

[2016-06-06 14:30] askebv commented on #142
I later noticed it doesn't despawn - it is just relocated. I was killing a crab on level 64, and when it was pushed out, a second passed, and then it reappeared with the same health left, at about 10-15 ingame meters away, where other monsters have spawned before.

[2016-06-06 14:44] askebv opened #164 "Buildings charge ~10% more than they cost"
I had this suspicion for a while now, and this time I got it on camera. I have around 10570 gold. I buy an armor shop that costs 10500, and I end up somewhere near -1000 gold:

![image](https://cloud.githubusercontent.com/assets/4981659/15825922/e2eaa3f2-2c05-11e6-885a-035f98fcdb06.png)

![image](https://cloud.githubusercontent.com/assets/4981659/15825935/eb8e89ec-2c05-11e6-9e3c-be537ffda324.png)

[2016-06-06 14:51] askebv opened #165 "Have I been banned from beta?"
I just refreshed the page and got this:

![image](https://cloud.githubusercontent.com/assets/4981659/15826179/db9e5b2e-2c06-11e6-8f5b-342fa30ad34f.png)

I also tried reentering my key and it says it's invalid:

![image](https://cloud.githubusercontent.com/assets/4981659/15826230/0c34fb08-2c07-11e6-843b-b641b3273f30.png)

Oh well - time for a break from debugging then :P

[2016-06-06 15:15] TravisGesslein commented on #165
No, but I think I heard some mutterings about a website bug like that going on between our web dev @Omegahorus  and @Talisca. Will look into it asap

[2016-06-06 15:40] Ethismos opened #166 "Still losing buildings"
Every time i load the game i lose at least:

Training facility, town hall, mercenary guild.

Doesn't matter where i build them.

In some occasions i have lost 1 to 4 red churces and 1 to 4 inns, never all of them...

[2016-06-06 16:10] TravisGesslein commented on #165
Any errors in the console when you try to log in?

[2016-06-06 16:28] askebv commented on #165
No errors. But if I log out and log in again, then all is working again. I just didn't notice there was a log out button in that page :blush:

[2016-06-06 16:29] askebv commented on #153
Scratch that. The training facility is gone again now xD

[2016-06-06 16:29] askebv commented on #166
#153

[2016-06-06 17:08] askebv commented on #164
Just bought a training facility for 500. Turns out I was charged exactly 550 for it. So it seems everything costs 10% more than it should.

[2016-06-06 17:28] Talisca commented on #165
@Muskar Have you been on kongregate-idleraiders before refreshing the beta? If so, you've been logged in with your kongregate-account I think

[2016-06-06 17:32] askebv commented on #165
@Talisca Yes I have. I'll keep that in mind.

[2016-06-06 17:54] Ethismos opened #167 "Lucky Candy"
Item description says that it restores 20 rage/focus/mana over 4 seconds and the buff description says it gives 500% regen and it lasts 10 seconds.

[2016-06-06 19:24] DaemoniaV opened #168 "Does price of Mighty Blow right?"
Mighty Blow skill book cost 5000 Gold. Any other skills in range 100-500.

[2016-06-06 19:32] Ethismos opened #169 "Arena difficulty"
First wave of arena (a skeleton boss) one shots my level 56 main tank with 3308 health and 65% damage taken, is the difficulty broken, or are we supposed to not do arena until more content is released?

[2016-06-06 19:47] DaemoniaV opened #170 "Arena availability"
The Arena zone open is some levels ago but seems there is still not option to start battle. There is bug?

[2016-06-06 20:41] DaemoniaV opened #171 "Suggestion: Auto-focus and Auto-scroll"
When You switch to active Raid Map let game auto-focus on You first raider sin list and when he move screen auto-scroll with him.

[2016-06-06 20:43] askebv commented on #169
How do you access the arena? :blush:

[2016-06-06 20:45] Ethismos commented on #169
Click the cave at base and pay 1500 ^^

[2016-06-06 20:46] askebv commented on #169
Ah right - so it's basically just a random raid boss in arena? Not the old kind of arena?

[2016-06-06 20:48] Ethismos commented on #169
Seems like it, but i get one shotted, i guess i need to get some very high level to test that for bugs.

[2016-06-06 20:50] #170 closed, assigned to nobody

[2016-06-06 21:01] askebv commented on #169
I got curious and tested it out myself. I'm level 57, and close to what you have, my main tank has 3308 health with 67% damage taken. I also met the skeleton boss which one shot him - and obviously the others too. Stay At Range didn't do much either. I think I got him down to about 95% hp, but it's hard to tell.

Definitely some :fish:y balance there

[2016-06-06 21:03] askebv commented on #171
In line with the suggestions in #75

As you can read there as well, for now you can at least use the F-hotkey to center your camera on the raiders. You can also use the equipment menu to track on the raiders, and then close it again, assuming you have disabled the "Reset camera to last position and map..." option, in options :)

[2016-06-06 21:07] Ethismos commented on #169
Well, checking the code there are quite a few things with 10k+ damage per hit, so i suppose they are intended for later stages of the game...

I will try to get some insane level for test purposes and fight this skeleton guy though.. its personal now.

[2016-06-06 21:12] askebv commented on #169
Either way, it's definitely not very user-friendly not to hint this. It's a lot of money to spend on something you can't possibly win at this time. If it is intended to be this way, then I think the availability of the building plans for this mystery cave should require something that aligned with being able to kill the first boss in the arena pretty soon thereafter. E.g. having beaten the 15th ra

[2016-06-06 23:27] DaemoniaV opened #172 "Raid 4: Archer terrorist"
One of My archers constantly ignore first group of three enemy and run to the dogs. Shot them few times and then glad run back with group of dogs at tail. So My time wiped very fast.

[2016-06-06 23:29] DaemoniaV opened #173 "Raid 2: Group attack of Bosses"
Often second boss come to first boss at time of battle with first boss. My raider does not provoke him. One time the third boss come to place where My group fight with first boss.

[2016-06-07 04:12] thorbrian commented on #160
Yeah, this confuses me too

[2016-06-07 04:13] thorbrian opened #174 "I can't figure out how to use an "Enchantment""
I may be dense, but I've got enchantments "blessing" and "greater healing" but I'm totally stumped as to how to make use of them.

I've beaten every raid, gained wisdom a few times, got burnt out seal, built every building that is offered to me

I've tried right clicking, double-clicking, dragging, right dragging the enchantments everywhere I can think of (on top of items, on equipped items and ab

[2016-06-07 04:18] thorbrian opened #175 "A weird effect started showing up, can't tell what it's for"
It appears to show up when I damage things, but can't tell why - location seems to be near enemies, but weirdly offset, and it doesn't seem to place a buff on the target
![image](https://cloud.githubusercontent.com/assets/11687574/15845871/1a11c5a6-2c2c-11e6-9720-37aaeac8efb7.png)

Here's what I have equipped:
![image](https://cloud.githubusercontent.com/assets/11687574/15845885/39db97f4-2c2c-11e6

[2016-06-07 04:23] thorbrian opened #176 "Sometimes a raider won't go to the raid - causing the other raiders to just wait there"
A few times I've gotten situations where all raiders but one go to the raid, causing the rest to wait forever
![image](https://cloud.githubusercontent.com/assets/11687574/15845926/b12f61a0-2c2c-11e6-879a-77a6801391d8.png)

In this case, it was my super-shrunken enrage warrior, ernhat, who doesn't seem to have any reason to be stuck here:
![image](https://cloud.githubusercontent.com/assets/11687574

[2016-06-07 04:25] thorbrian commented on #172
Do you have charm equipped?

I've noticed that archers with charm will leave the boss to go find a target suitable for charm when it is off cooldown. I've actually taken advantage of this by equipping lots of charm skills, and then my archers will go bring all dogs over to slaughter the boss >:)

[2016-06-07 04:27] thorbrian commented on #169
Yeah, I'm pretty motivated to try and beat him too :)

[2016-06-07 04:32] thorbrian commented on #139
I can't tell what the benefit of the efreet is - I see he is buffing mobs, but what's the benefit?

[2016-06-07 04:45] thorbrian opened #177 "What I love about this game"
I just wanted to provide some feedback on what I love about this game - not just what's done well that other games may do well too, but what for me it does better than any other game I can think of

What I love is the cycle of collecting new gear and building a new combination that gets a better result in a specific way. Not just making it better, but trying out different options that are all viab

[2016-06-07 04:52] askebv commented on #139
I just noticed he gives a lot of gold when you kill him, and I guess that's it.

[2016-06-07 04:55] askebv commented on #176
Yeah I've had it happen several times too. But it'll probably be fixed when #122 is

[2016-06-07 05:10] askebv commented on #175
To me it seems to happen when my warriors attack. I thought it was from the fire imbued hatchet - but since you don't have that on, it seems it's not. Could be from the Waraxe of the Sealer?

By the way, what's that legendary sword you have on the priest?

[2016-06-07 05:20] thorbrian commented on #175
Burned out seal, from the sealer boss thing. Not sure if it is simple loot drop or result of some process (I had been equipping the essence of rage thing for fun)

[2016-06-07 05:21] thorbrian commented on #175
You are correct sir - it is indeed waraxe of the sealer. Guess it's just an effect for fun?

[2016-06-07 05:36] askebv commented on #173
You mean the beam-bird and the shrinking-witch came to fight you while you were fighting the tree boss?

I've never had that happen before. Do you think it's due to some item or skill you're using?

[2016-06-07 05:36] thorbrian opened #178 "Hail of Arrows can fire with one archer back in base"
Not sure if this is intended - but the description of the Hail of Arrows says it "Requires the coordination of two archers", which implied to me I needed to archers with the skill in battle - but with one of the archers back in base, it still fires. If it's intended, it's kind of funny and cool, just wanted to let you know.

[2016-06-07 05:38] askebv commented on #174
I swear I had a topic on this before, but I can't find it.

I haven't played the alpha for a long time, but I did the other day, and it turns out they have enchanting in that. So it's probably just something that they'll implement here too. I neither see it here yet though.

[2016-06-07 05:38] askebv commented on #175
Yeah, I'd guess so.

[2016-06-07 05:38] thorbrian commented on #145
I've seen it damage the skeleton boss when using it on the first skeletons, which seemed pretty far on range - but then I've seen it used on the fire demons in burning caves, yet it didn't hit the 4 dogs immediately after, which seemed like the same distance to me

[2016-06-07 05:39] thorbrian commented on #131
true

[2016-06-07 05:39] #131 closed, assigned to nobody

[2016-06-07 05:40] askebv commented on #145
So maybe it depends on which map it is? Maybe it has an incorrect perception of what size the map is or something?

[2016-06-07 05:52] askebv commented on #178
Yeah I noticed that too. I'm neither sure that it's intentional, but I think the main reason of saying it requires "coordination", is probably to make it take a skillbook slot on both archers - which I think is a fair price for such a powerful skill.

[2016-06-07 06:22] thorbrian commented on #173
I've gotten this a few time, when using charm. I noticed the tree helpers spawned by the tree can be charmed - maybe they are somehow triggering aggro on the bird and witch?

[2016-06-07 06:46] Ethismos opened #179 "Damage immune warrior - Armor smith buff"
It seems like the armor smith buff applies as a flat % after everything else is calculated and not as a multiplier. This makes it possible to have damage reduction values above 100% when using bulwark with any other damage reduction items.

This is pretty abusable in late game with some warrior builds, for example taking full atk speed items and full buff duration bonus can make your main tank inv

[2016-06-07 06:48] thorbrian opened #180 "Priest doesn't heal when he should with Overheal upgrade on"
When I turn on the Overheal raider upgrade, a priest with 128 healing power (from burned out seal) isn't healing raiders that need it. See image, where raiders are damaged, overheal is on, but priest isn't healing.

![image](https://cloud.githubusercontent.com/assets/11687574/15848254/bac8c18e-2c40-11e6-8fcc-9bcc7ed54ddf.png)

note that since priest has arctic honor as well, when overheal is off,

[2016-06-07 06:53] Ethismos commented on #164
It seems to me like the more you delete buildings and buy new ones the more the cost is increased. I deleted 10 armor smith buildings to test something (#179) and when i tried to make a new one the cost was 800 but i went at negative gold from 10k +.

So to test it i repeated the process (delete all, buy new ones), and right now my armor smith says 14400 cost and actually costs 300k+.

[2016-06-07 07:02] DaemoniaV commented on #172
Yes it is Charm. Remove it and he stop run out.

[2016-06-07 07:10] DaemoniaV opened #181 "Raid 4: Dont work Taunt"
Every My Warrior have one Taunt book. But the monsters from first group ignor eand hit the other raiders. Only one fight with My warriors often.

[2016-06-07 07:13] thorbrian opened #182 "Single target damage practice dummy not usable with charm equipped"
The single target damage practice dummy is charmable, which means your raiders will have no one to attack while he is charmed, and just hang out at the door

![image](https://cloud.githubusercontent.com/assets/11687574/15848960/b27cc990-2c44-11e6-8ebc-7bb273f7a2cd.png)

[2016-06-07 07:16] thorbrian commented on #181
I believe the warriors only taunt their own target, and taunt has a 10 second cooldown - are the warriors attacking a target that's not attacking them, for longer than 10 seconds?

[2016-06-07 07:23] askebv commented on #164
Nice work. How are you testing this though - is there a new way to cheat in money, because the gamesystem object doesn't seem to exist anymore?

[2016-06-07 07:25] Ethismos commented on #164
Eh, works fine for me, maybe i m at an older patch?

[2016-06-07 07:55] Ethismos commented on #169
Spoiler:

Killing the first boss gives the insane amount of 16(!) gold from the chest!

In one hour i will know if there is a second boss or not.

[2016-06-07 08:20] Talisca commented on #180
The actual healing amount is affected by the received healing modifier of the raiders and the healing output of the healer as well as the formula: healing_amount = 50 + healing_power \* 5

So you've got a healing_amount of about 690. In this case the priest would never heal your archers because of low max hp.

[2016-06-07 08:21] TravisGesslein commented on #163
Actually! The maps should start from the first one again, going up infinitely. Should be a bug.

[2016-06-07 08:24] #147 closed, assigned to Talisca

[2016-06-07 08:24] #155 closed, assigned to Talisca

[2016-06-07 08:29] TravisGesslein commented on #153
Yeah, I rewrote how all of the buildings are saved and loaded, should be fixed once and for all now! hopefully

[2016-06-07 08:29] #153 closed, assigned to TravisGesslein

[2016-06-07 08:31] TravisGesslein commented on #166
Sorry about this one, will be fixed later today when we upload Patch 4.

[2016-06-07 08:31] #166 closed, assigned to TravisGesslein

[2016-06-07 08:31] #182 closed, assigned to Talisca

[2016-06-07 08:42] #163 closed, assigned to TravisGesslein

[2016-06-07 08:45] askebv commented on #164
Hmm works fine for me too now. I guess it was just a temporary thing then. Two days ago it kept giving me the error that the gamesystem object didn't exist, so I just assumed it was a code change in the new patch.

[2016-06-07 08:48] askebv commented on #169
Come on, that's just OP! The return of investment is almost unfathomable.

So does he drop the usual leather and sword? Or just nothing?

[2016-06-07 08:52] askebv commented on #181
You'll need Challenging Cry (from scholar's tower) to taunt other targets than the ones that the warriors target by themself. Or Saving Throw but that skill seems pretty broken/useless when I've tested it.

[2016-06-07 09:02] TravisGesslein commented on #179
We'll convert the buff to the usual exponential fall off. Starting from 100% damage taken, it has nearly the same effect (you will receive 90.4% damage instead of 90.0% with the flat values) but it'll solve the problem you mentioned.

[2016-06-07 09:04] TravisGesslein commented on #179
Although I do suspect Bulwark and the increased Buff duration combination might just be a bit too strong. With the increased buff duration buff a 90% reduced damage uptime is probably almost a free kill for bosses that don't do AOE damage isn't it? Mhm...

[2016-06-07 09:04] #179 closed, assigned to TravisGesslein

[2016-06-07 09:15] DaemoniaV opened #183 "There is way to upgrade amount of activated Riders Upgrade?"

[2016-06-07 09:17] askebv commented on #183
https://github.com/Heishe/idleraiders-second-run/issues/105#issuecomment-223705651

[2016-06-07 09:21] Ethismos commented on #169
Both times no drops, just the arena chest giving 16 gold. Also no second "wave" or boss.

[2016-06-07 09:26] TravisGesslein commented on #181
Actually, for the very first boss in Burning Cave this is intended. The two side-mobs to the boss devil pick a new random target every 10 seconds or so.

[2016-06-07 09:30] TravisGesslein commented on #181
It's true that the default taunt is not intended for this, at least until you get the group taunt upgrade. Instead this encounter was suposed to be a perfect use case for Saving Throw.  I think I should link this with the Saving Throw issue #104

[2016-06-07 09:34] Ethismos commented on #179
Well, with the available gear you can get 36 atk speed from items making bulwark cd 88 seconds. With 4 bulwarks and 120% duration bonus making each bulwark last 22 seconds (and some rage generation management) you can practically be invincible. Even without this bug with the set bonuses etc you can have a 92-93% reduction at all times. Assuming we can enchant buff duration by 50% like we could at

[2016-06-07 09:35] DaemoniaV commented on #183
Thank You.

[2016-06-07 09:41] TravisGesslein commented on #104
Magic missiles mage was supposed to be a "insane damage but high mana cost" build, since it focuses on attack/casting speed (there's also a skillbook that reduces the cooldown of the skill to 0). I will probably adjust the build at that end as opposed to nerfing the damage.

[2016-06-07 09:45] TravisGesslein commented on #104
Also... it's possible none of you have found them yet, but there are higher level skillbooks of the same skills. In particular there's a Level 2 Fireball and Level 2 Frost Shard skillbook. We figured that if we keep dropping higher level versions of the same skill, we encourage players to play around with different builds once they get lucky and get a rare higher level version of a certain skill (

[2016-06-07 10:14] #152 closed, assigned to Talisca

[2016-06-07 10:39] TravisGesslein commented on #104
Also saving throw is bugged, will be fixed in patch 4

[2016-06-07 10:44] #183 closed, assigned to nobody

[2016-06-07 10:55] TravisGesslein commented on #104
Actually... it seems to work perfectly as intended on test maps.
- The skill has a cooldown of 20 seconds, could you have mistaken this for the skill being bugged?
- were the skills in front of the skill priority list? Otherwise there might arise situations where the cooldown of another skill is always finished earlier than the Saving Throws and thus preferred
- Its also relatively costly with 20

[2016-06-07 10:56] #180 closed, assigned to Talisca

[2016-06-07 11:02] TravisGesslein commented on #104
Testing this for a while with the savegame you send me yesterday definitely makes it seem like their rage is often not above 20 (which is no surprise, warriors that are not attacked and have default attack speed generate very little rage). Anyways I increased the range which makes the skill a bunch cooler and it seems to work flawlessly now as long as you have enough rage.

[2016-06-07 11:02] #104 closed, assigned to TravisGesslein

[2016-06-07 11:02] #181 closed, assigned to TravisGesslein

[2016-06-07 11:04] TravisGesslein commented on #178
Indeed, this is not really intended but at the same time I don't have anything against it. As @Muskar says, the primary trade-off is supposed to be the fact that you need one skill slot on both Archers for the skill.

[2016-06-07 11:07] TravisGesslein commented on #178
Actually thinking about it I wouldn't want the skill to become useless in raids or farm maps once one archer dies and is back in the base. I think I'll leave it working as it is right now for that reason, but I'll update the description to reflect this behavior

[2016-06-07 11:20] #178 closed, assigned to TravisGesslein

[2016-06-07 11:23] TravisGesslein commented on #176
The next time this happens, could you open the console (F12 on most browsers) and see if it throws any errors? This behavior is very strange, I don't think it will be fixed by the scaling fix if you have seen it happen for non-shrunk raiders as well.

[2016-06-07 11:29] TravisGesslein commented on #175
This is related to #147 and should be fixed with Patch 4.

[2016-06-07 11:29] #175 closed, assigned to Talisca

[2016-06-07 11:31] Talisca commented on #162
@Ethismos I am not able to reproduce this by any means. Could you provide the savegame prior to this encounter if its still available?

[2016-06-07 11:33] TravisGesslein commented on #177
Glad you like it :D Bad news though: Burned Out Seal (and another related item) are supposed to be Warrior weapons, will be changed in Patch 4. Don't worry, other classes will receive unique items like this as well.

Also keeping this open for the glitch you mentioned where Calming Shot didn't affect the enrage of our lava dog.

[2016-06-07 11:44] Talisca commented on #160
The items which are dropped by the centaur are not balanced for now :smile:

[2016-06-07 11:46] TravisGesslein commented on #177
While investigating it seems like Calming Shot is working as intended: It should remove the enrage effect from Lavrador once it starts. In case you have many other different active skills equipped, make sure to buy the Town Hall and put Calming Shot in the front of the skill priority list.

Also, there's a Raider Upgrade for it which changes the ability to make sure it's only used if the enemy has

[2016-06-07 11:46] #177 closed, assigned to TravisGesslein

[2016-06-07 11:50] TravisGesslein commented on #162
There's another possibility: We released Patch 3 on Sunday which fixed some snapshot related stuff, and @Ethismos browser might not have updated to the latest version (instead using the local cached version). We'll check if we can reproduce the bug in the Beta Patch 2 version.

[2016-06-07 11:54] TravisGesslein commented on #176
Also keep in mind that in the Auto Raid mode, raiders will rest in the base until they are at full HP every time a new raid is started.

[2016-06-07 11:54] Talisca commented on #74
Maybe we should provide some kind of lock in the windows to let the users decide which windows shall be left open

[2016-06-07 11:56] TravisGesslein commented on #174
Yeah, we removed it from the Beta for now since it's too bare-bones (it's actually fully functional for Enchantments already, Enchantments basically enhance or change skillbooks) and will be reintroduced once we get around to creating more items for the crafting system. That and the reintroduction of the modified skill system (Book of Prophecies) will be the first thing we start working on once we

[2016-06-07 11:56] #174 closed, assigned to nobody

[2016-06-07 11:58] TravisGesslein commented on #173
What @thorbrian says would make sense, @DaemoniaV can you confirm that you used Skillbook: Charm too?

[2016-06-07 12:02] askebv commented on #104
@Heishe I didn't include rage in this animation, and I can't confirm if I actively checked since it's a while ago.

Either way, 20 second cooldown still seem useless to me. The stun might be nice, but challenging cry is so much better in the vast majority of scenarios I have encountered.

My logic is this: The primary reason you want targets to hit your tank is so he reduces the damage taken (due

[2016-06-07 12:06] TravisGesslein commented on #172
Ah, it seems the Charming Shot does not have a range at the moment, so it can target all monsters on the entire map. I will add a range restriction to the skill which should fix it.

[2016-06-07 12:11] TravisGesslein commented on #104
You're right, the cooldown is too restrictive since there's already a decent rage cost to the skill and it overlaps with Challenging Cry too much. I will reduce the cooldown, increase the stun duration, and now that the range is unlimited it has a more specialized use case in certain situations like bigger farm maps as well. What do you think about it?

[2016-06-07 12:12] askebv commented on #176
I've only ever seen it happen for super shrunk raiders, but I'll make sure to include the error. It happened to me a few hours ago, and haven't closed the window since. There's no noticable errors in there though (just the https insecure script errors and a bunch of warnings).

[2016-06-07 12:19] TravisGesslein commented on #104
By the way, the original "optimal" use case for Challenging Cry were situations where many monsters spawn on top of your weak archers, mages and priests, like unlucky spawns on farm maps or bosses which spawn monster waves (like Magadom). That's why it has a high cooldown, I specifically didn't want it to be used for all kinds of tauntin jobs a tank might want to do. Now that we reduced the skill

[2016-06-07 12:22] askebv commented on #104
It'll definitely still not be a good item for any of the current raids, or the arena - because the Challenging Cry already handles every scenario with the Raider Upgrade for it. This is because hard raids are handled slowly, and thus the frequency need of it is reduced. If I'm stomping through the raid too fast, then my other raiders can handle the hits no problem anyway.

But for farm maps, it co

[2016-06-07 12:23] DaemoniaV commented on #173
Yes. It is clearly charm. A catch one time. Charmed tree helper provoke second boss.

[2016-06-07 12:29] askebv commented on #176
I just had it happen again, and there's no errors:

![image](https://cloud.githubusercontent.com/assets/4981659/15857517/21af9a0a-2cbc-11e6-9c24-4e7b336d9217.png)

![image](https://cloud.githubusercontent.com/assets/4981659/15857542/3ddba250-2cbc-11e6-8113-a489d8617479.png)

[2016-06-07 12:31] TravisGesslein commented on #162
Yes, we can reproduce this with a Beta Patch 2 version of the game, but not with the latest. I assume this was a browser caching issue so I'm closing this for now. Sorry that this happened btw, we're thinking about some solution to force browsers to update when a new version is out without preventing caching entirely to solve this issue.

[2016-06-07 12:31] #162 closed, assigned to nobody

[2016-06-07 12:31] TravisGesslein commented on #161
Yes, we can reproduce this with a Beta Patch 2 version of the game, but not with the latest. I assume this was a browser caching issue so I'm closing this for now. Sorry that this happened btw, we're thinking about some solution to force browsers to update when a new version is out without preventing caching entirely to solve this issue.

[2016-06-07 12:31] #161 closed, assigned to Talisca

[2016-06-07 12:50] TravisGesslein commented on #173
Thanks, I think it should be a safe fix to just make the map a little bigger and place the bosses a bit further apart.

[2016-06-07 12:52] #172 closed, assigned to TravisGesslein

[2016-06-07 12:54] TravisGesslein commented on #104
I played around a bit and it seems pretty cool, especially with the longer stun duration (5 seconds).

[2016-06-07 12:54] TravisGesslein commented on #104
I'll put the changes in and see what you guys think when playing around with it.

[2016-06-07 13:02] TravisGesslein commented on #176
Mhm still with shrunken raiders only. I guess I'll close this issue in anticipation of Patch 4, we'll see if new issues pop up and can reference this one then.

[2016-06-07 13:02] #176 closed, assigned to TravisGesslein

[2016-06-07 13:03] DaemoniaV opened #184 "Suggestion: Let monsters do not pursue when You press Rest button."
When I feel that My team begin wiped by monsters press Resting button. Remains of My team try to escape from map. They move to the entrance and monsters still pursue them. So it is huge amount of monsters stays at entrance and when I try second run My raiders die in several second cause they do not appear at one time.

[2016-06-07 13:08] #173 closed, assigned to TravisGesslein

[2016-06-07 13:13] TravisGesslein commented on #168
Yeah it's too expensive. Will be fixed!

[2016-06-07 13:14] #168 closed, assigned to TravisGesslein

[2016-06-07 13:15] #165 closed, assigned to nobody

[2016-06-07 13:16] TravisGesslein commented on #184
Mhm.. how about this: Monsters go back to their spawn locations when they don't have targets in sight anymore?

[2016-06-07 13:21] #110 closed, assigned to Talisca

[2016-06-07 13:29] #167 closed, assigned to TravisGesslein

[2016-06-07 13:35] TravisGesslein commented on #169
The arena boss scaling isn't working as intended, but the fix won't make it into Beta Patch 4 (which we'll upload pretty soon). They're supposed to be about as difficulty as the first boss of the latest raid you're attempting.

The new arena is supposed to give players another chance at additional item drops from the same boss, either in order to progress a little faster in return for some gold, o

[2016-06-07 13:45] TravisGesslein commented on #164
Not 100% sure but it should be fixed with Beta Patch 4. Please reopen this if anything goes wrong after Patch 4 is released.

[2016-06-07 13:45] #164 closed, assigned to TravisGesslein

[2016-06-07 13:49] askebv commented on #184
Actually, I like Heishe's suggestion for the opposite reason. Right now, you can abuse it due to them pushing each other out of the map over time. In the end you'll have only one enemy left, and constantly having your raiders come in and out will eventually get the enemy down, without any user interaction. So over time, you'll eventually get them down, as long as you can kill enemies with a full t

[2016-06-07 13:56] #160 closed, assigned to TravisGesslein

[2016-06-07 13:57] TravisGesslein commented on #159
You are a genius with this kind of stuff.

[2016-06-07 13:59] TravisGesslein commented on #159
I'll fix it by teleporting raiders and NPCs to the entrance in when the game detects that you are about to lock them in.

[2016-06-07 14:00] DaemoniaV commented on #184
Heishe suggestion is like to me.

[2016-06-07 14:03] DaemoniaV opened #185 "Gold 10%???"
Did gold upgrade add invisible part to collected 1-9 gold?
Or it was reasonable only if you farm monsters with 10 gold drops?

[2016-06-07 14:20] #159 closed, assigned to TravisGesslein

[2016-06-07 14:22] TravisGesslein commented on #185
It's just an invisible part. If a monster drops 1 gold, you get "1.10" gold, but we don't show it in the interface. After you kill 10 of those monsters you will have 11 gold.

[2016-06-07 14:22] TravisGesslein commented on #185
I will update the description of the upgrade to reflect this fact.

[2016-06-07 14:27] #185 closed, assigned to TravisGesslein

[2016-06-07 14:28] #85 closed, assigned to Talisca

[2016-06-07 14:29] TravisGesslein commented on #145
I think the behavior stated in the description is unintended anyways, I don't want you to be able to damage boss encounters further back in the map by triggering the skill near a boss encounter in the front. I think I'll modify it to hit everything on farm maps, but restrict the range in raid maps.

[2016-06-07 14:31] DaemoniaV opened #186 "Multidrop from bosses..."
Are the multidrop legal?)
Try to beat Raid 3. Easy clean first group of enemy and green goblin. Then wiped out by Dragon. Do second run - again wipe. Change strategy and kill the Dragon - receive 3 Dragonling Armor. It is normal?

[2016-06-07 14:31] TravisGesslein commented on #144
Oh, it was in the game in the alpha, but we haven't re-introduced it yet (No particular reason, there are plenty of skills not yet dropped in the beta because they will drop in boss encounters later in the game). It's not exactly like the WoW shield, instead it gives the targeted raider a damage reduction against all damage types buff. Basically a "Shield Block" for priests which they can give to

[2016-06-07 14:32] #144 closed, assigned to TravisGesslein

[2016-06-07 14:34] TravisGesslein commented on #146
Good idea for a random unique item.

[2016-06-07 14:35] TravisGesslein commented on #146
For mages in particular it's interesting because it's not a flat "total damage output" increase, because they don't have an auto-attack that would benefit from it. The increased casting speed comes with a direct increase in mana cost.

[2016-06-07 14:45] DaemoniaV opened #187 "Suggestion on future - Auto-filled Bestiary."
Let it was Bestiary page in game where You can see Monster drops. But let item showed there only after once dropped.

[2016-06-07 14:47] TravisGesslein commented on #129
Oh, energy generation is different from regeneration and degeneration :hankey:. When your warrior attacks something or is attacked, they generate a fixed amount of base rage (currently 3 when attacking, 2 extra when critting, and 4 when being attacked). This base amount is scaled by the energy generation modifier, which is 100% by default (and 200% if you have the set bonus, but there are also oth

[2016-06-07 14:55] TravisGesslein commented on #186
Yep, currently you receive +2 extra items the first time you kill a boss in each soft-reset. But while playing we find that this kind of swamps players with items too quickly when they play the game for the first time, so we will reduce this to +1 in the future and introduce a permanent upgrade which increases this value.

[2016-06-07 14:55] #186 closed, assigned to nobody

[2016-06-07 15:07] DaemoniaV opened #188 "Suggestion "More" button for - Scholar Tower"
I have 8 books of skills improving Frost Shard and 10 book for Magic Missle but have only one Magic Missle. Let it be option to add random book in tower for reasonable price)))

[2016-06-07 15:16] askebv commented on #129
Thanks for the explanation. That's actually already how I understood it, but I somehow thought that the rage regen stat in the statistic would reflect the energy generation for warriors. But I suppose that's because it's a generic concept? Is/will it be possible to change the generation/degeneration rate - and if not, wouldn't it be better to replace it with a generation stat for warriors?

[2016-06-07 15:20] TravisGesslein commented on #129
Oh I forgot to mention that. I will add the rage generation stat to the stat screen (it's just missing in Patch 3) just in time for Patch 4. And to the second part of that question as to whether we will be able to change regeneration and degeneration of warriors: Yes, some buffs already do it, and I'm sure we will introduce items for it as well (e.g. some unique item that removes or reduces the ra

[2016-06-07 15:20] #129 closed, assigned to TravisGesslein

[2016-06-07 15:25] askebv commented on #188
That is how it was in the alpha - but I think I would prefer if it worked differently. After all, the scholar's tower is mostly meant for beginner skills.

Instead I think it should offer something like tiers of books, divided by classes, and provide an unlimited amount of the ones available. Over time, with progress or given specific quests were completed, you could unlock new skills.

Because as

[2016-06-07 15:26] askebv commented on #129
Ah right, the well already does it.

[2016-06-07 15:34] askebv commented on #185
There was a bug where you could get negative gold, and in the negative numbers, it actually shows the decimal points, so it was easy to see there.

[2016-06-07 16:09] askebv commented on #113
Since the command skills has changed to become pretty rapid now, this probably isn't necessary. We're having a heat wave right now, so I'm not really able to think deeply about possible use cases right now.

[2016-06-07 16:11] askebv commented on #123
@thorbrian can you close this issue. This is a duplicate of the solved issue that I referred to.

[2016-06-07 16:13] askebv commented on #81
@Heishe So far Beta Patch 5 then? :stuck_out_tongue:

[2016-06-07 18:19] askebv opened #189 "One priest has 1 higher base regen than the others"
For some reason, one of my priests have higher base mana regen than the others:

![image](https://cloud.githubusercontent.com/assets/4981659/15869108/38ee7298-2ceb-11e6-83f1-c1e9b2796787.png)

![image](https://cloud.githubusercontent.com/assets/4981659/15869123/4a56be3c-2ceb-11e6-8c30-575ce69acade.png)

As you might be able to tell, they're all in sleep mode, hanging out in the base, so there's no

[2016-06-07 18:33] askebv opened #190 "Melee enemies on level 5-6 / 69-70 have pretty high range"
I don't know if they're supposed to use throwing knives or something, but their attack range doesn't look melee at all:

![image](https://i.gyazo.com/c5cdd62cec9096a6170333973a3e7142.gif)

[2016-06-07 18:33] Ethismos commented on #189
Since it is 1 mana regen difference exactly i guess it has to do with frozen heart set bonus not applying. I might be wrong, but try to unequip it and reequip it (the whole set).

[2016-06-07 18:35] askebv opened #191 "Efreet might be summoned on wrong map"
I was here writing my past issue when it happened, but when I returned to the game there was an efreet notification on a map where my raiders are struggling to survive (level 69). I doubt they would have managed to kill it that fast, so maybe it spawned wrong?

Anyway, I can't confirm that's what happened yet. Just throwing this out there as a reminder of something to pay attention to.

[2016-06-07 18:39] askebv opened #192 "Can't unequip item if inventory is full"
I can't drag and drop my equipped item into my inventory if my inventory is full. I can only replace it with another item. Once I have a second tab open, I can just drag it into an empty spot there though.

In a previous patch, this was possible since you could drag and drop the item unto non-equip items to unequip.

But honestly I think even if you drag an equipped item unto a replaceable item, i

[2016-06-07 18:43] askebv commented on #189
Unequipped the whole set and then the values are 1.30 and 0.30 for the others, respectively. Equipped it again, and the values go to 2.30 and 1.30 again.

So you don't share these values, I presume? This is with 5 wells and 2 tents, by the way.

And just to make sure - you're running beta patch 4, right?

[2016-06-07 18:52] TravisGesslein commented on #189
Can you send me that savegame?

[2016-06-07 18:57] askebv opened #193 "Monsters with bugged health bars"
I've only seen it once so far, but I remembered to screenshot it:

![image](https://cloud.githubusercontent.com/assets/4981659/15870879/3df2786e-2cf2-11e6-8608-89131c17c147.png)

As you should be able to tell, the leftmost red scorpion has an oversized rectangle representing its health. These all took damage from Hail of Arrows by the way.

[2016-06-07 18:58] askebv commented on #193
Nevermind saw it again on the next map. On another type of scorpion no less:

![image](https://cloud.githubusercontent.com/assets/4981659/15870958/90d0cc3e-2cf2-11e6-8350-d6307e201e19.png)

[2016-06-07 19:01] askebv commented on #104
@Heishe Trying it out now and it already looks good enough to replace shield block for farming. Now the question is if it's too good :P

[2016-06-07 19:04] Ethismos commented on #193
Also saw it at least 3 times in levels 65-70.

[2016-06-07 19:15] askebv opened #194 "Dragging an equipped item while having an equippable item selected"
In this animation I'm trying to drag the Warfists of the Frozen Coast item while having the Frozen Spear selected:

![image](https://i.gyazo.com/3dd870fc6d4fd6c13423084137fa4c82.gif)

As you can see, it replaces the item on the mousedown event, effectively making it impossible to drag and drop the item without having an unsuitable item selected.

If it's no hassle, I would probably prefer it only

[2016-06-07 19:16] Talisca commented on #191
Ok, this is related to the fix of #85

Because of some modified checks he might not spawn at all. The event triggers nevertheless. I am sorry :(

[2016-06-07 19:19] TravisGesslein commented on #189
Just checking if it's the same for you:

Oina: 1 base regen + 0.4 Icetouched band + 0.2 from tents + 0.1 from wells = 1.7
Daelm: 1 base regen + 0.4 icetouched band + 1 frozen heart + 0.2 tents + 0.1 wells = 2.7
Urnkel: 1 base regen + 0.2 tens + 0.1 wells + ??? = 2.3

I haven't debugged yet but it seems the set bonus only applies to Urnkel, but not to the others. Which is why that priest has 1 myst

[2016-06-07 19:20] Ethismos opened #195 "Changing areas - Inventory items stay on air."
So, i was trying to focus on the new feature of watching my spell cooldowns while my raiders where auto farming. At some point i pressed the "X" button and the camera moved to the farm area where i started auto farming (and not to the current one, which would be more useful) and noticed a candy standing in the area and last critical i did. Could reproduce it a few times with arrows or fireballs st

[2016-06-07 19:22] askebv commented on #189
Yeah the values are the same for me as you posted. Except I have Ancient Emberwood Staff on Urnkel (+0.5) which gives her 2.80.

[2016-06-07 19:29] askebv opened #196 "Hail of Arrow cooldowns aren't identical"
As you can see, one finishes several seconds before the others. But they start out at the same time:

![image](https://i.gyazo.com/9a7f20cc6446a75ab02101801c5a673f.gif)

I'm not sure what the purpose of this is, if it's intentional. To tell who used it? It always seems to be the same who gets it done faster though, so I'm not sure if it really works that way.

[2016-06-07 19:35] TravisGesslein commented on #189
Yup, it was a bug with the set bonuses. You can fix it as a workaround by unequipping the entire set, reloading the game, and then equipping the set again.

[2016-06-07 19:35] #189 closed, assigned to TravisGesslein

[2016-06-07 19:38] TravisGesslein commented on #195
If you actually change back to these maps and return to farm there, are those sprites still there?

[2016-06-07 19:40] TravisGesslein commented on #190
No they are just supposed to be flailing around their sabers. Fixed in Beta Patch 5.

[2016-06-07 19:40] #190 closed, assigned to TravisGesslein

[2016-06-07 19:43] TravisGesslein commented on #196
More or less intentional. The reason is most likely that one of your archers has a higher attack speed, which reduces the cooldown of all skills, which is what you can see here. The archer who finishes first will be able to trigger the cast for both of them - this also is intentional.

What's not intentional is the out of sync cooldown. Unfortunately I don't think I will fix it, lots of code for v

[2016-06-07 19:43] #196 closed, assigned to TravisGesslein

[2016-06-07 19:48] Ethismos commented on #195
No.

[2016-06-07 19:49] askebv commented on #83
At least 5 of them were standing near a warrior with half life (the guy standing still on the right - he's the middle warrior in the panel) - and I didn't see them heal once for over 10 seconds. At least one priestess healed the priest though. But are their cooldowns really this massive?

![image](https://i.gyazo.com/4429ed0de51bef66586402f4d5556d7e.gif)

To be fair, I had been farming the map for

[2016-06-07 19:54] askebv commented on #196
Fair enough. And you were right, 121% vs 107% ats.

[2016-06-07 20:00] TravisGesslein commented on #192
I agree, dragging something down is probably intended to be an unequip most of the time.

[2016-06-07 20:01] TravisGesslein commented on #192
Also we should show a second tab as soon as one tab is full, not just when another item needs to be placed into the inventory.

[2016-06-07 20:14] askebv commented on #193
Also encountered a different variation on farm level 40:

![image](https://cloud.githubusercontent.com/assets/4981659/15873097/3faa26ce-2cfd-11e6-8434-a15fed65e480.png)

[2016-06-07 20:18] askebv opened #197 "Deactivating and reactivating "Increased monster count""
On farm level 40, there's 1 monster by default. But I have +3 extra from my ancient wisdom. If I deactivate it, and kill all 4 monsters, then only 1 spawns, as expected. But if I reactivate it, then it still only spawns 1.

But if I change map, and change it back, it spawns 4 again.

[2016-06-07 20:35] DaemoniaV opened #198 "Improvement - Auto-Raiding on first unfinished raid."
Let the Raiders do one try on first unfinished raid.
I can easy finish R3 but last Boss of R4 wiped My party easy. Items from R1-R3 do not help anymore. I need drop from first, second and third Boss of R4 but can gain it only in manual raiding(

[2016-06-07 22:07] DaemoniaV opened #199 "Bug - Activate Deactivate"
I have unlock 4 upgrades but one moment can activate only 3. I start R4 with some configuration after wiped deactivate Overheal and activate Avoid of AoE, wiped again... Try to deactivate Saving Throw button has switched between Activate/Deactivate but color of icon and count do not change. After some random pressing have this picture(
![bug1](https://cloud.githubusercontent.com/assets/19784493/15

[2016-06-08 03:28] #123 closed, assigned to nobody

[2016-06-08 03:45] thorbrian commented on #104
FWIW, once I tried out saving throw, I always used it on my two tank warriors, and it's been fantastic, even at 20 rage, 20 cooldown and 2 sec stun. It might be equipment, but my tanks always seem to have 20 rage, and they usually stunning something every 20 seconds (I'm always seeing the green bubbles) and it's drawing targetting off my other characters really well, I find it much more effective

[2016-06-08 03:46] thorbrian commented on #104
actually what would be really great would be to see cooldowns somehow

[2016-06-08 03:52] thorbrian opened #200 "Not getting the patch notification anymore"
I leave the game open in a tab in the browser (like when I go to work, go to sleep...), and since patch 4 came out, I've not seen any notifcations about it. options clearly shows patch 3.

When exactly are notifications supposed to show up?

[2016-06-08 04:32] thorbrian commented on #177
Well... burned out seal and arctic honor are a lot less... interesting, now. Even without the sword nerfs, warriors are the one class I never used those two items on.

FWIW, I tried them both out on my non-tank warrior, and arctic honor seems like a worthless item, IMHO. Even with the big nerfs to rage gen boosting items, I just always have enough rage for skills all the time, as the warrior skill

[2016-06-08 05:06] thorbrian opened #201 "My priests have different mana regen"
Not sure if this is intended, but I actually find it pretty cool - makes me wish every raider had their own unique stats, so that what was optimal on each one changed

So Charynoth has 2.3 mana regen
![image](https://cloud.githubusercontent.com/assets/11687574/15883298/c7400420-2cfb-11e6-81f2-683cf743a005.png)

While Luki has 1.3 mana regen
![image](https://cloud.githubusercontent.com/assets/11687

[2016-06-08 05:14] askebv commented on #104
Beta Patch 4 has an option to view cooldowns under "Interface". Perhaps you have a good point about having more than one tank, I haven't tested that out much

[2016-06-08 05:19] thorbrian opened #202 "Frozen Shield tooltip overstates damage reduction effect (says 6% does 5%)"
Frozen shield tooltip says it does -6% damage reduction

but when I equip and unequip one, my damage reduction stat only changes by 5%

[2016-06-08 05:19] askebv commented on #201
It's an item set bug for Soul of the Frozen Coast. This is how you fix it:

https://github.com/Heishe/idleraiders-second-run/issues/189#issuecomment-224389778

[2016-06-08 05:23] #201 closed, assigned to nobody

[2016-06-08 05:31] askebv commented on #202
I think this might be related to the fix of #179

Mine says 4% when I try to unequip.

[2016-06-08 05:35] Talisca commented on #100
Uhh, we changed the equipment-ui and skill-ui of the raiders for a more generic approach some months ago. Ever since then, we have never tested the ai upgrade logic for skillbooks again x_X

[2016-06-08 05:41] Talisca commented on #199
Yep, this is a duplicate to #100

For the other part: The unlocking of an upgrade doesn't influence the max. active upgrade limitation

[2016-06-08 05:41] #199 closed, assigned to nobody

[2016-06-08 05:50] askebv opened #203 "Can't unlock Crypt after reset"
I just "gained wisdom", progressed to level 10, and now the raid isn't showing up. But I can open the raid menu.

![image](https://cloud.githubusercontent.com/assets/4981659/15884009/91cac4d6-2d4d-11e6-8272-2ac2d6e72636.png)

Related to the fix of #110?

[2016-06-08 06:17] #100 closed, assigned to Talisca

[2016-06-08 07:11] Talisca commented on #203
Yep, its rleated

As a workaround you have to reload the game.

[2016-06-08 07:27] #203 closed, assigned to Talisca

[2016-06-08 09:00] TravisGesslein commented on #202
This is intentional, the damage reduction of that particular stat becomes less effective the more you already have of it. Unfortunately we can't show the actual value it would take in the generic item description because the result depends on the raider itself.

But you can see the actual change using the comparison stats in the stat screen, for example when you click the item in the inventory and

[2016-06-08 09:03] TravisGesslein commented on #179
Yeah, I like the "lower damage reduction vs lower cooldown" change.

[2016-06-08 09:05] TravisGesslein commented on #202
With that stat in particular we made the trade off between showing the user an actual percentage of damage reduction vs instead using something like an abstract armor value (like in many RPGs) that maps to some curve underneath. We figured the first is much more intuitive even if it doesn't completely match up with the actual values a raider with multiple items with those stats will receive.

[2016-06-08 09:09] askebv commented on #202
Yeah I think it's nice. When are grey numbers shown btw? And could you add a decimal to the damage reduction so it's easier to see the effect? After all, there's a big difference between 3, 4 and 5% when you get down in low numbers.

[2016-06-08 09:12] TravisGesslein commented on #202
They should be shown when there's no change at all, or maybe we don't actually show anything in that case? :hankey: And sure! We can add decimal digits.

[2016-06-08 09:22] askebv commented on #202
Thanks! For now, it's not necessary to add digits to all the other pecentages - because they're all flat increases, so it'll just always say ".0".

[2016-06-08 09:59] #202 closed, assigned to TravisGesslein

[2016-06-08 10:01] TravisGesslein commented on #200
They are supposed to show up within 30 minutes of us uploading the patch. We'll look into it

[2016-06-08 10:02] TravisGesslein commented on #200
Actually, this is a bug that was fixed with Beta Patch 4 :hankey: You likely received the notification but missed it because it disappeared. With Patch 4 we removed the time restriction of those kinds of notifications, they will now stay until you click on them instead of disappearing automatically after 30 minutes.

[2016-06-08 10:03] #200 closed, assigned to TravisGesslein, Talisca

[2016-06-08 10:15] TravisGesslein commented on #198
The reason the latest raid is disallowed in the auto raid mode is not because your raiders most likely won't manage it, rather it is because I wanted to encourage players to experience the newest raid for themselves instead of letting raiders auto idle over it.

What does everyone else think? I'm not opposed to relaxing the restriction such that you can auto-raid the current raid as long as you ha

[2016-06-08 10:17] #191 closed, assigned to Talisca

[2016-06-08 10:18] TravisGesslein commented on #195
Good :hankey: You're not actually supposed to be able to view these maps unless your raiders are on it... having them all hanging around (just invisible) can reduce performance by a bit. Will fix

[2016-06-08 10:41] #197 closed, assigned to Talisca

[2016-06-08 10:51] Talisca commented on #140
Yes, it will happen. But the notification disappeared after ~30 seconds

See https://github.com/Heishe/idleraiders-second-run/issues/200#issuecomment-224545143

[2016-06-08 10:51] #140 closed, assigned to nobody

[2016-06-08 11:39] #195 closed, assigned to TravisGesslein

[2016-06-08 11:45] askebv commented on #198
I think it's too much if you can just leave it on auto-raid and eventually go through new raids you've never manually beaten.

Preferably, I'd like the raids to require more strategy, experimentation and planning - and thus also have mechanics to them that _required_ new setups as you advanced.

Either way, I wouldn't personally find it enjoyable for it to auto-brute-force its way to victory. That

[2016-06-08 12:08] DaemoniaV commented on #198
May be let raiders try to beat only previous killed monsters. When last previously killed boss done they do not advance but auto retreat and begin usual map farming.

[2016-06-08 12:10] TravisGesslein commented on #198
Well, in practice I think this actually wouldn't that big of a problem. I think the way active as well as mostly idling players play wont change because of it. When you auto-raid but are mostly an active player, what happens is that  you return after a couple of hours, check the new stuff you idle farmed, maybe make some build adjustments and then make an attempt at the new raid. I think this is t

[2016-06-08 12:13] #194 closed, assigned to Talisca

[2016-06-08 12:52] #146 closed, assigned to nobody

[2016-06-08 13:06] #192 closed, assigned to TravisGesslein, Talisca

[2016-06-08 13:06] DaemoniaV opened #204 "Suggestion: Let Us ability to select monsters on farm map and show all monster names)"
Let Me know what name of the f... fantastic brown monsters from Map 29)

[2016-06-08 13:13] AlexanderOtte commented on #204
![image](https://cloud.githubusercontent.com/assets/19685289/15895431/8dd769c2-2d8b-11e6-8b65-4a8367623edb.png)

[2016-06-08 13:25] #184 closed, assigned to TravisGesslein

[2016-06-08 13:36] DaemoniaV opened #205 "Red Church useless?"
On my point of game restoring the mana of mages need much more time than restore the health of warriors. So Red Church seems Me useless cause this is do not sdeep in town mana regen.

[2016-06-08 13:44] TravisGesslein commented on #205
We have plans for that, see #66

[2016-06-08 13:44] #205 closed, assigned to nobody

[2016-06-08 13:58] #145 closed, assigned to TravisGesslein

[2016-06-08 14:06] #193 closed, assigned to TravisGesslein

[2016-06-08 14:12] TravisGesslein commented on #187
Yeah this has been on internal to do lists as well. But it's a huge amount of work. This won't be tackled before the re-release but I agree it would be an awesome feature.

BTW I'm going to start closing long term suggestion issues (or issues that are very general). Just to keep the issue list a bit more cleaned up so we can focus on actual issues or imminent changes. They are still available in t

[2016-06-08 14:12] #187 closed, assigned to nobody

[2016-06-08 14:16] DaemoniaV commented on #204
Like I see them
![256833910_dc5e794df2_b](https://cloud.githubusercontent.com/assets/19784493/15897309/adf7407c-2d9c-11e6-88ff-13f0fbcde7cf.jpg)

[2016-06-08 17:36] askebv opened #206 "Hotkey bar appearing and reappearing under strange conditions"
I'm not exactly sure when the hotkey bar is supposed to be revealed or hidden. But with the option on, it's surely not always there.

I noticed that it always reappears when I turn sound effects on and off. It vanishes as soon as I change my view though. I tested it a bit, and it seems like it happens with non-audio options too.

If hiding the hotkey bar is for us to not use it incidentally, then

[2016-06-08 18:06] askebv opened #207 "Charm lets you advance farm maps forever"
So, I'm in farm map 92 now - and my raiders are level 58 with a pretty decent setup (not optimized though). I realized I can't really do significant damage to the enemies now. Even if it's stunned and all my guys are going nuts on one guy, it's getting doubtful that I can advance much further - because their regen is getting near as powerful as my best burst damage.

But a charming shot makes at l

[2016-06-08 18:24] #66 closed, assigned to TravisGesslein

[2016-06-08 18:24] askebv opened #208 "Sometimes buildings briefly turn transparent with a green tint"
It happens to all buildings at once, as far as I've seen.

I've seen this happen several times since beta patch 1 or so, but haven't been able to screenshot it, since it usually goes away after 1-4 seconds. I don't know if it's something intentional that I don't understand, or if it's just a small visual glitch.

I've also tried reproducing it, but obviously haven't had much luck.

I'll try to tak

[2016-06-08 18:30] TravisGesslein commented on #207
Yeah that's a good idea.

[2016-06-08 18:31] askebv opened #209 "Death animation for shielded guys on level 33-36"
They fall down but then they rise up again in this weird way, as if they were reanimated or something xD

![image](https://i.gyazo.com/62f7ce17c37e22fdb2eb268e9441a16f.gif)

[2016-06-08 21:44] DaemoniaV opened #210 "Some crazy suggestion..."
It is dark and cold snowy night on other side of my window. Bears with balalaika scour al around. And My head full of thoughts...
1) Thank You for great game. It is some years ago I have so much fun from game.
2) I think the main source of pleasure is fell of progress. First I "meet wall" on 50 level "cap". Then begin farmig Raid and slow - one by one progress. I remember how boss from R5 survive

[2016-06-08 23:20] DaemoniaV opened #211 "Repeat Bug - Overpriced Building"
Just buy second Inn and got minus money.
![bug2](https://cloud.githubusercontent.com/assets/19784493/15914320/ab90c8fc-2de8-11e6-94d2-d5c0197803a9.jpg)

[2016-06-08 23:30] DaemoniaV opened #212 "Bug? - 0 drop"
Second group of monsters in Frozen Coast has 0 drop. They do not drop anything in first kill and after 5 try there is still zero.

[2016-06-09 05:26] Talisca commented on #208
The last time I've seen this bug was about one month ago. I am sure its related to some Healing Skillbooks, but I can't reproduce this behavior anymore.

[2016-06-09 06:39] Talisca commented on #206
Seems to be related to #74

[2016-06-09 06:53] #150 closed, assigned to Talisca

[2016-06-09 06:53] #206 closed, assigned to Talisca

[2016-06-09 06:56] askebv commented on #208
Yeah I've noticed my healers are always healing a ton when it happens. The two scenarios I've seen it happen frequently are 1) when I've just exited building mode, having built or deleted structures and 2) when I'm in a menu, having just dragged and dropped stuff in the priority list, or read tooltips of items in the trades of sholar's tower or the market.

I don't know if those things are related

[2016-06-09 06:59] askebv commented on #211
#164

[2016-06-09 07:58] askebv commented on #121
I gave this some more testing time and found that it doesn't seem to do any big skips anymore. At most I've seen it jump down 2 seconds at once, but it just seems because it requests an update at near-1-second delays and just gets an update that it went from e.g. 9.01 seconds left to 7.98 seconds left, or 8.51 to 7.48, depending on the rounding method.

And much like the animated image above, it o

[2016-06-09 08:07] askebv opened #213 "Bug: Enrage buff got enraged"
![image](https://cloud.githubusercontent.com/assets/4981659/15922721/89e3ffbc-2e29-11e6-84de-cdff7241d1fe.png)

I've only seen it happen once. My camera was away from the raiders at the time of the enrage buff appearing, and as you can see, it only happened to one of them.

[2016-06-09 08:09] TravisGesslein commented on #121
Yeah, jumping up again is expected behavior. Buffs have a bunch of different ones depending on the type of buff... some can stack, some will just create a new separate one from the old one if they are allowed to co-exist, some will only refresh the time of the original one...

I can improve the display a little bit by updating the counter immediately to whatever the time left on the buff is, which

[2016-06-09 08:14] askebv commented on #121
I'm not sure if I want it to update faster. If the numbers start updating out of sync, it could be distracting.

[2016-06-09 08:22] TravisGesslein commented on #121
They will still be in sync after that, the only distraction could come from a buff being refreshed. I'll implement it, if it's too *distracting we can take it out again no problem :hankey:

[2016-06-09 08:25] askebv commented on #121
:hankey:

[2016-06-09 08:38] #121 closed, assigned to TravisGesslein

[2016-06-09 08:50] TravisGesslein commented on #212
Very strange, let me investigate :hankey:.

[2016-06-09 08:55] TravisGesslein commented on #212
Ok we added the loot table reference for the one of the bosses last patch, but he only has optional drops. We forgot to add the loot table for the main dropper guy. will be fixed in Beta Patch 5

[2016-06-09 08:55] #212 closed, assigned to TravisGesslein

[2016-06-09 08:57] TravisGesslein commented on #211
Ah I now realize this happens probably because of the gold bonus upgrade. Can you confirm that you have it activated @DaemoniaV ? Or maybe @Muskar when you experienced the issue?

[2016-06-09 09:04] TravisGesslein commented on #211
Yeah pretty sure, can reproduce with upgrade activated and fixed it now

[2016-06-09 09:04] #211 closed, assigned to TravisGesslein

[2016-06-09 09:05] TravisGesslein commented on #208
The last time this happened was because of the AOE heal particle effect. Maybe propagation is still bugged, I'll check it out.

[2016-06-09 09:06] DaemoniaV commented on #211
Late for a few moment. Test with Church - price 480 with +20 Gold upgrade.

[2016-06-09 09:20] askebv commented on #211
@Heishe I haven't really built anything since I got all available buffs built and too much money. And since I have 60k+ money now, I wouldn't be able to notice small differences in price very well. I just referenced the issue because I like having issues organized and linked well :P

[2016-06-09 09:45] TravisGesslein commented on #208
A couple of particle effects were missing their correct textures (fixed now). I couldn't reproduce the bug before but I  don't know what else could trigger it. I'll close this and reopen if it happens again after Patch 5.

[2016-06-09 10:25] TravisGesslein commented on #210
Do they look like this? ![bear_plays_balalaika](https://cloud.githubusercontent.com/assets/2046189/15926166/bf7193ae-2e3a-11e6-84cc-5d16104b2fd1.jpg)

It's not a bear... it is someone who wants free vodka in disguise.

Anyways thank you for the suggestions. I love the idea of very hard (optional) end game content, but we are still unsure of how to implement it properly.

Because the problem is tha

[2016-06-09 10:28] TravisGesslein commented on #213
Yup we identified a bug in the code that caused several effects such as this (the health bar bug was related). Should be fixed in Patch 5. It's possible that other similar bugs remain in the code, but I will close this until they happen again.

[2016-06-09 10:28] #213 closed, assigned to Talisca

[2016-06-09 10:29] TravisGesslein commented on #209
Yep the animation somehow interpolates back to the first frame of the animation once it's over. I'll look into it.

[2016-06-09 10:34] DaemoniaV commented on #210
Thx for answer.
Bears more like this...
https://i.ytimg.com/vi/9fHYXVFOusU/hqdefault.jpg

[2016-06-09 10:44] DaemoniaV opened #214 "Again! Bug - 0 drop game bug"
Last team of Monsters in Frozen Coast did not drop any items too(

[2016-06-09 10:51] #209 closed, assigned to TravisGesslein

[2016-06-09 10:53] TravisGesslein commented on #214
Oh, the bug fixes won't show up until we actually upload the patch (Patch 5 should be uploaded in a couple of hours). When we close an issue here, it gets a milestone (on the top right), which means that it will appear to you players as soon as that patch referenced in the milestone is uploaded.

[2016-06-09 10:53] #214 closed, assigned to TravisGesslein

[2016-06-09 11:03] DaemoniaV commented on #214
I thought that You talk only about second group of monsters. But third group too eas empty.

[2016-06-09 11:27] #207 closed, assigned to TravisGesslein

[2016-06-09 11:30] TravisGesslein commented on #204
I think I can say yes to selecting farm monsters, but no to seeing all the names (for now), similar to #187

Also this is related to #126

[2016-06-09 11:46] #204 closed, assigned to TravisGesslein

[2016-06-09 11:46] #210 closed, assigned to nobody

[2016-06-09 11:46] TravisGesslein commented on #126
Yup good idea.

[2016-06-09 11:46] #126 closed, assigned to TravisGesslein

[2016-06-09 11:52] TravisGesslein commented on #198
I think I'll try it out, if active players find it's disruptive to the feel of the game we can remove it again.

[2016-06-09 12:15] #198 closed, assigned to TravisGesslein

[2016-06-09 12:17] TravisGesslein commented on #171
I'll use this issue for "auto focus on raiders when raid opens" and use #75 for a toggle to follow raiders constantly.

[2016-06-09 12:21] #171 closed, assigned to TravisGesslein

[2016-06-09 12:23] TravisGesslein commented on #139
The efreet buffs monsters (random buffs actually, he selects one every time he spawns), you can try to charm him and make him buff your raiders instead. The warning is a good idea.

[2016-06-09 12:40] TravisGesslein commented on #139
Also automatically switching from auto farm mode to farm mode if you click on the event notification

[2016-06-09 12:42] #139 closed, assigned to TravisGesslein

[2016-06-09 12:44] TravisGesslein commented on #148
I'll modify the upgrade to give +10/20 energy points

[2016-06-09 12:46] #148 closed, assigned to TravisGesslein

[2016-06-09 12:46] #136 closed, assigned to Talisca

[2016-06-09 12:50] TravisGesslein commented on #136
@Talisca did something beautifully simple here, I really like it.

[2016-06-09 12:52] TravisGesslein commented on #156
Good idea for a raider upgrade. Fits the concept of silly raiders who get a bit smarter over time.

[2016-06-09 12:53] #109 closed, assigned to Talisca

[2016-06-09 13:21] askebv commented on #136
@Heishe Looking forward to it!

[2016-06-09 13:24] TravisGesslein commented on #214
Oh yeah lol. That seems to be an issue with our internal editor, some previous edits have been undone. Should be fixed again when the patch is uploaded.

[2016-06-09 13:31] askebv commented on #77
Still there as of Beta Patch 4 :P

[2016-06-09 13:37] DaemoniaV opened #215 "Question: Is the Ravager Adobe last raid in this moment?"

[2016-06-09 13:43] TravisGesslein commented on #103
Oh yeah, we changed this a bit with Patch 5. Please let us know if it's enough for now. We will rework the error notifications at some point in the beta.

[2016-06-09 13:43] #103 closed, assigned to TravisGesslein

[2016-06-09 13:44] TravisGesslein commented on #215
Yup! More will come in the beta, how many more depends mostly on how long the beta takes. We definitely want to leave out a few for the re-release so everyone can be surprised.

[2016-06-09 13:44] #215 closed, assigned to nobody

[2016-06-09 14:44] DaemoniaV opened #216 "Minor bug.."
If in raid You click on non boss monster there is flash with monster hp window in left up corner.

[2016-06-09 15:01] DaemoniaV opened #217 "Red Priest bug?"
I have Upgrade for mana restoring. Seems they apply restoring mana only when cast health restoring. At the moment when health of rider is full mana again restore very slow.

[2016-06-09 15:06] Ethismos opened #218 "Burned out seal - Burning seal"
Any idea how to upgrade the item? I have the burned out seal and 10 essences but i see now way to use it.

[2016-06-09 15:25] askebv commented on #136
@Heishe @Talisca I think it's pretty good, but it's still a bit tough to tell the items apart with a quick glance. I'd prefer it if the numbers and background became darker as well.

[2016-06-09 16:47] askebv opened #219 "Continued: Dragging an equipped item while having an equippable item selected"
#194 There's some minor issues still:

![image](https://i.gyazo.com/f5cc8570f8828dd41e54258bdedc0dab.gif)

Select equippable item, drag and drop the item from one slot to a slot of an adjacent raider of the same class, and you'll replace the item.

It's not 100% consistent, but pretty close.

[2016-06-09 17:33] askebv commented on #77
And Beta Patch 5 :grin:

[2016-06-09 17:38] askebv opened #220 "Suggestion: Easy class-filtering toggle"
The two most common scenarios you'll need when filtering which items are shown are
1. All items
2. Items suitable for a single class

But I guess it's also nice to be able to do more custom sorting like it is now too.

So perhaps you could make right click do it differently. E.g. when right clicking a class-head, it always filters out all other classes. But if the right clicked class is already th

[2016-06-09 17:41] askebv opened #221 "[Minor] Changelog duplicate line"
This line is present twice:

[2016-06-09 17:51] askebv opened #222 "Super active bosses"
Did their idle states always go this fast?

![image](https://i.gyazo.com/cd18243a8a1196c272657423f9435a32.gif)

[2016-06-09 17:54] askebv commented on #216
@Heishe

![image](https://i.gyazo.com/936d89645851bc28e1acbf5982c96741.gif)

[2016-06-09 17:59] askebv opened #223 "Suggestion: Have a background for the level display"
The level display can be quite hard to see against some backgrounds, especially the snow ones:

![image](https://cloud.githubusercontent.com/assets/4981659/15940483/9827027e-2e7c-11e6-9962-c984533c4a6d.png)

![image](https://cloud.githubusercontent.com/assets/4981659/15940918/614ea98a-2e7e-11e6-8474-e5f9a5b1d9a3.png)

![image](https://cloud.githubusercontent.com/assets/4981659/15940700/88580cf2-2e

[2016-06-09 18:00] askebv commented on #217
My red priestesses heal my raiders even though they're at full hp, just to restore their mana.

[2016-06-09 18:06] askebv commented on #208
@Heishe I just had it happen again. Could it be when the propagation effect is triggered on a farm map, while the raider is dying, while viewing the base?

I managed to capture it, and there's a propagation effect in the bottom - but no priest there:

![image](https://cloud.githubusercontent.com/assets/4981659/15942331/39d2daec-2e84-11e6-8f0e-ef8ce71fd3e9.png)

[2016-06-09 18:27] askebv opened #224 "Brown bears buffed as if an efreet is always present"
I've noticed the brown bears keep getting the buff visual on them, as if an efreet is there:

![image](https://cloud.githubusercontent.com/assets/4981659/15941338/f728b1d4-2e7f-11e6-8788-1d47e253f019.png)

![image](https://i.gyazo.com/e2f0f54b9bb97bdf30c7de7059ba8f34.gif)

I've only seen it with these brown bears, so I'm guessing it could be intended.

[2016-06-09 18:35] askebv opened #225 "Level up sound is played way too frequently"
I don't remember if it also did this before level 50, but the level up sound effect triggers every 600 exp or so in level 52. So it's almost like it follows the scale that would be there without the soft limit increase in exp required.

[2016-06-09 18:44] DaemoniaV opened #226 "Sugestion for other testers..."
Let place there screen shots of inventory) Interesting to know there are any Level 2 Skill Books and look at other cool stuff)
![inv2](https://cloud.githubusercontent.com/assets/19784493/15942622/cc0510fc-2e8d-11e6-83d5-354a5611035b.jpg)

[2016-06-09 18:48] askebv opened #227 "Aggro drawn from Hail of Arrows vs Icy Wind of Frozen Coast"
I think it's fair that Hail of Arrows aggros all enemies on the screen. But shouldn't the blizzard do that too? I suppose it's hard for it to decide which raider to go for. Perhaps you can just let it pick randomly between raiders alive on the map?

And also, future raids beyond Ravaged Abode should probably be immune to the icy winds damage - or at least have the effect somehow be more insignific

[2016-06-09 18:57] askebv commented on #226
I haven't seen "level 2" skills other than frost shard. And I got 10 of them :P

This is my inventory:

![image](https://cloud.githubusercontent.com/assets/4981659/15942430/9bc31758-2e84-11e6-8220-e94233b61a50.png)

[2016-06-09 19:07] askebv commented on #226
I might start over soon. Just to test if there's any early game bugs or imbalances that I haven't caught. I'm close to having tested everything I can think of in the endgame. There's just a few more ancient wisdom upgrades I can test left.

I'll probably keep this endgame savefile exported and saved in the cloud, just to check other stuff out, if I ever think of something.