[2016-06-09 20:03] DaemoniaV opened #228 "Question: Does Resting between Raids has any timer?"
Have noticed that My raiders go to the next Raid only with 2/3 of mana.

[2016-06-09 20:07] DaemoniaV opened #229 "Bug the Raid that will be open by Map again dissapeared."
Suppose it happened when I load cloud save.

[2016-06-09 20:16] askebv commented on #228
Yeah I think it's timed. My mages never went with full mana before the red priestess upgrade.

[2016-06-09 20:35] DaemoniaV commented on #228
How many Churches You have?

[2016-06-09 20:56] TravisGesslein commented on #229
You mean like #110?

[2016-06-09 20:58] TravisGesslein commented on #228
Yeah it's on a hardcoded 30 second timer. I'm not sure if it's necessary anymore, initially I added it so you don't get into situations like mages with 1k mana literally standing in the base for 1000 seconds because the player for some reason hasn't built any churches, but I suppose that's kind of a corner case that is very unlikely and I don't know if we even need to handle it. What do you think

[2016-06-09 21:00] TravisGesslein commented on #225
Woot? That's very strange. Will investigate. Also can you send me your current savegame again? Would be helpful for this and the issue with the green buildings.

[2016-06-09 21:05] TravisGesslein commented on #218
Let me check if it's actually still working :hankey:

[2016-06-09 21:08] TravisGesslein commented on #218
Nope, it's bugged, sorry about that. Will be fixed next patch.

[2016-06-09 21:08] #218 closed, assigned to TravisGesslein

[2016-06-09 21:08] TravisGesslein commented on #218
Just btw, from that point onward the upgrade works just like in the alpha, but you only need 3 essences.

[2016-06-09 21:11] TravisGesslein commented on #227
Oh yes, regarding the first thing, we can do that but I'm not sure we need to. It's not really clearly a bad thing to have all monsters aggro, but also not clearly a good thing. If you're trying to get as high as possible you probably don't want to aggro the entire map onto your raiders, but if you're farming for gold on semi-hard maps having them all aggro and run towards your raiders so you can

[2016-06-09 21:12] TravisGesslein commented on #77
:hankey:

[2016-06-09 21:14] TravisGesslein commented on #125
Could you tell me what kind of display resolution you play with?

[2016-06-09 21:33] TravisGesslein commented on #188
The reason it's random is that it kind of forces people to play with what they have in the beginning, and try out things they wouldn't have otherwise, while still allowing them to eventually do whatever they want to do, because after a couple of days playing (which is not that long for how much time I hope people will spend with this game) you will have most/all skillbooks which there are availabl

[2016-06-09 21:33] TravisGesslein commented on #138
Yeah, probably a good idea.

[2016-06-09 21:40] Heishe commented on #229
I think what's rather the problem is the text rendering technology itself. We just use the default that is provided by the engine we use, but I've been wanting to experiment with some other approaches for a while, like signed distance field text, especially some recent research has improved the technique a lot. But no time for it at all :hankey:

Can you tell me if you have similar problems for ot

[2016-06-09 21:42] TravisGesslein commented on #125
I think what's rather the problem is the text rendering technology itself (I don't think we use the pixels you have efficiently). We just use the default that is provided by the engine we use which isn't that good, but I've been wanting to experiment with some other approaches for a while, like signed distance field text, especially some recent research has improved the technique a lot. But no tim

[2016-06-09 22:15] DaemoniaV commented on #229
Yes. When I sofе reset this Raid move to the first place before Crypt. I leave game idle on Auto-Raiding on CPU at work and go home. When I home I use Team Viewer to close game on my work CPU and start game on my home CPU. Load from cloud and it dissapeared.

[2016-06-09 22:17] DaemoniaV opened #230 "https://beta.pitforest.de/about/press.php 404, not found"
404, not found

[2016-06-10 03:27] thorbrian commented on #125
1366 x 768
I don't remember caring about other text being unreadable, but they are a bit of a mixed bad.
 I've been reading description text no problem.
Item counters I do often misread - like 3's for 9's, that kind of thing. I never even noticed any text related to buffs, actually.

[2016-06-10 03:32] thorbrian opened #231 "I can't seem to login - no way I can see to reset or remember my password"
After logging in the first time at https://beta.pitforest.de/idleRaiders it didn't ask me for login again, until yesterday. Now when I try to login, what I thought was my password doesn't work, and I can't see any way to reset it at all

my username is thorbrian (same as in github) and my email is the same as my username at gmail.com

[2016-06-10 06:10] #230 closed, assigned to nobody

[2016-06-10 06:12] DaemoniaV opened #232 "https://beta.pitforest.de/beta problems("
Site requires beta-key again. Key from yhe PM on reddit used before - "key not valid"

[2016-06-10 06:45] DaemoniaV commented on #232
Logout and re-login help)

[2016-06-10 06:45] #232 closed, assigned to nobody

[2016-06-10 07:57] #138 closed, assigned to TravisGesslein

[2016-06-10 07:58] TravisGesslein commented on #231
Are you sure you created an account using name + password? Maybe you just used the google login at the bottom? Either way we can send you a new key if you want, your local savegames should still be there... as for cloud saves, we'll have to see if we can pull them out of the database somehow.

[2016-06-10 08:20] thorbrian commented on #231
google login worked, got the cloud save - thanks!

[2016-06-10 08:20] #231 closed, assigned to nobody

[2016-06-10 08:45] TravisGesslein commented on #229
Mhm... okay thank you we will fix it asap

[2016-06-10 09:03] DaemoniaV commented on #228
First need to build a cap of church and look into restored amount of mana)

[2016-06-10 09:35] askebv commented on #228
In my experience, 30 seconds is good. It also encourages people to buy churches. And even without full mana, we should be able to easily destroy all raids except the newest one we downed. Especially if we barely made it on manual mode. So it's only a fair disadvantage, in my opinion.

But I think it'd be nice if you made an extra check, where if all raiders have full mana, and nothing on cooldown,

[2016-06-10 09:55] askebv commented on #188
I understand what you mean, and in principle I agree. But at the time, early game is not full of many things to do, if I remember right. After you have all your raiders, and have most of the tents, there's a steep grinding curve where progress is severely dictated by your luck in scholar's tower (and time). If you add other features that rewards active gameplay at that point, then that's a fine al

[2016-06-10 10:06] askebv commented on #227
After thinking it over a bit, I actually think it's fine that it doesn't aggro monsters. Especially because it will discourage people to have the full set on, if they don't want the aggro - and I'm not sure I like that - since the items don't have other powerful alternatives at this point.

The damage isn't significant on later farm maps anyway. And when you've defeated the raids enough that you h

[2016-06-10 10:12] askebv commented on #225
Hmm never mind - it's not the level up sound. I'm confusing the sound effects. The level up sound is the weirdly looped synth string in C major. The one I'm hearing all the time is Calming Shot I think (high patches bells with a delay effect). And that's because I disabled the "Remove Buffs" raider upgrade.

I've sent the save file for the green tint effect on buildings anyway.

[2016-06-10 10:12] #225 closed, assigned to nobody

[2016-06-10 10:16] askebv commented on #103
It's better I suppose. But yeah, it's not that urgent anyway. I just repeat the error message a few times so I can make sure to read it properly.

[2016-06-10 10:22] askebv opened #233 "Still keeps saying "new patch available""
#127 #58 I still get the "new patch available" every time I refresh the page:

![image](https://cloud.githubusercontent.com/assets/4981659/15961630/08fc8c06-2f06-11e6-92db-0479b9c69ab0.png)

[2016-06-10 10:36] DaemoniaV commented on #233
Confirm)

[2016-06-10 10:48] askebv opened #234 "Thoughts on "Increased movement speed""
It works as intended, as far as I can tell. But as far as I understand, the primary reason to use the upgrade right now, is to improve the auto-raid times. And if your raiders are very fast, then the red priestesses have a hard time to keep up, so the advantage might even out. So maybe this upgrade also needs to affect red priestesses? Or have another upgrade for them? You could e.g. get an upgrad

[2016-06-10 16:39] #233 closed, assigned to Talisca

[2016-06-10 16:45] Talisca commented on #224
Ah lol, we abused the brown bear to test the efreet-buffs during development. We just forgot to remove the ability :smile:

[2016-06-10 16:45] #224 closed, assigned to Talisca

[2016-06-10 17:13] Talisca commented on #219
Okay, I probably didn't test this case. But thats good, I've got an idea to solve this more elegantly.

[2016-06-10 17:14] #219 closed, assigned to Talisca

[2016-06-10 18:40] DaemoniaV commented on #226
Did You loot first sword from first slot of You first warrior in Chamber of Sealer?

[2016-06-10 18:48] askebv commented on #226
I would guess so, because of its name (Burned Out Seal) but I don't know. I got it while AFK on auto-raid.

[2016-06-10 18:49] askebv commented on #232
#165

[2016-06-10 22:50] TravisGesslein commented on #228
You mean full energy only, disregarding HP etc? Currently it already checks if raiders have (near) full HP and energy and sends them away.

[2016-06-11 06:05] thorbrian opened #235 "timeapi calls are blocked, due https security restrictions"
Currently when I open the game in chrome, there is a redirect to https, but then the http call to the timeapi is blocked, with the following error:

game.min.js:5175 Mixed Content: The page at 'https://beta.pitforest.de/idleRaiders/' was loaded over HTTPS, but requested an insecure script 'http://www.timeapi.org/utc/now.json?callback=AsynchronousTimeUpdate'. This request has been blocked; the cont

[2016-06-11 06:06] thorbrian opened #236 "Javascript errors about centaur art"
Warning: spriter file centaur/oberarmLinks_default.pngnot found in spriter project file
game.min.js:4358 Warning: spriter file centaur/oberarmRechts_default.pngnot found in spriter project file
game.min.js:4358 Warning: spriter file centaur/unterarmLinks_default.pngnot found in spriter project file
game.min.js:4358 Warning: spriter file centaur/unterarmRechts_default.pngnot found in spriter projec

[2016-06-11 07:17] thorbrian commented on #218
![image](https://cloud.githubusercontent.com/assets/11687574/15983854/aa39286e-2f69-11e6-9e6d-83f6251c1266.png)

FWIW, I have been doing this for a while, hoping it would work

[2016-06-11 08:25] askebv commented on #228
@Heishe Yeah I noticed after testing it some more. I don't mean a disregard of HP - but I thought it should wait for cooldowns on skillbooks as well.

But I'm not sure. It's hard to tell because I'm already at the state of being overpowered, and thus it works fine as it is now.

[2016-06-11 09:23] askebv opened #237 "Minor issues with naming savegames"
![image](https://i.gyazo.com/c4a4b4346ef95f765833b430bab4fc77.gif)
- The text disappears when you click it again afterwards. And reappears if you click again.
- The text turns into a white "Click" text when clicking outside the text area, but inside the dialog
- Game controls (WASD, F etc.) take over when you click outside the text area, in the Save As menu

[2016-06-11 09:27] askebv opened #238 "Settings for HP values starts off"
When you start a new game, percentages are displayed, but the option starts with hp values ticked:

![image](https://cloud.githubusercontent.com/assets/4981659/15984338/88e50d5a-2fc7-11e6-9a90-378cb520f09a.png)

[2016-06-11 09:34] askebv opened #239 "Minor suggestion: Inventory class-filtering in a new game"
![image](https://cloud.githubusercontent.com/assets/4981659/15984350/d766d508-2fc7-11e6-8ec3-de1eb4f492f8.png)

As you can see, you can already see the 4 classes before you even have one of each. I would suggest hiding the options entirely when you only have a warrior. And when you have the first priest, then only show the warrior and priest and so on.

Small details like these help with pacing th

[2016-06-11 09:57] #238 closed, assigned to TravisGesslein

[2016-06-11 10:12] TravisGesslein commented on #239
Good idea

[2016-06-11 10:12] #239 closed, assigned to TravisGesslein

[2016-06-11 10:17] askebv opened #240 "Market and scholar notifications, when they aren't built"
I just got the notification even though I haven't built them. Not to mention that I don't have the money build them, and have nor even been offered to buy the plans to build them:

![image](https://cloud.githubusercontent.com/assets/4981659/15984526/7a6f62be-2fce-11e6-8135-fa9fa1841ac3.png)

[2016-06-11 10:42] #240 closed, assigned to TravisGesslein

[2016-06-11 11:30] TravisGesslein commented on #229
Oh, was that a savegame you just played, or an older one from Patch 4 or whatever where Dawn Fortress was missing? I think savegames from when the bug was still in the game need to unlock the raid again using the map before it works again...

[2016-06-11 11:39] TravisGesslein commented on #217
No, this is just a visual issue, it uses the same animation and effect for energy regeneration, I'll change it :D

[2016-06-11 11:44] askebv opened #241 "Gameplay gap after defeating The Crypt for the first time"
I thought I'd revisit the experience of starting out, now that I already know the possibilities of the game. So I've started a new game.

And I must say that the game has a pretty good pace up until defeating the Crypt for the first time.

At first you watch your raiders unlock, once you figure out how to put the warrior into farm mode. Then you unlock build mode and can prioritize which tents you

[2016-06-11 12:57] Talisca commented on #235
Yeah, this happens because the timeapi is called over http rather than https (because their certificate is self-signed), so the user agent returns this network error and will not load the resource.

The error-handling for these calls is part of our todo-list.

[2016-06-11 13:51] DaemoniaV opened #242 "Little Bug - Level info tab do not auto-refresh after soft reset"
![lev](https://cloud.githubusercontent.com/assets/19784493/15985406/a8b7d9a0-2ff4-11e6-97f1-74d47ef845b1.jpg)
After first xp gain all become ok.

[2016-06-11 15:32] askebv opened #243 "Spiked slime event"
What this event do (beside visually changing the slimes)? The only advantage I see is that there's more spawns of low hp monsters, than you'd otherwise be able to get - so potentially a minor gold advantage.

Do they drop something special or anything else?

And if not, do they still appear later on? I don't see any advantage from them when you're able to one-shot later farm maps.

Either way, I t

[2016-06-11 18:53] Talisca commented on #220
I like the idea of deactivating all other classes with one click.

The current filtering works like a or-conjunction, so all items for the activated classes are highlighted.

I also thought about an and-conjunction so that you could filter for all items, which are equippable for each highlighted class (like the Hitstreak Skillbook - it's applicable to both Warriors and Archers).

[2016-06-11 19:17] askebv opened #244 "AoE Yoda keeps using his magic if you call your raiders to sleep mode"
The Green Goblin of Gardens of Eternity keeps using his skills if you put your raiders to sleep mode during the battle:

![image](https://cloud.githubusercontent.com/assets/4981659/15987007/d20fd47c-3019-11e6-86bc-c65a996b24e9.png)

He stops after minute or two, but I still figure it's unintended.

[2016-06-11 20:46] DaemoniaV opened #245 "Some suggestion..."
Hello, again in My brain born some thing.
1) Show the % of thing thaе I have. For example in game is 100 unique items I have in inventory 80 of them. So I have 80% all items.
2) Give some ancient for levelup 50+, 100 for 1 level will be good) . There is no reason to level up 50+ it is slow and increase of stats small. Today more profit level up 50, some raiding, reach farm level cap, reset, repeat

[2016-06-11 20:50] askebv opened #246 "Why are health bars behind everything else?"
I'm sure you have reasons as to why health bars are behind everything else:

![image](https://cloud.githubusercontent.com/assets/4981659/15987365/e243bf1e-3025-11e6-8a48-b7f9856cbeb2.png)

Did you not want to cover up the raiders? Did you have prior complaints about this?

I'm asking because it's sometimes a bit inconvenient to not be able to see the health of a monster. Maybe it's just because I'

[2016-06-11 21:42] #217 closed, assigned to TravisGesslein

[2016-06-12 02:03] TravisGesslein commented on #23
I implemented it, let's see how people like it. There are various options to handle it. Right now they will gather until every raider on the farm map is ready to go in again (as opposed to, say, waiting until ALL raiders regenerate in base, which would mean waiting until raiders in the farm map die and come back).

[2016-06-12 02:03] #23 closed, assigned to TravisGesslein

[2016-06-12 02:19] TravisGesslein commented on #246
Lesser of two evils... putting them in front clutters everything so hard that you can't see your raiders fighting anymore. We DID spend a ton of time implementing a skeletal animation system and drawing lots of equipment parts so your raiders look prettier! :hankey: Regarding your suggestion with mouse overing: Well, you can already click them and have the health bars show up, not sure there's muc

[2016-06-12 02:24] TravisGesslein commented on #61
Nobody encountered this anymore right? Closing it for now then.

[2016-06-12 02:24] #61 closed, assigned to TravisGesslein

[2016-06-12 02:34] #143 closed, assigned to TravisGesslein

[2016-06-12 02:34] TravisGesslein commented on #229
@DaemoniaV pls help

[2016-06-12 05:43] #72 closed, assigned to TravisGesslein

[2016-06-12 05:44] TravisGesslein commented on #67
Since nothing more came of this I'm pretty sure this happened because something unrelated crashed while the boss died. Will close until it happens again.

[2016-06-12 05:44] #67 closed, assigned to nobody

[2016-06-12 05:46] TravisGesslein commented on #17
By now, most of these bugs should be squashed... closing until it happens again.

[2016-06-12 05:46] #17 closed, assigned to Talisca

[2016-06-12 07:44] TravisGesslein commented on #114
Yeah looked like a small bug. Also we changed the skill so Warriors now dynamically detect when they are about to die and trigger bulwark using that, using their damage taken per second. This is better than a flat check for "less than 20% hp" or whatever because it will work regardless of how much damage the enemy does. if the boss is able to two shot your warrior, the warrior can now detect it an

[2016-06-12 07:44] #114 closed, assigned to TravisGesslein

[2016-06-12 08:03] TravisGesslein commented on #53
Thank you for the suggestions. For once I will try to be concise :hankey:
1. We will add this as another button below the activity UI at the top mid of the screen, which toggles between the two views (view base/view wherever raiders are). We will also add a toggle to let the camera automatically follow raiders similarly. Both of these will be visible whenever the raiders are doing any activity (An

[2016-06-12 08:03] #53 closed, assigned to nobody

[2016-06-12 08:04] TravisGesslein opened #247 "Show 'new item' label on inventory button when new (unviewed) items have been looted"

[2016-06-12 08:05] TravisGesslein opened #248 "Building Plan improvements"
- They should be automatically used and the buildings unlocked when the plans are bought
- Add building description to the building plan description (including gold cost).
- 'new item' label similar to #247 should be shown on the base building button when a new building was unlocked

[2016-06-12 08:06] TravisGesslein opened #249 "don't show raider sorting icon until you have at least 2 raiders"

[2016-06-12 08:08] TravisGesslein opened #250 "Highlight character view of raiders that are affected by a certain buff on buff icon mouseover"

[2016-06-12 08:08] #221 closed, assigned to TravisGesslein

[2016-06-12 08:10] #77 closed, assigned to TravisGesslein

[2016-06-12 08:12] TravisGesslein commented on #141
Unfortunately path finding is really expensive... can't fix it that way. Instead I'll modify the map so that case becomes much less problematic.

[2016-06-12 08:22] #141 closed, assigned to TravisGesslein

[2016-06-12 08:25] TravisGesslein commented on #79
Does this still happen? We fixed a couple of bugs that could've caused this... internal sprite re-usage... bugged death animations, etc.!

[2016-06-12 08:27] TravisGesslein commented on #124
See #47

The wandering merchant will sell more stuff in the future. For now he just doesn't have anything more to offer :hankey:

[2016-06-12 08:27] #124 closed, assigned to nobody

[2016-06-12 08:29] TravisGesslein commented on #133
Yup, that's one of the reasons the setting is there. So I'll close this for now because it's more or less working as intended. The issue is not nice of course but there's not much we can do about it right now

[2016-06-12 08:29] #133 closed, assigned to TravisGesslein

[2016-06-12 08:30] TravisGesslein commented on #81
Whoops, I almost forgot about this bug.

[2016-06-12 08:40] askebv commented on #79
I haven't noticed it since, but I have been overpowered for a long time, so it's hard to really tell. And on my new game, I'm still too weak to get to farm level 24. So I don't know, sorry :P

[2016-06-12 08:49] askebv opened #251 "AoE Heal can be equipped by any class"
This doesn't look like it's intended:

![image](https://cloud.githubusercontent.com/assets/4981659/15990155/46681980-308b-11e6-97e5-29ae833606b2.png)

Besides, only priests actually use the skill when equipped.

[2016-06-12 08:52] #251 closed, assigned to TravisGesslein

[2016-06-12 08:52] #81 closed, assigned to TravisGesslein

[2016-06-12 08:56] TravisGesslein commented on #79
I will follow the way of the ostrich and close this issue until that bug rears its ugly head once again

[2016-06-12 08:56] #79 closed, assigned to nobody

[2016-06-12 08:59] askebv commented on #246
I think your idea of an "options" way is pretty good. I think you're right about it being a "I want this to be pretty" vs "I want all information available to me" thing.

For alternatives, my best bet is to think of World of Warcraft. There you have a hotkey (V is default) to show the healthbars of all enemies. When you don't have it on, you can still see the health if you have them as targets. Bu

[2016-06-12 09:01] askebv commented on #248
Equip slot bags should probably also be automatically used when bought. Same with buildings plans. Since there's no utility in not using them.

[2016-06-12 09:04] askebv commented on #247
Hmm I'm not sure it's good this way. Because often I've looted so much that it's kinda tedious to mouseover all "new items". I think it should just show the 'new item' label on the inventory button when new items have been looted since last you looked at your inventory.

And maybe I'd actually also prefer if there was an option to remove the "new item" label from all items, when I close the invent

[2016-06-12 09:12] TravisGesslein commented on #244
Yoda is a girl!

[2016-06-12 09:12] #244 closed, assigned to TravisGesslein

[2016-06-12 09:25] askebv opened #252 "First bosses in Burning Cave don't spawn in place after relaunch"
I launched the Burning Cave raid and died to them. Then I launched it again and one of them was suddenly separated from the others. I didn't manage to screen capture it, but it died right between where my healed warrior and front archer is:

![image](https://cloud.githubusercontent.com/assets/4981659/15990329/2088025c-3090-11e6-86d8-ffcb239480f8.png)

Then I killed 2, and relaunched again, finding

[2016-06-12 09:29] askebv commented on #244
sorry I'll be gender neutral next time :grin:

using their magic*

[2016-06-12 09:34] askebv commented on #208
@Heishe I know you love when issues are closed - but unless you fixed this one, perhaps it should be reopened?

[2016-06-12 09:35] TravisGesslein commented on #208
Yeah, it happened to me today too. Will look into it.

[2016-06-12 09:44] TravisGesslein commented on #208
Yes that does indeed seem to be the cause of the effect. Why though, I have no idea O_O

[2016-06-12 09:48] askebv commented on #208
@Heishe You don't think it's related to casting a spell while in limbo? I've noticed spells aren't often interrupted if the caster or enemy dies between the initial mana consumption and the end of the casting animation. I don't know your code of course, but I would guess there could be some odd undesired effects if the target or caster isn't located in the map that your expected behavior calls for

[2016-06-12 09:58] askebv opened #253 "[Minor] Raid finish time above 1 hour"
It seems that the raid timer keeps going from my first launch, even after the global reset happens:

![image](https://cloud.githubusercontent.com/assets/4981659/15990514/027dea2e-3095-11e6-9a9a-4a1a4e5c9151.png)

It doesn't really make sense, since your progress has been reset in the meantime :grin:

[2016-06-12 11:06] DaemoniaV commented on #252
Confirm this situation sometimes in Frozen Coast with last gropu of enemy.

[2016-06-12 11:20] TravisGesslein commented on #93
Yup, from beta patch 6 onwards it will not change if the targeted raid in either mode wouldn't change with the transition.

[2016-06-12 11:20] #93 closed, assigned to TravisGesslein

[2016-06-12 11:21] TravisGesslein commented on #208
Oh, I know why it happens (it happens right when a raider dies who currently has that effect active on themself), I just don't know why the stuff ends up being green all over the place. I will fix it eventually :D

[2016-06-12 11:25] TravisGesslein commented on #234
Range improvement to priestesses sounds good

[2016-06-12 11:26] TravisGesslein commented on #234
eh, on a second thought probably not gonna make it for patch 6.

[2016-06-12 11:28] #117 closed, assigned to TravisGesslein

[2016-06-12 11:34] TravisGesslein commented on #188
Thank you for the thoughts. I think this is very much related to the other issues where this was mentioned. We will put in a lot of early game stuff via book of prophecies (and also, for completely new players, some tutorial stuff) so I think that should fix this issue handily.

But it's good to keep in mind that we have to take care not to make the progression to much "wait to get lucky"-based, a

[2016-06-12 11:37] #216 closed, assigned to TravisGesslein

[2016-06-12 11:42] #242 closed, assigned to TravisGesslein

[2016-06-12 12:19] askebv commented on #234
I just realized that I can just trap my raiders, and then there's never a range problem :P

![image](https://cloud.githubusercontent.com/assets/4981659/15991089/9ea31416-30a8-11e6-8dc5-d3d7417e406b.png)

[2016-06-12 14:17] #220 closed, assigned to Talisca

[2016-06-12 14:31] #222 closed, assigned to TravisGesslein

[2016-06-12 14:32] TravisGesslein commented on #229
After some testing we are relatively sure this is because of old savegames. If you get the map again you should be able to unlock it and get the map back into the raid 'inventory'.

[2016-06-12 14:32] #229 closed, assigned to TravisGesslein

[2016-06-12 14:35] TravisGesslein commented on #252
Should be fixed in Patch 6.

[2016-06-12 14:35] #252 closed, assigned to TravisGesslein

[2016-06-12 14:46] askebv opened #254 "Consumables aren't used correctly when viewing another place"
So I just had a scenario where I had no scrolls of healing, but I wanted to use one in the raid fight. So I went to the base to buy one from the market, and use it right away. It turned out that it didn't actually apply to my raiders.

I recorded this in a second setting to show this:

![image](https://i.gyazo.com/5b9115e87e786a1d2315ac79b75fb794.gif)

I also tested that it neither works with Scro

[2016-06-12 14:50] Muskar commented on #254
On an unrelated note, it really seems like the bug squashing is closing in fast. It's getting pretty hard to find new bugs now, which is pretty exciting stuff. Because that means you guys can get to work more on features soon :smiley:

[2016-06-12 14:55] askebv opened #255 "Moving towards Beta Patch 6 or 7"
I just wanted to make a small discussion topic, because it really seems like the bug squashing is closing in fast. It's getting pretty hard for me to find new bugs now, which is pretty exciting stuff. Because that means you guys can get to work more on features soon :smiley:

Good work, gentlemen! :tada:

[2016-06-12 14:58] #249 closed, assigned to Talisca

[2016-06-12 15:04] TravisGesslein commented on #255
We just uploaded Patch 6!

[2016-06-12 15:20] DaemoniaV opened #256 "Bug? Burning Seal and Essence of Rage."
When I create My Burning Seal it spend all My essence of Rage - about 10 items. Is it correct?

[2016-06-12 15:27] DaemoniaV commented on #255
You can share with us by nearest game features.

[2016-06-12 16:10] askebv commented on #256
How do you use the essences with the sword?

[2016-06-12 16:26] askebv opened #257 "Saving Throw is used on mercenaries"
![image](https://cloud.githubusercontent.com/assets/4981659/15992397/2977b26e-30cb-11e6-84fb-e62d74e21136.png)

[2016-06-12 16:29] askebv commented on #257
I think some of my abilities are also making the mercenary attack my raiders. I'm guessing some of my warrior skills, but I haven't caught it yet. Here's the skills I'm currently using:

![image](https://cloud.githubusercontent.com/assets/4981659/15992413/a9f95b90-30cb-11e6-9bb0-e9f7be6543a0.png)

[2016-06-12 16:45] askebv opened #258 "Suggestion: Make filtered items less visible"
I can't seem to find where I said this elsewhere, but I was just searching for a priest item and for everything else than uncommon items it's still pretty hard to tell which items I can use:

![image](https://cloud.githubusercontent.com/assets/4981659/15992455/3d2e00c2-30cd-11e6-9ffd-832c9ebdc239.png)

The white color from the numbers stand out far too much, so I'd suggest darkening those. I might

[2016-06-12 17:04] DaemoniaV commented on #256
Just double click on grey color sword in time of raid in Chamber of Sealer.

[2016-06-12 17:04] askebv opened #259 "Mercenaries aren't initially sorted right when hired"
When you buy the mercenary and have the sorting set on "by class", the mercenary is put in between the mages:

![image](https://cloud.githubusercontent.com/assets/4981659/15992566/7fea8d20-30cf-11e6-9aab-8b2a81d82710.png)

But when you sort again afterwards, it's sorted between all mages and all warriors:

![image](https://cloud.githubusercontent.com/assets/4981659/15992577/c184f324-30cf-11e6-96f2

[2016-06-12 17:05] TravisGesslein commented on #255
Nearest? Well, the reintroduction of the crafting system and the book of prophecies will probably happen at the same time, there's almost no code work left for them (book of prohpecies has to be slightly altered from the old quest system), just creating prophecies, and stuff to craft. Together with that we will probably release another raid.

After that the only thing that is left is to release. B

[2016-06-12 17:08] askebv opened #260 "Cosmetics slots on mercenaries"
Unless you want us to be able to decorate our mercenaries in the future (and preferably keep the items when they die), then I'd suggest removing the cosmetic slots from them:

![image](https://cloud.githubusercontent.com/assets/4981659/15992631/db9c9d88-30d0-11e6-9bbd-4889442367c3.png)

And in case you didn't even intend for players to be able to view this window for mercenaries, then I achieved i

[2016-06-12 17:10] askebv commented on #257
My priests neither heal the mercenary, so maybe he's seen as a semi-enemy?

[2016-06-12 17:19] askebv opened #261 "Mercenaries and taunt/command skill"
It seems that there's an issue with mercenaries and at least one of the taunting-type skills. There's a permanent red exclamation mark floating far away from him (check upper part of the image), but it follows the mercenary's movement and orientation:

![image](https://i.gyazo.com/bdec08f31ca4a4e2538b730c8559871a.gif)

After recording that, I also realized that the stun the mercenary received from

[2016-06-12 17:41] DaemoniaV commented on #255
Did You plan to remove "50 level wall"? As My opinion in Alpha the items has little value and You level is very important. When new raid release sometimes You clearly understand that no items can help You need serious level up. In beta 50 level achieved in couple of hours. There is no so feel when You some days try beat Raid and see slow progress by boss hp left after wipe of You team. Three days

[2016-06-12 17:55] askebv commented on #255
I've grown to like the soft wall at level 50. I didn't like that you needed exponential levels in the alpha, to get any meaningful stats. Like you said, it diminished items to very low value.

I agree with your worries though. For now, the gameplay is finished way too fast. At least if you consider raid bosses a way to measure how strong you are. And I like seeing it like that.

But just dragging

[2016-06-12 18:22] askebv opened #262 "Mercenary guild's advertised stats"
The Mercenary guild says the mercenary for hire has 100 Max HP and does 4 damage:

![image](https://cloud.githubusercontent.com/assets/4981659/15993037/2ad9f30a-30db-11e6-910b-ddf78642fd42.png)

But he actually has 1900 hp, and does 19 damage:

![image](https://cloud.githubusercontent.com/assets/4981659/15993040/47b32302-30db-11e6-8fc7-44268fcce21f.png)

I'm level 61, if that matters.

[2016-06-12 19:29] DaemoniaV commented on #255
Agree with some Muskar thoughts. Core of My message "Game is to easy". Want that every new raid - "Punch into face", like a drunk bear and You do not know how to restrict him.
Four days of non stop farming for every new raid good time. There are some different ways to fill this days by interesting game process.
1) Do the buildings on base more capped but much more powerfull and expensive. Let Weap

[2016-06-12 19:44] askebv commented on #255
Getting to level 60+ isn't so hard after a few resets. All it takes is ancient wisdom investments into "More XP" to help you out. Eventually it'll become pretty easy - so you still have the exponential levels - they're just not as dominant, as before. Which is what I like.

As for quests that will give you items to be able to do raids faster, I love that idea. As the developers stated elsewhere, I

[2016-06-12 20:28] askebv commented on #255
I just drew a small illustration of what I think the optimal overall progress should feel like:

![image](http://i.imgur.com/5RYTfSU.png)

This is what I learned from Adventure Capitalist. Progress should feel easy and fast in the beginning, and then it should slowly transition into slower progress speeds, as you approach the end. The more time and effort you put into it, the more rewarding progre

[2016-06-12 21:03] askebv opened #263 "Raiders can still get stuck when enclosed in a big area"
When in Auto-Raid mode, it seems raiders can still spawn inside enclosed areas:

![image](https://cloud.githubusercontent.com/assets/4981659/15993807/edf97890-30f1-11e6-84dd-1ab76fb8275d.png)

[2016-06-12 21:38] thorbrian commented on #260
I love this feature.

Mad Dog never looked so good:
![image](https://cloud.githubusercontent.com/assets/11687574/15993977/3adf1076-30ab-11e6-9aef-b48cb08f81aa.png)

I don't even mind that it costs me an item per.

[2016-06-12 21:39] askebv commented on #260
Oh, I tried several items on him with no success. Then I agree, keep it. Regarding items, then it obviously doesn't matter now when we have an abundance of items - but depending on what excess items are used for in the future, I'd at least keep this use in mind. And if we get a use of excess items, and mercenaries still make you lose the items you decorate them with, then there should probably be

[2016-06-12 21:39] thorbrian commented on #258
Yeah, the filtering doesn't really work for me either. Ideally, I'd just not see the other stuff at all.

[2016-06-12 21:41] thorbrian commented on #256
FWIW, it didn't take all my rage. I got left with 3. I don't know how many I had before, but it was more than 10.

[2016-06-12 21:55] askebv commented on #256
Btw, I hope the questing system will hint how this weapon is obtained in the future. If you keep it a secret, it'll just be voted up as a top comment on Kongregate and take a slot there. And if you advance to Steam, people will probably need to go to forums and otherwise to realize it.

[2016-06-12 22:12] thorbrian commented on #256
FWIW, I guessed that the sword could be recharged with essence of rage from the description (where it mentioned burned out of rage) but the part I would really never have guessed was that the burned out seal could be activated, like an item.

I assumed I had to make this work through equipment choices, so had been farming like this:
![image](https://cloud.githubusercontent.com/assets/11687574/1599

[2016-06-12 22:16] askebv commented on #256
Yeah same for me. I hypothesized things like getting 100 rage with 3 essences and the sword equipped or defeating certain bosses with it. I also tried double clicking the item to use it, but I never thought of using it in the specific raid.

[2016-06-13 06:31] Talisca commented on #259
This is indeed a bug. Currently its still sorted by the classes Warrior, Archer and Priest. All others will be put anywhere.

I agree with you.

[2016-06-13 07:22] DaemoniaV commented on #229
Sorry do not vieq You comment earlier. Today again cath this. There is no save 100%. I load game and check the raid it was there. Then soft reset and it dissapear. Did it normal?

[2016-06-13 07:26] #259 closed, assigned to Talisca

[2016-06-13 07:28] DaemoniaV opened #264 "Boss still attack..."
If You give commnand raid at a the same raid where You fight the bosses go to attack You team.
![bug3](https://cloud.githubusercontent.com/assets/19784493/15999927/9ef76198-3151-11e6-87d8-91b1b8d678d2.jpg)

[2016-06-13 07:39] Talisca opened #265 "Some abilities do not work correctly with mercenaries"
They are either totally ignored or are regarded as an enemy.

See also #257

[2016-06-13 07:41] Talisca commented on #257
Its true that the mercenary is sometimes not regarded as an ally. But the priests should heal him regardless as long as his family is not overwritten

[2016-06-13 07:41] #257 closed, assigned to nobody

[2016-06-13 07:58] Talisca commented on #258
Your wish is my command.

[2016-06-13 08:39] Talisca commented on #262
Yeah, the stats shown above are the initial values for Mad Dog at level 1. After he is hired, he will level up to your current raider level.

[2016-06-13 10:05] askebv commented on #257
Yeah I later noticed I was wrong about the healing. I just noticed that he always died in Ravaged Abode, and that he didn't have full hp. In reality, it turned out that I had overheal on, and that all my other raiders also died on Ravaged Abode, so the world makes sense again! xD

[2016-06-13 10:12] askebv commented on #264
I'm not sure what you mean. When I change from auto-raid to raid mode, or raid mode to auto-raid mode, nothing changes, as long as it would try to do the same raid. This is a new feature in Beta Patch 6.

Is this not what happens to you?

[2016-06-13 10:43] Talisca opened #266 "Red Priestesses are huge fans of the mercenaries"
They will stalk him anytime. There is no escape...

[2016-06-13 11:07] TravisGesslein commented on #256
Yup, there will be prophecies for stuff like this which the player can find. Some of them along a set unlock schedule, so to speak (i.e. new prophecy is unlocked when certain conditions are met), some just random world drops, in the form of Scrolls. Burning Seal will probably be a random world drop. You can do all of this stuff without the prophecy, that is just a feature for people who don't like

[2016-06-13 11:10] TravisGesslein commented on #256
So here's what should happen btw: When you create the Burning Seal, all rage essences should be removed from your inventory (and they should also stop dropping in the world). @thorbrian has essences left after creating the Burning Seal? Woot

[2016-06-13 11:10] Talisca commented on #258
![class-filtering](https://cloud.githubusercontent.com/assets/9008844/16005438/93d50566-3167-11e6-8d03-2d81d676d3da.gif)

That would be the upcoming behavior. All non-matching items won't be shown at all.

[2016-06-13 11:10] #258 closed, assigned to Talisca

[2016-06-13 11:29] #48 closed, assigned to Talisca

[2016-06-13 11:51] askebv commented on #258
Is [the ultimate question](https://www.youtube.com/watch?v=aboZctrHfK8) how many Worn Leather Armors you have?

[2016-06-13 11:55] askebv commented on #266
I bet celibacy makes them hungry for beasts.

[2016-06-13 11:59] DaemoniaV commented on #264
Seems that when Tou fast relaunch raid current fighting boss do not reset target. When My party wait all member at entrace boss run to them throught all map.

[2016-06-13 12:02] askebv commented on #264
Ah, now I get it. I also see that the boss is way down the map, far away from where he's supposed to be. So how do you do it? Do you put it in sleep mode and then quickly back in raid mode?

[2016-06-13 12:16] DaemoniaV commented on #264
No.Just double click on active raiding icon (shield with sword) it open/close list of modes and open raid menu. Then click same raid and press "Strat Raid".

[2016-06-13 12:25] DaemoniaV commented on #256
They do not stop drop. After creating Burning Seal I got already four essences.

[2016-06-13 12:33] DaemoniaV opened #267 "Some question about drop rate..."
My team spend 2 days in non stop Auto-Raiding mode. They able to kill all monsters except last in last Raid. I have all elements of sets except - Warfists of Frothen Coast and Blizzard Walkers. Drop chance 300%. Does all normal with drop table? I am simple unlucky?

[2016-06-13 13:45] askebv commented on #264
Nothing happens when I click "Start Raid", when I'm already in the raid:

![image](https://i.gyazo.com/c2fdaec66f321f20961a4269d7e517d8.gif)

[2016-06-13 13:52] askebv commented on #267
I got the full Soul of the Frozen Coast set without any item drop chance upgrades - so I'd say you're either unlucky or a victim of a bug. It depends on how those set items work. I.e. if there's supposed to be a guaranteed drop every X runs.

[2016-06-13 13:53] DaemoniaV commented on #264
Strange same to me. Trying to repeat it.

[2016-06-13 14:00] DaemoniaV commented on #264
It like You said previous. Fast Sleep mode and then Raid again provoke bosses to run to You team.

[2016-06-13 14:05] askebv opened #268 "Priest priority list glitches"
I'm not sure I understand exactly how the priority list works. Take the following scenario for example:

![image](https://cloud.githubusercontent.com/assets/4981659/16010138/2c4d09f2-3180-11e6-9f3b-0122e4806655.png)

There's two raiders in need of healing, but all my priests seem to do are rejuvenation. They don't even cast basic heal. Take in mind that Overheal is off at this point.

So is there

[2016-06-13 14:22] askebv commented on #268
Okay, after refreshing the page, it looked like this:

![image](https://cloud.githubusercontent.com/assets/4981659/16010554/021b58da-3182-11e6-9da2-2e58fec5e50b.png)

And now my raiders are healing normally again. However, if I unequip all my flash heals, and then re-equip them, I get this:

![image](https://i.gyazo.com/3dfec4e72c0dfc5f0c1a689ba47ceee5.gif)

Note the first one replaced the duplica

[2016-06-13 14:25] TravisGesslein commented on #268
Does the list in the first screenshot (with the duplicated rejuvenations) look like that every time you reload that? If you could send me that savegame in that state it would probably make it easy to debug the error.

[2016-06-13 14:39] askebv commented on #268
@Heishe A few minutes later, it happened again, but with rejuvenation, healstreak and basic heal still working. I refreshed and now have two basic heals. I exported my game and sent it to you. Hopefully it's still glitched when you receive it. Otherwise I'll make sure to export one where I notice it glitch before I refresh the page.

[2016-06-13 14:52] TravisGesslein commented on #268
Yup, glitched for me too. I'll investigate it

[2016-06-13 16:46] thorbrian commented on #256
I may have kept 3 essences of rage because I had 3 equipped on my raider?

[2016-06-13 17:07] askebv opened #269 "Direct pathfinding, map reworks and monsters returning to spawn point"
After having played with the monsters returning to spawn point since Beta Patch 5, I've come to realize that I may not be as neutral about it as I thought I was. It was never really a feature that I saw necessary, but now that it's here, it seems like the map structure makes a huge difference.

Since Beta Patch 6, a few maps have had their landscapes adjusted to ease this out, but there's still a

[2016-06-13 20:09] askebv opened #270 "Fixed cost for soft resets combined with "More gold" upgrade"
I'm not sure I think those are a great idea. Thus far, we don't really need more money than 1x can buy, so all the "More gold" upgrade really does is accelerate the rate of possible soft resets which, in turn, further diminishes all the absolute costs that this game have.

I don't know your longterm plans, but the first thought I had was to tie the cost of soft resets to lifetime earned ancient wi

[2016-06-14 04:27] thorbrian commented on #267
FWIW, even at level 50 with basically every item and both sets fully equipped, when I am on auto-raid, I notice my raiders don't consistently finish burning cave and frozen coast on a single raid attempt, and if they fail at all, they don't retry or continue until the next global reset.

If you want to check if this is the case for you, check in on them when auto-raiding and see which raids are fi

[2016-06-14 05:04] DaemoniaV commented on #267
My team Auto-Raid all raids except last one. All raids except last have red text that they cleared. No doubt. There is another 12 hours Auto-Raiding with 400% drop = 0 new items.

[2016-06-14 05:41] askebv commented on #269
Scratch that. Managed to get to farm level 114 with some manual management on a few of the levels. In fact I managed to get a lot further. It seems my raiders actually get more stuck when 3 (or more) super powerful enemies or clustered together, which will happen on most maps eventually. Especially 138. However, I solved those issues by having a single charm book, and let the charmed monster tank.

[2016-06-14 05:46] askebv commented on #267
As thorbrian says, idle raiders are often not consistent. I've found my raiders sometimes lose on Frozen Coast one time, and then the next time they even clear Ravaged Abode. So you can't be sure that they clear the raids every time on idle mode.

[2016-06-14 05:51] askebv commented on #263
It doesn't seem to happen in auto-increase mode however. At least not after 12+ hours of running it for me.

[2016-06-14 08:56] askebv opened #271 "Using a snapshot does nothing"
Weird. I've used snapshots a few times in prior patches, and the stuff worked fine. But now nothing seems to happen. Even after a refresh, my snapshots don't seem to do anything except put everything on cooldown.

[2016-06-14 08:57] #269 closed, assigned to nobody

[2016-06-14 09:59] #265 closed, assigned to Talisca

[2016-06-14 10:15] Talisca commented on #271
Maybe you are missing some of the items in the snapshot. Hm..

Could be easier to see if the information in the mouseover-info would be somewhat formatted. I think its time to overhaul the shown infromation

[2016-06-14 10:20] askebv commented on #271
I tried saving a snapshot of what I had on, and then changing one item, and then using the snapshot. Nothing happened - not even an error message.
Maybe it's because I still have 2 Arctic Honors and 2 Frozen Chestplates or something like that? I sent my snapshot to the email anyway.

[2016-06-14 10:38] Talisca commented on #261
How... Its funny, because the red exclamation mark is never attached to the creatures. :(

[2016-06-14 10:41] askebv commented on #261
I don't know how it happened honestly. I was just in normal farm mode with my mercenary, to test stuff out, and after about 10 minutes I noticed this.

[2016-06-14 10:54] #266 closed, assigned to Talisca

[2016-06-14 13:47] Talisca commented on #271
Your snapshot "Normal" is not usable, because you are missing the Hail of Arrows Skillbook.

[2016-06-14 13:50] askebv commented on #271
Hmm, that's weird. I thought I disabled that upgrade after I tested this the first time. But if I enable it, it seems to work fine. So either you're right, and there's no problem (except that it doesn't show an error) - or I just can't reproduce it right now.

[2016-06-14 14:07] Talisca commented on #271
In the coming patch you will be notified by an error with the amount of missing items. :D
I don't want to list all of them, that would be too much.

[2016-06-14 14:08] Talisca opened #272 "Show an error if a snapshot is not applicable"
#271

[2016-06-14 14:08] #271 closed, assigned to nobody

[2016-06-14 14:11] #272 closed, assigned to Talisca

[2016-06-14 14:12] askebv commented on #271
Yeah, I'll just open another issue in a later patch if the issue turns out to be what I originally thought it was. Thanks.

[2016-06-14 17:12] DaemoniaV opened #273 "Raider in lava stuck)"
![bug3](https://cloud.githubusercontent.com/assets/19784493/16052300/4a6403d6-326c-11e6-9887-9b9a0d3d1777.jpg)
While all team wait on raiding it lazy archer he cool in lava)

[2016-06-15 08:02] DaemoniaV commented on #267
Since three days ago I rebuild skills My team come to last three bosses of Frozen full ready. Priest with almost full mana and they regen faster than spent. I look for them 8 attemps in a row. They easy clear Frozen raid. So another 24 of raiding with 500 drop no result. Sure this is some bug with drop system((((((

[2016-06-15 08:14] thorbrian commented on #267
I looked up the item drop chances - turns out they are both from the Ravaged Abode, so that is probably why you haven't gotten them. Looks like if you manually grind through Ravaged Abode, you should get them quickly

Blizzard Walkers are a 10% drop from the Centaur boss pair
Warfists are a 10% drop from the Yeti boss pair

I'm guessing the Yeti boss pair are killing your raiders on auto with the

[2016-06-15 08:37] thorbrian opened #274 ""Old Cane" duplicates itself when used"
I found an "Old Cane" piece of equipment when grinding farm level - it's equippable by all classes, but appears to do nothing when equipped.

However, when I use it (double click) it seems to just give me more canes, without any limit

![image](https://cloud.githubusercontent.com/assets/11687574/16073218/c12ba24e-3299-11e6-9900-9df4de7586aa.png)

Is it supposed to do anything at all?

Checked java

[2016-06-15 08:44] thorbrian opened #275 "Hovering over bowstring slot in cosmetic equipment window triggers javascript error"
Everytime I hover an item over the "bowstring" slot of the cosmetic equipment window, I get this error:
game.min.js:4468 Uncaught TypeError: Cannot read property 'indexOf' of undefined

... and come to think of it, isn't there only one bowstring piece of equipment?

[2016-06-15 08:56] thorbrian commented on #257
FWIW, I get this all the time, but don't have command or challenging cry equipped

It's pretty hilarious watching the mercenary go stab a boss enemy, then go stab one of my raiders, only to get stunned by a no look saving throw, and have him just repeat that over and over again

bad mad dog

[2016-06-15 09:25] askebv commented on #275
Yes, there's only one bowstring, unless you got more when the glitch of multiple drops was still in the game.

[2016-06-15 09:27] DaemoniaV commented on #267
In 50% they do it in 50 raiders kill them first. Keep trying manually. Thx.

[2016-06-15 09:35] Talisca commented on #275
Happens because of an additional check. Bowstrings are somewhat special and not all items will modify the raiders. Will be fixed soon.

[2016-06-15 09:37] #275 closed, assigned to Talisca

[2016-06-15 09:40] Talisca commented on #274
By using the Old Cane, you will trigger something special. But we removed this special thingy for the beta without checking the Old Cane :D

[2016-06-15 09:41] #274 closed, assigned to Talisca

[2016-06-15 10:22] Talisca commented on #273
There seems to be something awfully broken. You are on a farm map, but your activity states that you are in the Crypt raid?

Is there any chance you had the developer console open at the time?

[2016-06-15 10:24] askebv opened #276 "[Minor] Buy button stays on ancient upgrades that you just maxed"
If you buy an ancient upgrade to the max, the buy button sticks around, and clicking it gives the appropriate error.

But if you deselect the upgrade and then reselect it, the buy button is no longer there, as expected.

[2016-06-15 10:31] askebv opened #277 "Hey, you! The travelling merchant just arrived with nothing available!"
I don't know your future plans with the travelling merchant - but I think it would be nice if the merchant (at least the notification) didn't show up if he didn't have anything to offer. I don't mind him showing up from time to time, even if he has no utility - if that's something you like. But I think the notification is completely unnecessary. In fact, I think it indirectly devalues the importan

[2016-06-15 10:36] askebv opened #278 "Suggestion: Snapshots should save priority list"
For now, I haven't needed to use snapshots very often, so it's not really a big deal. But in the longterm it seems logical to save the priority list in pair with each snapshot, so you don't have to rearrange skills every time you use a snapshot.

[2016-06-15 10:40] DaemoniaV commented on #273
I was on Auto-Raid. When timer is count to zero my team left farm map and after rest try begin Crypt raid. But one raider stuck in the lava and team stay at entrance of crypt. If this is cath again then try console.

[2016-06-15 12:36] TravisGesslein commented on #125
Whew, this is complicated problem. The reason they are unreadable is that with a 1366 x 768 display, given that the game window itself doesn't even use up all of the page size, the render resolution of the game is something like 640 x ....   or something similar. In other words: Very small. This makes it extremely hard to render small text sharply as well as fast enough to not slow down the game s

[2016-06-15 12:36] #125 closed, assigned to TravisGesslein

[2016-06-15 13:09] TravisGesslein commented on #273
The collision layers of some of these tile maps had some holes. I assume the raider opped through. Fixed in Patch 7

[2016-06-15 13:09] #273 closed, assigned to TravisGesslein

[2016-06-15 13:26] #236 closed, assigned to TravisGesslein

[2016-06-15 13:27] TravisGesslein commented on #270
Scaling it with the rewarded Ancient Wisdom is a very good idea.

[2016-06-15 13:29] #270 closed, assigned to TravisGesslein

[2016-06-15 13:39] askebv commented on #270
@Heishe Oh wow, I didn't expect that to be implemented so soon. I'm excited to check out the implications of this. I'm guessing the factor will probably require some tweaking.
What is the formula you have implemented now?

[2016-06-15 13:44] TravisGesslein commented on #270
earned points \* 10 :hankey:

[2016-06-15 13:47] TravisGesslein commented on #267
Yeah, two of the set items drop in Ravaged Abode. We kept it this way because the raids are thematically similar, and geographically very close, makes sense to drop the frozen set in both.

[2016-06-15 13:47] #267 closed, assigned to nobody

[2016-06-15 13:51] askebv commented on #270
@Heishe And what is "earned points"? Is it:
1. Claimable points (the number in the bottom of the tooltip)?
2. Prior earned points (let's say I have Overheal unlocked and 30 unused points - that's 530 total)
3. The two above combined

From the price, it sounds like the first option.

[2016-06-15 16:35] askebv opened #279 "Blizzard shows up, even if it's not currently there"
So, I'm guessing that the Blizzard spawns on one specific map, where one random raider is - and then it just stays there until it's done.

A lot of the time, however, I've seen the blizzard visually appear on the screen, but without having any effect. In these cases I think it's because the blizzard was summoned in the base, or summoned on a prior map (e.g. in auto-increase mode), or in the last r

[2016-06-15 17:10] TravisGesslein commented on #268
Alright, the glitch is fixed (dont worry it didn't take me two days, I was busy with optimization)... now to automatically fix broken savegames...

[2016-06-15 17:13] TravisGesslein commented on #270
It's #1. I like the word claimable

[2016-06-15 17:27] #268 closed, assigned to nobody

[2016-06-15 18:01] askebv commented on #270
@Heishe Yeah - I actually had a little bit of difficulty finding a good word for it. Turns out it is a word, just mostly for scrabble games and pretentious Internet comments :wink:

[2016-06-15 18:15] #276 closed, assigned to TravisGesslein

[2016-06-15 18:29] TravisGesslein commented on #256
Oh yeah, they are only deleted in the inventory. It's not actually an issue so I won't fix it (at worst, in the crafting system later you will get some additional mats out of them).

But they should definitely stop dropping, will look into it.

[2016-06-15 18:39] #256 closed, assigned to TravisGesslein

[2016-06-15 20:06] DaemoniaV opened #280 "Sort Raiders button unaviable..."
Bigger hp and resource bars hide the button....
![bug4](https://cloud.githubusercontent.com/assets/19784493/16095541/b96abdce-334d-11e6-88c9-f6fd8cf74db4.jpg)

[2016-06-15 20:16] DaemoniaV opened #281 "After Fuulscreen muse cursor do not show actual position..."
Try to explain. In full screen the actual click happen some pixels upper than show cursor. When You come back to window mode that more worse. Example on screen - cursor show empty place but game show about Boss HP Reduce. Cursor dont snapshotes so I draw position manual. Cursor draw red arrow. In circle where game think the cursor.
![bug5](https://cloud.githubusercontent.com/assets/19784493/160958

[2016-06-15 20:23] TravisGesslein commented on #280
Whoops :hankey:

[2016-06-15 20:33] DaemoniaV opened #282 "Cost of Soft Reset.."
Does it direct formula Artifacts*10?
It seems Me very high price. I reach 4000 artifacts in several hours. But 40000 of gold it is several days!

[2016-06-15 21:01] askebv commented on #282
#270 Yeah it's a high price. I think it might need tweaking but we'll see. It'll definitely mean that you'll need to upgrade "more gold" a lot if you want to do quick soft resets over and over.

[2016-06-15 21:02] DaemoniaV opened #283 "Warped Cave description do not feet in window"
![bug6](https://cloud.githubusercontent.com/assets/19784493/16097247/8aa9b956-3355-11e6-8e35-39f7defc1688.jpg)

[2016-06-15 21:08] DaemoniaV commented on #282
It very weak bonus. Fro example +10% gold from 30% to 40%. Cost 2000 AA = 20 000 G. My day income about 20 000 (but may be less). So it give me 2000 G in one day. So it need 10 days just for return spended money.

[2016-06-15 21:34] askebv opened #284 "Visibility of health numbers"
It's not as bad as it appears to have been on a small screen (#125), but this new fix makes the text a lot harder for me to read:

![image](https://cloud.githubusercontent.com/assets/4981659/16097346/a247e9dc-334d-11e6-9656-13dd7136132b.png)

It's probably a pretty difficult thing to tackle. But my best suggestion is to look at color management, resolution detection and/or fonts.
For color managem

[2016-06-15 21:55] askebv commented on #282
Offline gains will probably remedy a big aspect of this. But if you're running the game 24 hours straight, then you should get more than 20k gold. Otherwise you're not farming the best place for gold. With Hail of Arrows, Cleave, 5/5 Increased Monster Count and 5 More Gold, I'm getting around 7k-8k per hour in farm level 10. Probably only 5k if auto-raid mode is on.
That means it would take 3-4 ho

[2016-06-15 22:09] askebv opened #285 "Size of the new notification icon"
I feel like it's super small. So small that it's sometimes hard to see what it is. Is there a reason for this?

If it's because the text is so big in comparison, then I wouldn't mind if you removed the text again. Of course that would work better if everything had a unique icon first, but maybe @AlexanderOtte isn't up for this? Too busy drawing awesome new bosses, eh?

[2016-06-15 22:12] askebv opened #286 "Dislocated enemy health bar in Gardens of Eternity"
I only noticed it once so far, but the female Yoda in Gardens of Eternity had their character portrait (when clicked) down below my hotkey bar in the bottom left corner. I don't yet know if it's reproducible, but the dragon's health bar and several other bosses I checked later on were fine.

[2016-06-15 22:16] askebv commented on #281
As a sidenote, putting the browser in full-screen-mode (F11) looks better than the Alt-Enter mode, since the game mode also stretches things.

[2016-06-15 22:56] AlexanderOtte commented on #285
This will be the first thing I will check in the morning.

[2016-06-16 07:07] DaemoniaV commented on #263
My War morning hide somewhere too. Click by portrait show this picture.
![bug6](https://cloud.githubusercontent.com/assets/19784493/16108144/10f530b8-33aa-11e6-9392-0d69cc65bc0c.jpg)

[2016-06-16 07:11] askebv commented on #263
You can find them by using the equipment and statistics window.

[2016-06-16 07:19] askebv commented on #284
As a sidenote, buff text is also pretty hard to read for me on certain backgrounds now:

![image](https://cloud.githubusercontent.com/assets/4981659/16108448/766fb8b6-33a3-11e6-9ed4-743416e6f7e4.png)

[2016-06-16 07:20] askebv opened #287 ""New patch available""
#233 #127 #58

The "New patch available" showed up last night. Then I refreshed the page to update to beta patch 7, and this morning I found that it still said "new patch available":

![image](https://cloud.githubusercontent.com/assets/4981659/16108358/ef169a6a-33a2-11e6-8cb5-e8917a612742.png)

I only think it appears once, after updating. That's what happened between beta patch 5 and 6 anyway.

I

[2016-06-16 07:27] DaemoniaV commented on #287
Me too.

[2016-06-16 09:29] TravisGesslein commented on #287
Did you immediately refresh once it showed up, i.e. less than 30 seconds later? I.e. is it possible the game didn't save before that? Otherwise it would be very weird!

[2016-06-16 09:43] #86 closed, assigned to TravisGesslein

[2016-06-16 10:39] askebv commented on #287
I refreshed shortly after seeing DaemoniaV had posted issues in a new patch (#280 #281 #282).

I probably hadn't had the game in focus since the patch was released, so it might have been in low-power mode. So maybe the notification hadn't shown up before I actually made the tab active. Could this be it?

[2016-06-16 10:41] askebv commented on #86
@Heishe So what's the solution you implemented here? An ability to deselect the health bars? Hiding them when all shown bosses are dead? Putting equipment and stats on top?

[2016-06-16 10:55] TravisGesslein commented on #284
The problem here is mostly combination of a :hankey: font for low font sizes (lots of thin lines, lots of space between characters and their curves, adding outlines makes it even harder since they are usually very thin features, etc.) and bad rendering. I will continuously improve this over time as I get around to it. Next patch should already have quite some improvements.

Current patch text left

[2016-06-16 10:59] TravisGesslein commented on #284
Actually, the one on the left is already a slightly improved version from the one that is currently live :hankey:

[2016-06-16 11:17] #83 closed, assigned to TravisGesslein

[2016-06-16 11:28] DaemoniaV opened #288 "About drop again..."
Sorry for my annoying. I am again rebuild My team and they now 50% kill Yeti on last raid. But we do not take it into account. Count another...
I kill Yeti and Centaur 16 times (for 2 days) manually. My drop chance 500% and 4 times it was first clear after soft reset. Thorbrian  mentioned 10% drop. How did it work? I have 500% drop - mean this is 10%*500%=50%?? If it so... Do You believe that You

[2016-06-16 11:34] askebv commented on #288
Unless they have a failsafe, it's always possible to be unlucky with probabilities. Even with 99% chance to drop something, it's _possible_ to do it thousands of times, and still not get it. It's very _unlikely_ but it can happen. And we always seem to believe that the rare cases will never be ourselves.

Probabilities aside, it could be a bug - but I haven't personally had any issues with it. Per

[2016-06-16 11:38] DaemoniaV commented on #288
Did You notice some drop form Adobe? Besides that set items.

[2016-06-16 11:48] TravisGesslein commented on #84
Took a while to respond to this, very busy!
- Training

I have another idea for this. I think we will implement a 'damage meter' (with options for HPS, damage taken, and other stats of course) for the raiders similar to what you know from many MMO addons. A kind of view that shows 10 normalized bars with character icons to the left indicating which raider it belongs to, and the length of the bar s

[2016-06-16 11:55] TravisGesslein commented on #288
Oh, the drop rate upgrade only affects 'global drops' that can drop everywhere, like random healing scroll drops, or the global item drops you can get. We can't really modify boss drops like that, unless we add lots of special handling depending on item rarity and making sure that the probabilities still make sense, etc. (if we just increase the drop % of items weird stuff will happen, like items

[2016-06-16 11:56] TravisGesslein commented on #288
Regarding the other stuff though: Are you saying you aren't getting ANY items from Ravaged Abode?

[2016-06-16 11:59] TravisGesslein commented on #288
Oh just looking at the monster definitions, somehow their loot tables were removed... sorry about that

[2016-06-16 12:01] DaemoniaV commented on #288
16 times in a row I do not get ANY drop from Ravager Adobe.
It is still very small chance that I miss animation of getting item and looted items was already looting pevious raids. May be You share name of drop able items from Adobe?

[2016-06-16 12:02] DaemoniaV commented on #288
Sad stuff(((

[2016-06-16 12:02] TravisGesslein commented on #288
Lol I'm very sorry, that would explain why you are so "unlucky" with the drops, they don't have any :hankey: . Will be added in Patch 8.

[2016-06-16 12:02] #288 closed, assigned to TravisGesslein

[2016-06-16 12:04] askebv commented on #285
This is an example:

![image](https://cloud.githubusercontent.com/assets/4981659/16116075/27fe215e-33cb-11e6-8a39-95c99625240d.png)

And this is with a pretty high resolution. I can't imagine how small it would be to lower resolutions.

[2016-06-16 12:09] TravisGesslein commented on #288
On a side note I know some of you already had the set completed, you probably got very lucky because even though the bosses didn't have their loot set up properly, the bonus item drops temporarily repair it (but only for the firsst kill in the soft reset).

[2016-06-16 12:11] #281 closed, assigned to Talisca

[2016-06-16 12:24] Talisca commented on #285
Every event got its own icon now. Increased the scaling slightly. With that they are more distinctive, so we removed the text :smiley:

[2016-06-16 12:24] #285 closed, assigned to nobody

[2016-06-16 12:26] askebv commented on #84
@Heishe #289

[2016-06-16 12:30] askebv opened #289 "Suggestion: Craft skillbooks"
In continuation of #84, I've just gotten an idea to make skillbooks something you create, instead of just buy.
E.g., beating The Crypt could drop an item that, perhaps combined with a bit of gold (balance tweaking), allowed creation of one tier of books. These books could then be crafted by combining a few simple world drop ingredients (e.g. parchment and herbs for AoE heal, parchment and rusty bl

[2016-06-16 13:06] Talisca commented on #278
Good idea

[2016-06-16 13:16] #80 closed, assigned to TravisGesslein

[2016-06-16 13:21] askebv opened #290 ""New item"-icon while filtering items"
Some odd behavior happens when you loot new items while in filter mode:

![image](https://cloud.githubusercontent.com/assets/4981659/16118137/f884c6e8-33d5-11e6-9a2a-451dc2992ca6.png)

![image](https://cloud.githubusercontent.com/assets/4981659/16118437/5eb9c9bc-33d7-11e6-8a6d-365fcfe92129.png)

[2016-06-16 13:28] askebv opened #291 "[Minor] Website: Background is animated forever"
I just put the game in half-screen mode (Windows key + Right/Left Arrow) and noticed that the background keeps animating in the background:

![image](https://i.gyazo.com/092d3f413fe8aa6ef98473d4ee5f2a87.gif)

I'm not sure that's good for performance, even though it could be minor. Is this intended?

[2016-06-16 13:41] Ethismos commented on #84
@Heishe

Training:
This should work equally good.

Transmog:
As long as the option exists i guess it would be easier to do it with other items and i am fine with that.

Equipment and stats:
A) Ok, its mostly a visual change and not to important. I think people enjoy and use more some bars than simple text, so keeping the text to a minimum and changing maximum mana/health to bars, dots, squares etc

[2016-06-16 13:45] #278 closed, assigned to Talisca

[2016-06-16 13:47] askebv opened #292 "Detecting full inventory while filtering"
It seems it didn't detect that I had a full inventory while I had filter mode enabled:

![image](https://i.gyazo.com/23cef4546d98ed329dd8e177edfe2e43.gif)

Also it behaved strangely when I dragged an archer item into a warrior filtered inventory. It should probably attempt to filter the item when you drag it into the inventory.

[2016-06-16 13:53] Talisca commented on #290
My bad. The check is at the wrong place :<

[2016-06-16 14:04] askebv commented on #286
Saw it again:

![image](https://cloud.githubusercontent.com/assets/4981659/16119490/04934346-33dc-11e6-96d7-14f43bae8a08.png)

It seems it's not even the real health bar either - so maybe it's a leftover? Because that boss didn't have 0 HP, at the time - and I neither even managed to beat it at the time of this screenshot.

[2016-06-16 14:24] askebv opened #293 "Healstreak can be equipped by all classes"
![image](https://cloud.githubusercontent.com/assets/4981659/16120110/be6c2bdc-33de-11e6-9598-88baa7eb09c5.png)

[2016-06-16 14:37] TravisGesslein commented on #35
Technically I made the correct statement. 8 > 1 !

[2016-06-16 14:37] #35 closed, assigned to TravisGesslein

[2016-06-16 14:37] #293 closed, assigned to TravisGesslein

[2016-06-16 14:39] askebv commented on #289
To make it more appealing, I've spent a bit of time making up an (incomplete) example list of drops and recipes for the current version of the game:

**World drops** (W):
Parchment, Herbs, Rusty Blade, Rusty Arrowhead, Dry Blood

**Raid 1** (R1):
Permafrost, Obsidian Shard, Decayed Relic

**Raid 2** (R2):
Old Elixir, Chamomile Flower (and perhaps potions too, since they're so scarce?)

**Secret Ra

[2016-06-16 14:47] askebv opened #294 "Red priestesses are frozen after loading game"
![image](https://cloud.githubusercontent.com/assets/4981659/16120919/8514213e-33e1-11e6-8dc3-a434fca7947c.png)

As you can see on the above picture, all my red priestesses stand pretty much where they spawn when loading my savefile. It seems to be because they want to pathfind somewhere in the base, but never get the chance to. They don't use any skills in this frozen state.

I seem to be able to

[2016-06-16 14:50] askebv opened #295 "Cannot read property 'getContentSize' of null"
This shows up a lot of times in the console:

game.min.js:4294 Uncaught TypeError: Cannot read property 'getContentSize' of null

[2016-06-16 15:05] TravisGesslein commented on #295
can you expand the list by clicking the little red arrow that should be there and make a screenshot of what it shows?

[2016-06-16 15:09] askebv commented on #295
I already checked the top one, which didn't show anything. But then I tried on the bottom one:

![image](https://cloud.githubusercontent.com/assets/4981659/16121825/115b144c-33e5-11e6-97b6-56e6139dc582.png)

[2016-06-16 15:10] TravisGesslein commented on #295
Ah, I see. Thanks

[2016-06-16 15:14] Muskar commented on #292
Haha, it seems I overlooked an inventory spot in that screenshot (2nd row, 3rd spot). Maybe this is nothing then :grin:

[2016-06-16 19:08] askebv opened #296 "Hail of Arrows can be used with only a single book equipped"
Notice the arrow on the right from the animation. And the other Hail of Arrows skillbook in the lower left corner, which doesn't have a cooldown on it.

![image](https://cloud.githubusercontent.com/assets/4981659/16129766/772bef1e-3406-11e6-89a5-8f7ebca3c43a.png)

This was possible after doing what I did when I recorded the animated image for #292.

[2016-06-16 19:18] askebv opened #297 "[Minor] Suggestion: Shorten the animation of Hail of Arrows"
Right now, the attack is instant, and is thereafter followed by a 3-4 second long animation.
The sound-effect is less than a second though, which seems more fitting to the instant effect.

I'd suggest cutting down the falling arrow animation down to 1-2 seconds.

Especially because it's a bit misleading to have non-damaging arrows raining, when new monsters have already spawned.

[2016-06-17 13:42] askebv opened #298 "Maps can still be consumed, even if you already have the location"
As you can see here, I already have Dawn Fortress unlocked. And when I use another map, I still lose the map:

![image](https://i.gyazo.com/7e8fcc3308523c204367d90699b9bd97.gif)

Since you lose the location every time you soft reset, I find this to be a slightly unfair feature.

So I'd suggest either:
1. That the Dawn Fortress raid becomes permanently unlocked when you use the map. After soft rese

[2016-06-17 15:31] TravisGesslein commented on #298
Phew... had to repair work PC all day. Let's see what issues I can crush before we upload patch later.

I think I like the first solution more, mostly because there will be raids later which may not be unlocked just through maps. We should have code ready for that kind of stuff. I think it's OK if they are available right from when you unlock the raid mode.

[2016-06-17 16:46] #298 closed, assigned to TravisGesslein

[2016-06-17 17:07] Talisca commented on #292
Somewhat similar to #290

[2016-06-17 17:08] #292 closed, assigned to Talisca

[2016-06-17 17:08] #290 closed, assigned to Talisca

[2016-06-17 17:51] TravisGesslein commented on #297
Good idea.

[2016-06-17 17:52] #297 closed, assigned to TravisGesslein

[2016-06-17 17:54] #294 closed, assigned to TravisGesslein

[2016-06-17 17:59] TravisGesslein commented on #287
Nah, the game's cold heart cares not for your machine's energy consumption! It should trigger the event immediately.

[2016-06-17 18:00] TravisGesslein commented on #287
Does it still happen? Like, when you refresh now?

[2016-06-17 18:02] TravisGesslein commented on #286
Ah, so those might be left overs from older entities... interesting

[2016-06-17 18:24] TravisGesslein commented on #260
Sorry, but we must remove this :D Introduces a ton of code complications and works against the concept of the mercenaries - zero customizations, characters with their own predefined identity (in terms of looks, lore and abilities etc.) and usefulness.

We know people might want to make them prettier, but that's one of their trade-offs. You get an "11th raider", but weakened in several regards comp

[2016-06-17 18:27] #260 closed, assigned to TravisGesslein

[2016-06-17 18:33] TravisGesslein commented on #283
Looks fine for me... what is this...

[2016-06-17 18:33] #283 closed, assigned to TravisGesslein

[2016-06-17 18:33] askebv commented on #286
Since then, I saw it on farm level 10 as well. I think it was also 0/3500

[2016-06-17 18:33] #253 closed, assigned to Talisca

[2016-06-17 18:39] askebv commented on #298
@Heishe Then perhaps it should also be an item that you can only loot if you don't have one already and don't have the raid (internally) unlocked. So you shouldn't either be able to loot one if you just did a soft reset and don't have it visible yet.

[2016-06-17 18:41] askebv commented on #287
No, it only happens once after refreshing. I think it happened in the last patch too.

I can check again in Beta Patch 8. I'm probably going to be offline when you upload that, so just to make sure - should it show up if I load the game when a new patch has been installed? Or should it only show up on running instances of an old version?

[2016-06-17 18:43] TravisGesslein commented on #263
Very strange... can't reproduce for now. Any idea when this happens specifically? Did the raider just die?

[2016-06-17 18:45] askebv commented on #263
Not entirely sure. But it always happens before starting the next raid. And I've only seen it in auto-raid mode.

[2016-06-17 18:56] #280 closed, assigned to TravisGesslein

[2016-06-17 18:58] TravisGesslein commented on #262
We should show the scaled stats :hankey:

[2016-06-17 19:18] TravisGesslein commented on #287
It shouldn't show up if you start the game after the patch has already been uploaded. But now that you asked that we figured out what the problem might be.

[2016-06-17 19:41] #287 closed, assigned to Talisca

[2016-06-17 19:42] #295 closed, assigned to nobody

[2016-06-18 07:01] askebv commented on #286
@Heishe Happened in Beta Patch 8 as well. This time I accidentally clicked it, and it took me to the last farm map I was at:

![image](https://cloud.githubusercontent.com/assets/4981659/16169547/3778dcc8-3533-11e6-86b6-2a4b39174edb.png)

[2016-06-18 07:10] askebv commented on #284
@Heishe Looks great to me, in high resolution. I also tried more Kongregate-friendly sizes and several of them looked good as well:

![image](https://cloud.githubusercontent.com/assets/4981659/16169584/64fcc654-3534-11e6-975b-21f2319dab37.png)

[2016-06-18 07:26] askebv opened #299 "New notifications"
I know, I know... Here I go again! :grinning:

But honestly, these new notifications aren't very attention grabbing. In fact I think they're missable. That's a good thing, when you don't want to see them, but a bad thing if you actually want to see them.

So here's a few suggestions you can pick from:
1. Make it easier to see them in general. E.g. put a yellow border/stroke/circle around the icons

[2016-06-18 07:30] askebv opened #300 "Cooldown animation is broken"
The animation of the cooldown draws the book in a rotated skewed fashion:

![image](https://cloud.githubusercontent.com/assets/4981659/16169682/380d4b66-3537-11e6-8cee-2477aaaf364a.png)

![image](https://i.gyazo.com/8ee59d4232964a7498417b4679002bf1.gif)

It isn't broken for all skills though it seems:

![image](https://i.gyazo.com/aa03f14eb43e837539fc2e6194e1daf6.gif)

[2016-06-18 07:36] askebv opened #301 "[Minor] Changelog errors"
Is feet in the window a good thing? :grin:

There's also one in Beta Patch 6 I didn't mention, because I thought it didn't matter, but I guess I'll include it here, since I'm on the topic:

I.e. the broken list tag in the end.

[2016-06-18 07:53] askebv opened #302 "Uncaught RangeError: Maxmimum call stack size exceeded"
game.min.js:3316

![image](https://cloud.githubusercontent.com/assets/4981659/16169765/47383850-353a-11e6-83de-e6612bb6d0a0.png)

![image](https://cloud.githubusercontent.com/assets/4981659/16169771/80aac68e-353a-11e6-9324-8587820ce873.png)

There's no extra information when expanded, sorry.

[2016-06-18 08:02] askebv opened #303 "Mercenary's mana animation"
I like that you included the purple/pink healing particles to indicate that he was providing aid, and not attacking. But in the first few minutes, it did indeed appear like he was attacking my own raiders:

![image](https://i.gyazo.com/bbde3b825285084b3420a08b472a47b1.gif)

I would suggest making an animation that didn't swing his sword identically to an attack, if it isn't already on your TODO-li

[2016-06-18 08:06] askebv commented on #302
Oh, it happens because I'm trying to click the mercenaries' guild with the ancient wisdom upgrade:

![image](https://i.gyazo.com/0531d93137d36b40c0c93483070cd29c.gif)

[2016-06-18 08:24] askebv commented on #299
Hmm, I'm undecided on this. After some time with it, it seems to work decent as is. I'll see what others have to say about it, I guess.

[2016-06-18 08:34] askebv opened #304 "Soft resetting with a mercenary hired"
The mercenaries don't like to be softly reset it seems!

![image](https://i.gyazo.com/9ca3dcc62a8d135bf09a5c36486297f3.gif)

[2016-06-18 08:40] askebv commented on #304
I think he managed to infect my mage before dying too:

![image](https://cloud.githubusercontent.com/assets/4981659/16169941/1901a438-3541-11e6-815f-56b64dc040ba.png)

[2016-06-18 08:42] Muskar commented on #262
@Heishe Is it intended that mercenaries don't get their stats increased when you level up, while they're hired?

[2016-06-18 08:47] askebv commented on #286
@Heishe Could it be related to the Reduced Boss HP ancient wisdom?

[2016-06-18 08:56] askebv commented on #288
@Heishe I didn't get Blizzard Walkers on first try. I remember it taking a fair amount of time to get those. It might have been the first kill after a soft reset, I don't remember. But it's also possible that you accidentally removed the loot table again ;)

[2016-06-18 09:20] askebv opened #305 "Mercenary scaling with levels"
Mercenaries don't get their stats increased as you level up. This is especially noticeable when hired after a soft reset.

However, if you refresh the page, the hired mercenary's stats scale to the current level.

At least the HP anyway, since that's all I can see.

Probably intertwined with #304

[2016-06-18 11:08] DaemoniaV opened #306 "Minof Bug: Blizzard every where"
When You raiders activate Blizzard it show ann any map if You swith in blizzrd time between Base, Farm Map and Raid map. Blizzrd was every where. But damage apply only where is raiders current position.

[2016-06-18 11:26] askebv commented on #306
#279

[2016-06-18 11:32] askebv commented on #263
@Heishe I just had it happen again. I had the game running in low-power-mode - with auto-raid mode active - for over an hour.
It's the third time I notice that it happened while waiting for the Chamber of the Sealer raid. I don't know if that's related though, but here's a few screenshots:

![image](https://cloud.githubusercontent.com/assets/4981659/16170606/b33e5caa-3558-11e6-821e-05f37c038b90.pn

[2016-06-18 11:52] #306 closed, assigned to nobody

[2016-06-18 11:53] askebv commented on #263
I don't think it's related to dying, since I just had it happen in Gardens of Eternity, with level 54 raiders, with this gear:

![image](https://cloud.githubusercontent.com/assets/4981659/16170677/f3409f7c-355b-11e6-9c3b-97d76a85ebf2.png)

[2016-06-18 12:05] askebv opened #307 "Buff stacks are darker"
Is it intentional that stacked buffs appear darker than they used to?

![image](https://cloud.githubusercontent.com/assets/4981659/16170730/405debce-355d-11e6-9712-82f000ac224c.png)

![image](https://cloud.githubusercontent.com/assets/4981659/16170742/a604957c-355d-11e6-896d-9537e0125402.png)

At least they seem darker to me. The numbers certainly are.

[2016-06-19 10:20] askebv commented on #263
@Heishe Now I've had it happen twice in a row. After it happened, I put my raiders to sleep mode and launched auto-raid mode again, and it still didn't work. To me it seems it could be related to being in raid view when raiders are teleported back to the base. Because when I put it into sleep mode and view the base, I never have problems.

[2016-06-20 09:17] #305 closed, assigned to Talisca

[2016-06-20 09:17] #304 closed, assigned to Talisca

[2016-06-20 09:17] #302 closed, assigned to Talisca

[2016-06-20 09:17] #291 closed, assigned to Talisca

[2016-06-20 09:24] TravisGesslein commented on #303
Actually, he's not supposed to have that ability :hankey:. Will be fixed. Mad Dog is just the basic mercenary guy, can't do much but tank some damage and increase your groups DPS a little. The other ones will have special abilities like that once they become available.

[2016-06-20 09:41] askebv commented on #303
Haha, I guess I'll leave him unhired then. He's not very useful for the money if he can only attack, because that brings bigger strain on the healers, and all the damage raiders are much more powerful anyway.

[2016-06-20 09:44] TravisGesslein commented on #303
Do you think he's a net negative in general or just because of the gold you have to invest in him? We could make him cheaper and buff his basic stats... he's not supposed to be more than a "ah I'm broke now, lets take him so at least the raiders have SOME mercenaries with them" option but we definitely want him to be something players want to have if they have nothing else.

[2016-06-20 09:53] askebv commented on #303
It's hard to say. I have three saves at the moment, one of which where I'm far too poor to afford him (and the guild). And one where I'm so powerful that he doesn't make a noticeable difference. He did speed things up ~20% with the mana ability though.

The last save I have is one where I haven't done my first soft reset, but I might have enough money to try him out. I'll do that and get back to y

[2016-06-20 12:04] askebv opened #308 "Boss idle spazzing"
The low FPS in this recording doesn't show it well, but every other time, bosses are having a spaz attack:

![image](https://i.gyazo.com/1aee17dc43bfe4010b9d969246dfa4ee.gif)

One of my raiders got stuck in the base, so I got a chance to watch them for a while, and it seemed to happen at least once per minute.

Probably related to #222

[2016-06-20 12:16] askebv opened #309 "Hail of Arrows with green transparent tint"
Now I'm suddenly seeing Hail of Arrows have the green tint:

Do you think this might be related to #208?

[2016-06-20 12:31] TravisGesslein commented on #309
Almost certainly!

[2016-06-20 12:40] askebv commented on #309
My github is acting crazy at the moment. This is what it looks like: http://i.imgur.com/7RWHWws.png

Anyway, I was trying to upload an image about this issue, so I guess I'll do that through imgur also:

http://i.imgur.com/mf87Bvt.png

[2016-06-20 12:41] Muskar commented on #309
My github is acting crazy at the moment. This is what it looks like: http://i.imgur.com/7RWHWws.png

Anyway, I was trying to upload an image about this issue, so I guess I'll do that through imgur also:

http://i.imgur.com/mf87Bvt.png

[2016-06-20 12:41] Muskar commented on #309
My github is acting crazy at the moment. This is what it looks like: http://i.imgur.com/7RWHWws.png

Anyway, I was trying to upload an image about this issue, so I guess I'll do that through imgur also:

http://i.imgur.com/mf87Bvt.png

[2016-06-21 14:17] askebv opened #310 "Suggestion: Give raiders a portal ability"
I've been thinking about the flaws of designing the base, and having raiders getting stuck or drastically delayed by the building placement.
Instead, it would be awesome if raiders had the ability to teleport to the entrance of the base (e.g. on the dirt patch by the river). It could even be a channeling thing, if you prefer a delay (Hearthstone from WoW pops into mind). That way, there won't be a

[2016-06-21 14:44] askebv opened #311 "Losing interest"
I'm sorry for going here again, but I noticed I really have (lost interest). In the beginning I would open up the game pretty much every day, sometimes even having it running nonstop. Now I only open it up occasionally, out of habit and loyalty to beta testing.

And I wish there was a magical solution, but anything I have in mind would take a long time.

To put it briefly though, I think there's 2

[2016-06-21 20:35] DaemoniaV commented on #311
Hi! Agree most part. In #255 already write some suggestion about fill the time before raid beating.
In today reality Raid look so:
0) Get 50 lvl
1) Kill one group to loot
Equip and repeat until can kill next group.
What is make game interesting. Some action and reaching some goals. Beat raid is main goal of this game so do it hard)
But there is some problem because You have (so hated by Me) "50-lv

[2016-06-22 07:50] Ethismos commented on #311
Well, it has to be expected at some point to lose interest. Some core features aren't here yet (like enchantments), there are less instances than alpha, some mistakes would either cause you to stop playing for a day (like my saved games bug) or just hack and make the game to easy, there is no "achievement" like in alpha because... no kongregate to check your reset, best times, highest level etc an

[2016-06-22 09:59] askebv commented on #311
Yeah. I admit I'm not like the current alpha audience. I don't find pleasure in reset farming forever, if there's nothing special to accomplish. And yeah, I like to play very actively in idle games that engage me. And if we're all doing that, then we're definitely not the average audience, and we might be very off the average person, about our experience.
At times I have been idling a fair amount

[2016-06-22 10:09] TravisGesslein commented on #311
Thanks for the feedback.

# More stuff to do

In general, regarding the lack of engaging stuff to do after a while, I feel like that is going to be alleviated a lot (if not completely) once we spend the remaining time until release putting in as many prophecies as we can, filling the crafting system with interesting stuff to create (besides enchantments of course), putting in new events and adding

[2016-06-22 11:51] #262 closed, assigned to Talisca

[2016-06-22 11:58] #237 closed, assigned to Talisca

[2016-06-22 17:14] #87 closed, assigned to TravisGesslein

[2016-06-23 10:24] #279 closed, assigned to Talisca

[2016-06-23 13:07] TravisGesslein commented on #16
Reminder to update beta api

[2016-06-23 13:48] #75 closed, assigned to Talisca

[2016-06-24 13:06] DaemoniaV commented on #311
Are You there? May be You write small preview about prophecies?

[2016-06-24 18:58] TravisGesslein commented on #311
Yeah still here! Busy with pathfinding and raider movement!

Preview? For prophecies in particular there's not much to tell. If you know the old questing system, they will work similarly, except that you can do them without having the 'quest', so to speak. The UI will be slightly changed, but overall you will still have the NPC in your town (a scholar who keeps track of all the prophecies you find

[2016-06-24 19:37] DaemoniaV commented on #311
Thank You for the answer. We are waiting)

[2016-06-26 19:44] thorbrian commented on #311
FWIW, I quit playing a week or so ago. I'm still interested in checking in every now and then to see what's new - as you can see :)  but it stopped being worth it to have the browser tab open a couple weeks ago.

For my perspective on things, I think the thing that would get me to play a lot more would be having to make more meaningful choices in raider equipment (i.e. more mutually exclusive but

[2016-06-26 19:48] DaemoniaV commented on #311
1)Did You have any date of nextpatch?
2) How mach time to prophecy and craft release?
3) If I have already done the prophecylike Crypt Key and Burning Seal does they drop and auto mark as done?

[2016-06-26 19:59] thorbrian commented on #311
Daemonia, what is the "Crypt Key"? I don't remember having done anything that sounds like that...

... for the burning seal, it looks like it's based on having the items. If you have a burned out seal or a burning seal, you won't have a burned out seal drop anymore.

[2016-06-26 20:09] DaemoniaV commented on #311
I get second burned out seal one day ago. And have some Rage dropped before patch) So I can try do second Burning Seal.

[2016-06-27 06:38] #300 closed, assigned to Talisca

[2016-06-27 13:01] TravisGesslein commented on #92
Alright, we changed how raiders move. They now use various steering algorithms for every step they take. It's impossible to avoid all problematic situations (like multiple raiders who share the same goal bumping into each other) without cooperative path finding and decision making (which would kill performance unfortunately), but the new way we do things should fix a lot of issues.

One thing that

[2016-06-27 13:01] #92 closed, assigned to TravisGesslein

[2016-06-27 13:01] #28 closed, assigned to TravisGesslein

[2016-06-27 13:02] TravisGesslein opened #312 "Raider Upgrade: Wait until tanks are in front"
Tanks are designated by certain skills (the taunts for example).

Should also add stuff in the UI to show who is a tank (probably best to just let skillbooks show that they give a raider the tank flag).

[2016-06-27 14:42] TravisGesslein commented on #308
Should be fixed in patch 9

[2016-06-27 14:42] #308 closed, assigned to TravisGesslein

[2016-06-27 15:18] #303 closed, assigned to TravisGesslein

[2016-06-27 15:19] TravisGesslein commented on #303
Fixed in Patch 9. Also yeah we'll just make him much cheaper.

[2016-06-27 15:23] TravisGesslein commented on #307
Will be brighter and also bigger in Patch 9 (no real reason to keep them that tiny),

[2016-06-27 15:23] #307 closed, assigned to TravisGesslein

[2016-06-27 15:35] TravisGesslein commented on #264
Yup, can happen in rare circumstances. Will be fixed in Patch 9.

[2016-06-27 15:40] TravisGesslein commented on #264
It seems that it was possible to abuse boss fights by letting a raider start a ranged attack, then quit and restart the raid before the raider can spawn the projectile. This would lead to the projectile spawning when the raider stands at the entrance of the map, flying all the way over to the boss and only aggroing that one boss even if its a boss group. In patch 9, the entire boss group will aggr

[2016-06-27 15:40] #264 closed, assigned to TravisGesslein

[2016-06-27 15:45] TravisGesslein commented on #289
Yep, some skillbooks will be craftable and the 'recipes' for them can be unlocked in various ways. Regarding the resources required, however, we're probably going to stay away from requiring many different types of them for different skillbooks. Just takes too much time creating many different resource times and balancing them (we don't have the manpower for it). We'll probably stick to a few craf

[2016-06-27 15:46] TravisGesslein commented on #289
Leaving this open as reminder

[2016-06-27 15:47] TravisGesslein commented on #102
Yup, we don't mind if players zerg down trash mobs. Besides giving more gold and XP than farm monsters of roughly the same difficulty, their primary purpose is supposed to make it harder for raid groups to finish raids in one go.

[2016-06-27 15:47] #102 closed, assigned to TravisGesslein

[2016-06-27 16:06] #296 closed, assigned to TravisGesslein

[2016-06-28 09:36] TravisGesslein commented on #301
The first one is an easter egg!

Will fix the second one though, thanks.

[2016-06-28 09:38] TravisGesslein commented on #311
@DaemoniaV

1) Patch 9 will be uploaded today.
2) No idea, but we are now actively working mostly on prophecies and crafting stuff, so hopefully no more than two weeks
3) Yup, should be that way.

[2016-06-28 09:39] #301 closed, assigned to TravisGesslein

[2016-06-28 12:24] TravisGesslein commented on #142
This should be fixed with some physics system adjustments + the fact that they now walk back to their spawn.

[2016-06-28 12:24] #142 closed, assigned to TravisGesslein

[2016-06-28 12:41] TravisGesslein commented on #113
I thought about it for a while and I agree this probably isn't necessary, especially combined with #156 to make sure command skill cooldown is always available when needed.

[2016-06-28 12:41] #113 closed, assigned to TravisGesslein

[2016-07-06 08:05] DaemoniaV commented on #274
Does Old Cane remove from drop at this moment?

[2016-07-06 10:34] TravisGesslein commented on #274
Nope, should still drop as usual. It does have an extremely low chance to drop though, and the raid associated with it shouldn't  yet be unlocked (in any case, it's not balanced).

[2016-07-06 10:41] DaemoniaV commented on #274
Does it specific area drop? Or it can drop everywhere?

[2016-07-06 11:01] TravisGesslein commented on #274
(It's a global random drop). My email inbox said you asked about it, but now the message is gone :hankey:

[2016-07-06 11:53] DaemoniaV commented on #274
Yep. I delete the message. Cause - re-reading You message and think that cause the Raid is not unlocked it does not drop. I am still 24h idle every day but do not get it)

[2016-07-12 06:36] DaemoniaV commented on #311
Hello. You wrote "so hopefully no more than two weeks". There is two weeks passed. How the progress? Is there new patch date?

[2016-07-12 09:08] TravisGesslein commented on #311
I'm currently balancing the next raid (which will be Mountain Refuge, by the way) while @Talisca is creating prophecies for the new Prophecy System. Usually I try to stay away from giving specific dates but I'd say it's looking good for next week. Probably Monday.

The delay happened because rebalancing Frozen Coast and Ravaged Abode took a bit longer than expected. This is because we've introduce

[2016-07-12 09:10] DaemoniaV commented on #311
Thank You for the answer. Will be wait.

[2016-07-14 14:23] TravisGesslein commented on #311
@DaemoniaV
@Muskar
@thorbrian
@Ethismos

Do you guys know Final Fantasy 12's gambit system? It's similar to our skill priority list feature, except that you can add custom conditions to all of the skills. Stuff like "only execute if target > 10% hp" or something. I just realized that in terms of the gameplay code required, it would be pretty simple for us to add those conditions as well. The by fa

[2016-07-14 14:47] DaemoniaV commented on #311
Yes. It very familiar. I play FF 12 several hours.
7 of 10
There is more usefull was double setup for execute. For example....
"Execute Mighty Blow if **Rage>90%** or **Target hp<30%**"

[2016-07-16 23:47] TravisGesslein commented on #188
Plan for patch on monday:
- The skillbooks are (internally, not visible to the player) split up into 'core' skillbooks and 'extra' skill books. The extra ones are stuff like Charming Shot, while core ones are stuff like Magic Missiles. The both are separate, but the extra ones will only show up with a relatively low chance in addition the the core ones (so when they drop, you get two skillbook dro

[2016-07-17 09:33] askebv commented on #311
I don't know it too well - but I heard you describe it before, and have seen my cousin play it for a few hours. But I think it sounds okay. I'll check it out later probably.

[2016-07-18 00:49] thorbrian commented on #311
I'm like 7 on the gambit system - I'd try it out for sure - would spend a long time trying to optimize. If I found that certain rules did best in certain circumstances, I'd definitely be really into it.

[2016-07-18 11:37] DaemoniaV commented on #311
Can We except new patch today?

[2016-07-18 11:40] TravisGesslein commented on #311
Yup, in a couple hours probably. Currently putting on the finishing touches!

[2016-07-18 15:40] DaemoniaV opened #313 "Wipe?"
Does new pacth mean wipe?
I have lost all my local and cloud saves.

[2016-07-18 15:45] TravisGesslein commented on #313
No, it shouldn't. The new patch isn't uploaded yet (the patch notes are, though). Might be a server bug. We'll look into it.

Although, is it possible you logged into the game after playing the alpha on Kongregate?

[2016-07-18 15:48] DaemoniaV commented on #313
Some reloading will help. New raid is hard - AWESOME!
Small question - if I have above 50 level - 90 for example))) does stats are recalculate or I need again level above 50 to gain it.

[2016-07-18 15:51] TravisGesslein commented on #313
Yup, the stats should update automatically. When you load the game, it starts every raider at level 1 and quickly levels them up to whatever level is stored in the savegame. This makes it easy to automatically apply changes when a new patch is uploaded (if we stored the actual HP, damage, etc. values instead, we would have to convert them somehow every time we change something in the scaling).

[2016-07-18 19:14] DaemoniaV opened #314 "BUG: Second page of inventory dissapear(((("
![bug01](https://cloud.githubusercontent.com/assets/19784493/16927208/fba84138-4d34-11e6-82e2-fcbcd5580ca4.jpg)

[2016-07-18 19:25] DaemoniaV opened #315 "Bug? Cannot hire second mercenary..."
May be there is some cooldown?
![bug02](https://cloud.githubusercontent.com/assets/19784493/16927468/2983b4ba-4d36-11e6-8830-ce57ffdf1ef8.jpg)

[2016-07-18 19:37] DaemoniaV commented on #314
After some new item drop and buy of Metals second page coming up.

[2016-07-18 19:52] DaemoniaV opened #316 "Bug? Empty Chest on Arena"
If in fight on arena press red cross chest will be appear but it was empty.

[2016-07-18 19:53] TravisGesslein commented on #315
Oh, that's quite intended... they have to be two different types of mercenaries... the merchant who visits the base should show up with one at some point for example.

[2016-07-18 19:55] TravisGesslein commented on #314
Weird... how many items did you have on the second page?

[2016-07-18 20:19] DaemoniaV commented on #314
When I noticed that it appear again it was 5 on it.

[2016-07-18 20:20] DaemoniaV opened #317 "Bug: Ravaged Adobe"
Does last two Centaurus is single group? I kill only one and when try again there is only one.

[2016-07-18 20:47] DaemoniaV opened #318 "Bug: Scrool of False Courage..."
In description it last 30 second in icon 40.
![bug03](https://cloud.githubusercontent.com/assets/19784493/16929440/7d770c8e-4d40-11e6-9c40-42fd33bb90c8.jpg)

[2016-07-18 20:54] DaemoniaV opened #319 "It was hard)))"
![lr](https://cloud.githubusercontent.com/assets/19784493/16929997/f9140070-4d42-11e6-97a9-03600ede8abd.jpg)

[2016-07-18 21:10] DaemoniaV opened #320 "Bug? *!Spoiler Warning!* Runesmith..."
I farm 19 level several hours. But have no effect. Then My raiders go to the AutoRaiding mode. They fight at some Raid. I manually switch view to farm map and saw the strange bright gnome. I scroll to him and he dissapeared and leave to me the item that open new building. There is no my raiders on farm map at this moment. Does it normal?

[2016-07-18 21:26] DaemoniaV opened #321 "Bug - Buning Seal Prophecy"
I am already have Burned Out Seal and Burning Seal but Prophecy do not achieved.
![bug7](https://cloud.githubusercontent.com/assets/19784493/16930999/5f3c5a24-4d47-11e6-8c92-61ef245d8489.jpg)

[2016-07-18 21:29] DaemoniaV opened #322 "BUG - Weird numbers on lvl 2 skills...."
![bug8](https://cloud.githubusercontent.com/assets/19784493/16931105/de485886-4d47-11e6-8d09-a5bd370bcaed.jpg)

[2016-07-18 21:54] #315 closed, assigned to nobody

[2016-07-18 22:09] DaemoniaV opened #323 "Bug Father Orso Contract"
Trader still show Father Orso Contract but I am already buy it.
![orso](https://cloud.githubusercontent.com/assets/19784493/16932172/66f00b20-4d4d-11e6-9cb4-a08fd9826d93.jpg)

[2016-07-18 22:10] DaemoniaV opened #324 "Bug Raiders Stuck...."
![stuck](https://cloud.githubusercontent.com/assets/19784493/16932190/8b3faa94-4d4d-11e6-8e93-5d9975b95d97.jpg)

[2016-07-19 06:38] #321 closed, assigned to Talisca

[2016-07-19 06:39] Talisca commented on #321
For now the prophecy will be closed if you get another Burned Out Seal. Will be fixed in the upcoming patch.

[2016-07-19 06:46] #323 closed, assigned to Talisca

[2016-07-19 07:19] DaemoniaV opened #325 "BUG "Saves Lost""
Whan You connect to site and  authorisation button press there is empty all saves. After reload of page You do not need  authorisation again and saves appear.

[2016-07-19 07:27] Talisca commented on #318
I think your permanent upgrade "Longer buff duration" is active

[2016-07-19 07:32] DaemoniaV opened #326 "Bug Empty Trader..."
I leave game idle at night. Morning I use scroll to call trader but he shows empty. Till some time he come by regular shedule and bring one item.

[2016-07-19 07:32] DaemoniaV commented on #318
Yes.

[2016-07-19 07:32] #318 closed, assigned to nobody

[2016-07-19 08:43] #326 closed, assigned to TravisGesslein

[2016-07-19 08:44] TravisGesslein commented on #320
You probably right clicked on him accidentally while scrolling? We're restricting npc interactions to left click next patch.

[2016-07-19 08:45] #320 closed, assigned to TravisGesslein

[2016-07-19 08:45] #317 closed, assigned to Talisca

[2016-07-19 08:46] #313 closed, assigned to nobody

[2016-07-19 09:03] TravisGesslein commented on #325
Are you playing on Kongregate at the same time?

[2016-07-19 10:12] Talisca commented on #314
There happens to be some kind of inconsistency in the check for the tabs.

@DaemoniaV are you sure you had more than 96 different items (one full page?). If so, I am not able to reproduce this behavior :(

[2016-07-19 10:38] #322 closed, assigned to Talisca

[2016-07-19 10:43] Talisca commented on #325
Reproducible behavior in firefox. Will look into it

[2016-07-19 11:08] DaemoniaV commented on #314
Sure. Many weeks I check 2 page and there is 4 items. One lucky dayIfound a 5 items there - there is Old Cane add at 1page) Can send You Mysave that was with 5 items and when loaded there is 2 page missing. Seems the some items not only not showed but full dissapeared.

[2016-07-19 11:09] DaemoniaV commented on #325
Not use Kong. Use Firefox.

[2016-07-19 11:10] DaemoniaV commented on #320
Probably)

[2016-07-19 11:14] DaemoniaV opened #327 "News not up to date"
News on main screen is not upodated so they stated that craft and prophecy do not apply.

[2016-07-19 11:36] DaemoniaV opened #328 "Strange "bug""
When My raiders have Avoid AoE and Blizzard begins they act strange. Ranged part of team run from the target and just "dance" at adge of screen while Blizzard do not end.

[2016-07-19 12:21] DaemoniaV opened #329 "Arena scaling..."
I can clear last Raid but Skeleton on Area still oneshot My tanks. Did You planned to reduce his stats?

[2016-07-19 12:27] TravisGesslein commented on #329
It's not rebalanced yet :hankey:

It's on the list with offline balancing. Important features but haven't gotten around to it somehow.

[2016-07-19 19:05] DaemoniaV opened #330 "Weird bug but very annoying. Heishe please help!"
Do not know the reason but from today evening one of My warriors  do the rush for second boss in Mountain. So he provoke them and I have not any chance to stop this stupid berserk.
Help!
![bugg](https://cloud.githubusercontent.com/assets/19784493/16963000/ed3d70b4-4dfc-11e6-9ae5-922bddf7080a.jpg)

[2016-07-19 20:08] DaemoniaV opened #331 "Serious BUG - Item Dissapearing..."
Let You raider have some item equipped in cosmetic slot. Drag and drop other item for this slot and release. The dragging item dissapeared forever.

[2016-07-19 20:26] DaemoniaV opened #332 "Suggestion Raider Upgrade - Delayed Rallying Cry"
Let Rallying Cry delay until All You Priest and Mages have 10 mana depleted.

[2016-07-19 23:17] DaemoniaV opened #333 "Suggestion: Let raider does not spread off on the Base."
![bug10](https://cloud.githubusercontent.com/assets/19784493/16969770/0140a284-4e20-11e6-9dc2-f216a13833d6.jpg)
Selected Mage stand side and do not recover mana by Red Priestes. It is very often situation.

[2016-07-20 11:57] #319 closed, assigned to TravisGesslein

[2016-07-20 11:57] TravisGesslein commented on #332
Would be solved neatly with the custom conditions suggested in #311

[2016-07-20 11:58] TravisGesslein commented on #331
Does the same happen in all slots (head, weapon, etc.) or just a specific one? (you can export savegame for backup)

[2016-07-20 12:13] TravisGesslein commented on #330
Will look into it.

[2016-07-20 12:29] Talisca commented on #325
The savegames were just not visible due to some bugs in the used framework

[2016-07-20 12:29] #325 closed, assigned to Talisca

[2016-07-20 12:42] #331 closed, assigned to Talisca

[2016-07-20 13:11] TravisGesslein commented on #324
This is because of a bug in the physics engine of the game. Should be fixed in next update.

[2016-07-20 13:11] #324 closed, assigned to TravisGesslein

[2016-07-20 13:31] #327 closed, assigned to Talisca

[2016-07-20 13:37] Talisca commented on #328
Because it simplified a lot I just used an AOE for the Blizzard. I forgot the upgrade :x

Sorry~

[2016-07-20 13:41] TravisGesslein commented on #330
Just to help us reproduce it, can you send a savegame where this behavior can be reproduced? We took your savegame from the cloud (we can do that now!) but we can't reproduce the behavior with that savegame.

[2016-07-20 18:50] DaemoniaV commented on #330
It do not reproducing. I try to load save but it is do not happened again.

[2016-07-20 19:35] DaemoniaV opened #334 "Drop rate.. again)))"
For My non-stop Raiding I am loot - 70 Bulwark, 312 Calming shot, 40 Great Heal and only two Fireball! Does it normal?

[2016-07-20 19:47] DaemoniaV opened #335 "List of Patch 10 new entities "SOME SPOILERS!""
Items:
1) Heavy Irom Shield
2) Blackened Leather Armor
3) Mountain Doctors Medicinal Concoction
4) Mountain Doctors Robe
5) Stone Hardened Hat
6) Elementalist Cloak (IMHO trash cause mana is main restriction of damage dealing +13 cast spell it is terrible stat)
7) Stonefoot boots
8) Heavy Spear
9) Golem Summoners Tome
10) Stone Magic Staff
11) Basic Scope
12) Golem Skin Gloves
13) Golem Head
14) S

[2016-07-20 20:03] TravisGesslein commented on #334
It's probably Fireball Level 2, and that is pretty rare, so yes that would be intended. Unless you are talking about another skill.

[2016-07-20 20:04] TravisGesslein commented on #334
Also Bulwark and Calming Shot are dropped from bosses, while Fireball Level 2 is a random global glop.

[2016-07-20 20:06] DaemoniaV commented on #334
50xFrost Shard lvl2, 30 Disarm, 28 Crippling Shot.... besides.. and I talk about simple Fireball.
![drop](https://cloud.githubusercontent.com/assets/19784493/17001178/9a3a99c8-4ece-11e6-88c4-3008df12c49e.jpg)

[2016-07-20 20:07] TravisGesslein commented on #334
Oh, you start with those two when you first get Mages. They start with 1x Fireball each. Other than that, the level 1 Fireballs can only be bought from Scholars Tower

[2016-07-20 20:08] DaemoniaV commented on #334
Sorry... there is no way to achieve more?

[2016-07-20 20:08] TravisGesslein commented on #334
Actually now that you mention it it looks like I forgot to add them to Scholars tower :hankey: Will add next patch

[2016-07-20 20:09] #334 closed, assigned to TravisGesslein

[2016-07-20 20:09] TravisGesslein commented on #334
Fixed! Will probably upload patch tomorrow btw

[2016-07-20 20:14] DaemoniaV opened #336 "Some whine..."
At this point there only one thing in game that sad Me. It is soft reseting... I want to do New Research to upgrade My team but My current lvl 93 and if I do Improving 3 times it give me +30%. But 50 lvl wall break all in pieces. Only at 70+ lvl I have little profit but it need very many time.

[2016-07-20 21:36] DaemoniaV commented on #324
Today catch again - reason a stucked simgle idiot)
![stuck2](https://cloud.githubusercontent.com/assets/19784493/17003972/33449338-4edb-11e6-983c-9b6f54a92f65.jpg)

[2016-07-21 00:48] wagenerator opened #337 "Key to the Crypt"
Anyone else having problems finding this dang key? Am I missing something?

I have been grinding farm level 3, like it said I should in the quest description, for 2 days now and haven't found the key yet.

[2016-07-21 06:45] DaemoniaV commented on #337
Same.

[2016-07-21 07:01] #328 closed, assigned to Talisca

[2016-07-21 07:26] Talisca commented on #337
Dang it. The ref to the loottable disappeared somehow.

I am sorry for the inconvenience.

[2016-07-21 07:28] #337 closed, assigned to Talisca

[2016-07-21 08:34] TravisGesslein commented on #337
@wagenerator We will upload a patch later today that should fix this (we have milestones for bugs here that show the planned release date, on the right side next to the labels). This probably means you couldn't even access the first raid, sorry about that.

A way to work around it until the patch is out is to open your browser's console (F12 on most browsers)  and paste "inventorySystem.createItem

[2016-07-21 08:45] TravisGesslein commented on #336
Well, that's kind of the point. It's that way in the game to encourage resetting often (instead of just farming to a high raider level and trying to get through raids that way), because the combination of all the new stuff you can get after unlocking (raider upgrades, ancient wisdom, the crafter stuff where you need ancient artifacts) is supposed to be a faster (because its more interesting) way t

[2016-07-21 08:48] TravisGesslein commented on #330
Oh, by the way: The issues is that they ignore the first boss and go straight for the second one? Or is it something else? (Like super high movement speed from first warrior).

[2016-07-21 09:10] DaemoniaV commented on #336
Thank You for the answer. There is some options...
1) New upgrades must be more powerfull than bonus from high level
2) Items dropped once per soft reset - strong but cruel and effective if items was really powerfull
3) Give high level reseted some bonus. For example reduce exp to achieve levels form 50 to X lvl. Where X lvl - max soft reseted by You level. Or give for levels about 50 many ancient

[2016-07-21 09:12] DaemoniaV commented on #330
Sorry there is wrong screenshot! Evening send right. Only one warrior ignore first Boss and rush to second one. I try to remove all skills but he run to him just for basic attack.

[2016-07-21 09:14] TravisGesslein commented on #330
Mhm... did it happen by any chance after the raid timer reset happened after you only killed the first boss?

[2016-07-21 09:22] DaemoniaV opened #338 "Auto-Raiding Mountain Refuge????"
Question to other testers at what point You able clear Mountain Refuge in Auto-Raiding. At My 93 lvl and most part of new stuff 60% kill 1 and 2 boss, 30% kill 1,2,3 and 10% clear Raid.

[2016-07-21 09:46] DaemoniaV commented on #330
After time resseting it repeated again. With second Boss provoked I can not be able to kill even one of them at that point. Reloading page will help.

[2016-07-21 10:01] TravisGesslein commented on #330
I tried a lot and can't get this to happen :hankey:

[2016-07-21 10:34] DaemoniaV opened #339 "Bug Arena"
Just press button Enter Cave. The Skeleton Boss do not appear and there is empty chest man bring.

[2016-07-21 12:04] wagenerator commented on #337
Its not a problem, I was just wondering if I was doing something wrong. I understand this is beta so bugs will happen.

I will wait for the patch to release and in the meantime let my raiders grind more, lol. Thanks for the help.

[2016-07-21 12:04] #339 closed, assigned to Talisca

[2016-07-21 15:02] TravisGesslein commented on #330
I'm removing this from Patch 11 milestone since I can't reproduce it. But it's bound to happen to other people as well, hopefully we can reproduce this reliably together.

[2016-07-21 17:34] wagenerator opened #340 "Arena"
I just beat raid 3, and all my raiders are level 50. I decided to try arena and it gave me the skeleton boss, except this time he had 105000 health and proceeded to wipe out my raiders in a matter of seconds.

I know you all previously mentioned that the arena is buggy and is not balanced yet,  but I just wanted to let you know of this particular bug.

[2016-07-21 18:13] DaemoniaV commented on #340
My team 93 lvl, tanks health 9k+ Skeleton on Arena just oneshot them)
#329

[2016-07-21 19:18] TravisGesslein commented on #340
Yup, this is because it still has the balancing from the old alpha, where numbers in general are much much larger than in the beta. See the other issues (#329 for example)

[2016-07-21 19:18] #340 closed, assigned to nobody

[2016-07-22 06:49] DaemoniaV opened #341 "Bug? Rejuvenation lvl2 sell in Market not in the Tower"
![bug11](https://cloud.githubusercontent.com/assets/19784493/17048814/819e6a2e-4ff1-11e6-98c0-303c7a7aafb5.jpg)

[2016-07-22 10:43] TravisGesslein commented on #341
Actually, it's not a bug. The market, in addition to having regular spawns for items like the potions, also has a small chance to sell loot drops from the random global loot tables. Usually this means equipment items like armor and weapons, but in some rare cases you may get skillbooks that drop globally as well.

[2016-07-22 10:43] #341 closed, assigned to TravisGesslein

[2016-07-23 06:53] DaemoniaV commented on #341
Do not sure...  For My previous farming never book spawn there. But there is 3 books for 14h - Rejuv, Mag Mis, Fireball.

[2016-07-24 11:48] DaemoniaV opened #342 "Suggestion - Basic Scope upgrade"
IMHO, basic scope is trash. Let it be more powerfull...
Damage +20
Crit Chance 12%
Crit Damage 130%
Attack Speed +12%
For example.

[2016-07-24 11:50] DaemoniaV opened #343 "Question...about new set Elemental Essence"
Now 2 items activate two bonus effect. Is it right& May be there is 2 items 1-st bonus, 3 items second bonus?

[2016-07-24 12:32] TravisGesslein commented on #343
You're right, this should be split to 3-slot activation.

[2016-07-24 12:32] #343 closed, assigned to TravisGesslein

[2016-07-25 10:44] TravisGesslein commented on #342
Why is it trash? It's stats are slightly better to a set item from the raids before (which is unique!). I.e. Ice Kiss has 13 damage and 15 attack speed, which should come out to a bit less DPS than the basic scope stats.

[2016-07-25 21:55] DaemoniaV commented on #342
IMHO attack speed is very weak bonus cause main damage dealing is from Focused Shot and Quick Shot. IMHO Blackened Leather Armor much more power full - +3 CC and 100 CD it can be compare with +12 DAM and +7CC but +4 Focus Regen it is very powerfull. Two Armor twice my focus regen so grow dps very high. And finally HP  +250 never was redundand.

[2016-07-26 09:38] TravisGesslein commented on #342
Mhm... what do you think about introducing some other items that give more energy regeneration? So you can combine some "Basic Scope"s with some of the new items for more energy regeneration?

The itemization for different build options has many holes right now. For example, there are also few items for damage warriors (that increase rage gain, minimum/maximum rage gain) in various raids. Before t

[2016-07-26 10:43] DaemoniaV commented on #342
Try to describe My view of item situation. My team after some lvl2 skills 90% clear Mountain Fefuge in Auto-Mode. All is My IMHO may be other testers have very another opinion.
All My WAR is 100% tanks. Two of them hold only shields and one jerk hold 4 set items. There is no other options. At point when last WAR wiped by bosses, other team fall in 60 sec. May be if You have total domination You pr

[2016-07-26 10:52] DaemoniaV opened #344 "Suggestion Gems"
Seesm to Me the Gem system form Diablo perfect fits there. Four of five different gems that have many upgrade level from chipped to perfect. You can assembly form 3 X grade one X+1 grade. For setup use Cosmetics slot. Every gem may be placed in head, eapon or torso slot and have differemt bonus for them. Peoples fun with any (let it be tiny) progress.

[2016-07-27 14:54] DaemoniaV opened #345 "Beast Slayer parts..."
I already have all Golem set but zero Beast Slayer parts. It simple have very low drop %& Or again missimg loot table)

[2016-07-27 15:52] TravisGesslein commented on #345
Nope, the loot tables are set up correctly this time. The drop chances for those particular drops are very low, but in return those artifact weapons are always set up such that they are powerful far beyond the raid tier in which they drop

Since I'm balancing the rest of the raids for re-release right now, I can tell you for example that Burning Seal is still the best warrior 2h weapon around for

[2016-07-27 20:59] DaemoniaV opened #346 "Re-release..."
1) What do You want to make before rerelease?
2) Do You make new raid before rerelease?
3) Do the rerelease on kong wipe our beta progress?
4) Do the testers have some start bonus if wipe?

[2016-07-28 09:50] #345 closed, assigned to TravisGesslein

[2016-07-28 09:56] TravisGesslein commented on #346
1) Our primary focus is currently on more content. We have given ourselves an internal deadline (I'd rather not reveal it...) because we're running out of time, and until then we want to put in as much new stuff for the existing gameplay systems as we can. There will be a couple more raids (and we already have raid content lined up for implementation for post-release), a ton more items and prophec

[2016-07-28 10:31] DaemoniaV commented on #346
Thx for the answer. Do You think about steam GreenLight somewhere in future?

[2016-07-28 13:05] DaemoniaV opened #347 "Spawned mini-Golem range.."
Often spawned by set mini-Golem do not attack.
![bugn2](https://cloud.githubusercontent.com/assets/19784493/17213481/222c2522-54dd-11e6-8c3e-33ea86eda761.jpg)

[2016-07-28 13:20] TravisGesslein commented on #346
Most certainly! We'll try to get the game on Steam as a stand-alone application as soon as possible. But it depends a bit on how successful the re-release is. The engine behind the game should allow for a relatively easy port.

[2016-08-23 09:57] DaemoniaV opened #348 "Are somebody there?"
Does some work do about project? There is some weeks of silence(

[2016-08-23 10:10] TravisGesslein commented on #348
Of course! We've been busy getting all the other stuff finished for the re-release, before we return to suggestions and bugs from github!

[2016-08-23 13:26] TravisGesslein commented on #348
(It's not tooooo long until rerelease!)

[2016-08-24 13:42] Ethismos commented on #348
Passing by every few days to see how things are going ^^

[2016-09-28 11:48] DaemoniaV commented on #348
It is more month gone. Does You have any news?

[2016-09-28 15:45] TravisGesslein commented on #348
Yeah, the game has been ready for about a month but we are still going through the approval process for Kongregate release which is taking longer than expected. We're getting there, though.

[2016-09-29 08:30] DaemoniaV commented on #348
Do You  planned another update for test before re-release?

[2016-09-29 19:13] TravisGesslein commented on #348
Nope! But we'll probably keep the beta site up because we're going to use it to test content updates before releasing them to the public.

[2016-10-07 03:23] wagenerator commented on #348
How much more content is the released kongregate version going to have than the Beta?

[2016-10-23 00:10] PfeiferSebastian opened #349 "hired mercenary dies in training-facility - survivability-test"
doing a survivability-test in the training-facility cause hired mercenarys to die instead of just getting thrown out or something like that - I suggest an exclusion of mercenarys in these (lethal) tests or a not-dying since they do cost a bit of gold and it should be just a training, right?

[2016-10-24 01:27] TravisGesslein commented on #349
Yeah this definitely shouldn't happen. Will be fixed.

[2016-10-24 20:56] aslan132 opened #350 "Set items need reworked for re-release version of game."
![image](https://cloud.githubusercontent.com/assets/23040499/19663541/6c5e775e-9a0a-11e6-9850-187cf23010ac.png)

In the new release of the game, Idle Raiders: Second Run, items are restricted to one class, this one being a mage item. For the set, it requires items that can not be equipped by mage (Waraxe/Bowstring), so set cannot be completed. Also, full set is 6 items, raiders can only equip a ma

[2016-10-25 00:15] aslan132 commented on #350
Ok, after getting more pieces, apparently I was mistaken about how sets work. It seems it counts all items across all raid members, and I can only assume the set bonuses are applied to all raid members as well? Is that correct?

[2016-10-25 17:15] TravisGesslein commented on #350
Yup, unless stated otherwise bonuses apply to all raid members. The set from the raid after Burning Cave starts with a bonus that says "Priests receive +1.00 Mana regeneration per second", for example.

[2016-10-26 00:15] Syntastic opened #351 "Raiders get stuck in town between raids"
I can't find a pattern to help you here. Sometimes it happens when I manually change modes, sometimes it happens while on Automatic Raiding. Entering then exiting a farm map fixes it. I did destroy 2 of the road tiles to test the destroy button, don't know if this is the cause

![screenshot_4](https://cloud.githubusercontent.com/assets/6775313/19708847/4edd0938-9ae7-11e6-9ca6-add1abec042b.png)

![

[2016-10-26 00:16] Syntastic opened #352 "Witch size debuff sometimes stays active"
While I thought it was cool to have perma tiny raiders, the perma +100% damage taken was not. Refreshing the game fixed this. Unfortunately cannot reproduce at will.

[2016-10-26 00:19] Syntastic opened #353 "Inventory window: Recipe filter closes the inventory when on a raid"
Doesn't matter which view is active, if raiders are currently raiding, clicking this filter closes the inventory

edit: the problem is actually that the Recipe filter is right above the X that closes the inventory window. If the filter is clicked in the right spot, it clicks through to the X

[2016-10-26 00:20] Syntastic opened #354 "Leather cap can't be equipped in helm cosmetics"

[2016-10-26 00:26] Syntastic opened #355 "Weird behavior with 'Avoid Area of Effect Damage' upgrade"
When the upgrade is active on the fire snake fight in burning cave, the hero that gets hit with the AoE DoT keeps trying to run away from an AoE centered on him. This would merely be amusing if the hero in question didn't consistently "run away" towards other heroes, forcing them to run away too.

I can't remember if the same problem was present in the first game.

[2016-10-26 00:36] Syntastic opened #356 "Prophecies not giving rewards"
![screenshot_8](https://cloud.githubusercontent.com/assets/6775313/19709181/42804774-9aea-11e6-9c35-3eef4fad3b7f.png)

![screenshot_9](https://cloud.githubusercontent.com/assets/6775313/19709183/46688662-9aea-11e6-8df4-25c9adcc095d.png)

![screenshot_7](https://cloud.githubusercontent.com/assets/6775313/19709134/d04df7e6-9ae9-11e6-9e84-c9522d278f39.png)

^ did not get any of these. And no, artifac

[2016-10-26 01:02] Syntastic opened #357 "Equipment window: drag & drop to swap gear does not work with uniques"
Within equipment window, uniques cannot be moved slots without first moving the item to inventory. This happens whether the target slot is empty or not. Even happens if you try to move the item to another slot on the same raider

[2016-10-26 02:08] Syntastic commented on #351
![screenshot_10](https://cloud.githubusercontent.com/assets/6775313/19710882/2cd5ece6-9af7-11e6-9194-4c8058efff3d.png)

beginning to see a trend here..

[2016-10-26 02:19] Ardagan opened #358 "Priests get stall in between two hero groups"
When in hunting grounds, if your party splits into two groups, sometimes, priests stand in middle of two groups with no reach to heal any heroes.

Observed on lvl8. Two groups on top and bot, priests get stall on left of the lake.

[2016-10-26 02:25] Ardagan opened #359 "Reach farm map lvl 10: Artifacts not awarded upon completion."
Once 10 monsters are killed on map 9, this quests marks as closed.

However, reward for this quest: 110 artifacts is not awarded nor as active, nor as un-available artifacts.

[2016-10-26 03:04] Syntastic commented on #351
![screenshot_11](https://cloud.githubusercontent.com/assets/6775313/19711909/e9a10106-9afe-11e6-81a5-332d1dd1eee8.png)

![screenshot_12](https://cloud.githubusercontent.com/assets/6775313/19711912/edb485ce-9afe-11e6-8c8d-059a085cfa2b.png)

[2016-10-26 05:33] TravisGesslein commented on #351
Thanks for the detailed report. The common pattern is actually the red priestesses standing next to all the stuck raiders. This one took a while to fix. Initially, during debugging, it looked like this was simple physics bug where raiders collided with walls that weren't there. But this wasn't the case.

Our combat system has a small piece of code where, whenever an entity is attacked and has itse

[2016-10-26 05:38] #350 closed, assigned to TravisGesslein

[2016-10-26 05:38] #351 closed, assigned to TravisGesslein

[2016-10-26 16:49] Syntastic commented on #351
Thank you for the detailed explanation. Knowing more about the game mechanics will definitely help with testing!

[2016-10-26 20:25] ChillySkye commented on #359
I had the same when I reached the 10th map

[2016-10-26 20:29] ChillySkye opened #360 "Not getting claimable artifact points upon "gain wisdom""
I got 460 claimable artifact points, but they are not transfered upon reset.
When I noticed they didn't register I reloaded the game, still didn't register. So I claimed them again, but didn't work the second time either.

And yes, I did have enough gold, and they were spent both times (2x 4600 gold)

[2016-10-26 20:36] ChillySkye commented on #360
Update:
Doing the raid bosses does reward additional artifact points, so it's not because it doesn't reset at all, it does partially.

[2016-10-27 04:21] TravisGesslein commented on #360
Thank you, I'll look into it.

[2016-10-27 04:34] TravisGesslein commented on #359
There was an off-by-one error in the code that made the game reward the claimable AA one level too late. So if you progress to the 11th map, you should get those artifacts. Will be fixed in upcoming patch.

[2016-10-27 04:34] #359 closed, assigned to TravisGesslein

[2016-10-27 06:00] TravisGesslein commented on #360
Could you send us the savegame this is happening with? social@pitforest.de

[2016-10-27 08:33] ChillySkye commented on #360
Hi, I've mailed you the savefile.

[2016-10-28 07:10] TravisGesslein commented on #360
Hi, thank you for the savefile. It allowed me to identify and fix the issue quite quickly. Will be fixed in upcoming patch.

[2016-10-28 07:10] #360 closed, assigned to TravisGesslein

[2016-10-29 14:43] Syntastic opened #361 "Arcane Frenzy lv 2 is the same as 1"
![screenshot_14](https://cloud.githubusercontent.com/assets/6775313/19830356/cb731db2-9dbb-11e6-9b3c-e8e6b58bddc5.png)

![screenshot_13](https://cloud.githubusercontent.com/assets/6775313/19830354/c3dc8ef8-9dbb-11e6-8a07-7a5cf68b29d5.png)

The buff tooltip when triggered shows +2% casting speed for both

[2016-10-30 09:57] isNaN6 opened #362 "Obsidian Claymore has NaN stats"
Hi,

The tier 5 orange sword Obsidian Claymore has NaN stats and + 2700% damage received.

![c74c35735b0d4bc1a7fb926c3c648e10](https://cloud.githubusercontent.com/assets/23148644/19835756/8bb8e8c6-9e8f-11e6-8f06-5c266bdf8484.png)

PS: this is a game breaking bug. Just comparing the stats of this item to what is equipped on the warriors makes the health of the warriors become NaN, witch makes them

[2016-10-30 10:18] isNaN6 opened #363 "Unholy Covenant Zombies force bosses to retreat"
Hi,

The zombies from the 3/3 pieces Unholy Covenant set bonus forces the bosses to retreat, sometimes into the rooms of the other bosses (like in Mountain refuge raid).

On the same note, if the zombies get the second boss of Castle of the Undying stuck into a corner (while tanks are dead), the boss stops attacking.

[2016-10-30 20:16] Syntastic opened #364 "XP Boost tooltip typo"
![screenshot_16](https://cloud.githubusercontent.com/assets/6775313/19839663/dcb025d6-9eb3-11e6-925b-6fc3d48914fe.png)

[2016-10-31 06:17] TravisGesslein commented on #364
Thanks!

[2016-10-31 06:19] TravisGesslein commented on #362
Sorry this happened, and good morning. I want to note that restarting the game without the item equipped will reset the stats to normal values.  I'm going through all reports and issues now and am gathering everything I can fix until this evening so I can upload a smaller patch with fixes that can be made in that short amount of time.

[2016-10-31 06:42] #364 closed, assigned to TravisGesslein

[2016-10-31 06:42] #362 closed, assigned to TravisGesslein

[2016-10-31 07:37] TravisGesslein commented on #361
Typo in the code! While I'm at it, I should check the rest of the higher level skillbooks, too..

[2016-10-31 07:37] #361 closed, assigned to TravisGesslein

[2016-10-31 09:22] isNaN6 opened #365 "Immortal raider buff"
Hi again.

On the last boss of Tomb of the Pharao, a debuff is placed on a tank.

Don't think the label is correct :
![17ef2a589b8a42d0abccd452729b3e47](https://cloud.githubusercontent.com/assets/23148644/19849447/aee9a7f8-9f53-11e6-9b57-da76e191b649.png)

This boss is also... quiet hard? (Bugged?) I can't even make her health drop.
edit: small victory, dropped her to 1.1M/1.2M health

[2016-10-31 11:35] #357 closed, assigned to TravisGesslein

[2016-10-31 11:39] TravisGesslein commented on #365
I'll investigate the buff, it's supposed to make them immortal for a while (instead of taking damage, which happens when the Pharaoh doesn't find your heart to be pure).

Regarding boss difficulty: If the buff above is bugged it makes the boss quite a bit harder of course, but the fight seems to work fine otherwise, from what I can tell.

[2016-10-31 11:45] TravisGesslein commented on #365
Yeah, the description was wrong, but the buff itself should work correctly. Will be fixed in upcoming patch.

[2016-10-31 15:42] dcish opened #366 "No AA/Items awarded for killing first boss of Undead Castle"
Killed the zombie guy while he had minions on the screen. Didn't end up giving any loot even after killing minions.

Occassionally he will fear an offtank into the next boss. Wonder if this has to do with the bug.

Also from Hara: Can confirm this. Just did him after a reset, neither him nor the last boss of that raid dropped items.

[2016-10-31 15:43] dcish opened #367 "Inventory not organized properly on refresh"
If i save game, update to new version then refresh, my inventory becomes a mess again and i have to reorganize it.

[2016-10-31 15:44] dcish opened #368 "Stay at range no longer works"
It just causes the raiders to wobble around rather than run like they previously had. There is no run away anymore.

[2016-10-31 15:52] dcish opened #369 "Bug with dps warrior w obsidian claymore"
Since last patch my dps warrior has attempted to pull the second boss early.  This only happens while the unit is wielding obsidian claymore as far as i can tell.

[2016-10-31 17:31] TravisGesslein commented on #369
Hi, which raid do you mean? Could you send us the savegame where this happens to social **at** pitforest.de?

I'm assuming you mean that the Warrior just runs to the second boss for some reason?

[2016-10-31 17:32] #365 closed, assigned to TravisGesslein

[2016-10-31 17:55] dcish commented on #369
Yeah. It happened in undead castle he ran to werewolf. Then again it happened in golem area where he ran from first to second boss. It stopped when I unequipped the item. Where is save located.

Sent from my iPhone

[2016-10-31 22:31] Syntastic opened #370 "Hp values missing from some bosses"
![screenshot_17](https://cloud.githubusercontent.com/assets/6775313/19873946/cea3ab02-9f8f-11e6-8f29-848d57c43c65.png)

[2016-11-01 10:49] dcish commented on #370
I've had this bug as well, a refresh of client usually fixes it but probably shouldn't happen

[2016-11-01 12:42] isNaN6 opened #371 "Second boss of Castle of Undying regens health on dead"
Hi,
When the second boss of the Castle of the Undying dies with it's health regen buff, he regens health and some warriors keep attacking him.
He does disappears, but if you have is health bar selected, you see he regains some health.
Last time my 2 tank warriors keep focusing him while the rest of the team went to the next boss, useless to say that it was a fast death for them.

[2016-11-01 19:59] isNaN6 opened #372 "Unkillable third boss of Tomb of pharaons"
Hi,

edit: nevermind, just killed him :D

Thanks in advance.

[2016-11-02 00:58] #372 closed, assigned to nobody

[2016-11-02 01:35] isNaN6 opened #373 "Old Holy Warrior"
Hi,
I just cleared the Temple of the Pharaons and didn't received the Mercenary Contract.

![screenshot_5](https://cloud.githubusercontent.com/assets/23148644/19913662/fc18fc20-a0a4-11e6-9efd-2c4d78908891.png)

For info, I didn't upgrade the 2 others mercenaries yet, don't know if that plays a role in it.

[2016-11-02 02:07] TravisGesslein commented on #373
Sorry, don't know how that prophecy reward slipped in, the contract isn't supposed to be rewarded here. The Holy Warrior mercenary is a reward for an entirely different prophecy (it's secret, but if you don't know what to do, these secret prophecies can drop as random world drops, and some are also sold by the visiting merchant from time to time).

[2016-11-02 07:38] isNaN6 opened #374 "Raid of the Seer"
Hi,

My warrior got pushed there during the fight:

![screenshot_6](https://cloud.githubusercontent.com/assets/23148644/19920060/c046a65c-a0d6-11e6-90e5-baa13f4139a6.png)

And his stuck there during all fight. At the end of the fight he did go back to town like the others.

[2016-11-02 09:39] #374 closed, assigned to TravisGesslein

[2016-11-02 09:40] #373 closed, assigned to TravisGesslein

[2016-11-02 09:51] #366 closed, assigned to TravisGesslein

[2016-11-02 09:52] TravisGesslein commented on #370
By any chance,  do you know of a way to reliably reproduce this issue? The problem has existed for some while, but we've been unable to track it down so far, as it seems to happen relatively rarely.

[2016-11-02 10:18] TravisGesslein commented on #356
First two should be fixed as of last Friday, fixing Sacred Rite reward in Patch 14

[2016-11-02 10:26] #356 closed, assigned to TravisGesslein

[2016-11-02 10:58] TravisGesslein commented on #354
That one was one of the few items that didn't have a cosmetic appearance (so only stats). Will be fixed in Patch 14.

[2016-11-02 10:58] #354 closed, assigned to TravisGesslein

[2016-11-02 12:46] #349 closed, assigned to TravisGesslein

[2016-11-02 13:48] dcish opened #375 "Tomb of Pharoa second boss shoots beam below the character"
Sometimes when he does his beam attack its visually below the character on the screen. I've only noticed it when the boss is facing to the right.

[2016-11-02 14:22] dcish opened #376 "Fireball 100% crit chance still has chance not to crit"
Currently have 98.6% crit chance on fireball from gear and 8% chance from the skill book equipped. Sometimes it still doesn't crit. In theory with inner combustion it should allow me to chain cast fireballs every second, but right now it's sometimes getting a reset.

[2016-11-02 15:28] BrackCarmony opened #377 "Extract materials quest reward missing"
After completing the Extract Materials quest, I didn't get the quest reward of the skillbook of sacred rite recipe.

[2016-11-02 15:54] dcish opened #378 "Avoid aoe doesn't work in lair of the seer."
None of my units will attempt to move out of the way of his breath.

[2016-11-02 16:09] dcish opened #379 "Boss stops attacking"
Beholder in lair of the seer stops attacking after breath. Unsure how to reproduce, assume its a pathing issue. The main tank is not taking any damage but can't get healed either. Blew him right off the screen!

[2016-11-02 16:15] dcish opened #380 "No new raid displayed after lair of the seer completed."
Not sure if intended or a bug, either way great game and hoping for many more raids to come!

[2016-11-02 17:12] TravisGesslein commented on #380
That one is intended - for now. We're already working on new raids for post-release!

[2016-11-02 17:12] #380 closed, assigned to TravisGesslein

[2016-11-02 19:06] isNaN6 commented on #379
Had my main tank also blown out of the screen, he is just in some black part of the map where all i see is black.
In my case the boss didn't stop attacking because my other tank took the aggro.

[2016-11-02 22:17] TravisGesslein commented on #379
Yeah, if the targeted raider goes somewhere where the boss can't find a path to, it will look like the boss just stops attacking. Will fix.

[2016-11-02 22:20] TravisGesslein commented on #377
Thank you for the bug report. This will be fixed on Kongregate when Patch 14 is uploaded (sometime tomorrow). It includes a retro-active fix for players who previously already completed the prophecy. Once Patch 14 is live, you should see Sacred Rite just appear in the runesmith's inventory.

See #356

[2016-11-02 22:20] #377 closed, assigned to TravisGesslein

[2016-11-02 23:35] TravisGesslein commented on #376
In the training facility I can't seem to reproduce this. Just some checks:
- By reset you mean, the mage has to wait for the entire cooldown to end before casting again? It may appear that one or sometimtes two seconds cool down before the mage casts again, because the fireball itself arrives some time after the skill was triggered, and the skill itself has an execution time during which the mage

[2016-11-02 23:45] dcish commented on #376
Sure I'll send a version of it when I get home.

Sent from my iPhone

[2016-11-03 08:53] TravisGesslein commented on #358
Can't reproduce this behavior for now - if somebody else sees the same thing, please feel free to give more details!

[2016-11-03 09:11] TravisGesslein commented on #367
Did you sort the inventory (using the button in the bottom right of the inventory window) in any way before this happened?

[2016-11-03 09:19] TravisGesslein commented on #367
Also, when you say it becomes a mess again, does it seem like the ordering of the items is just random, or are they by any chance sorted in a certain order? Like with the other issues, a savegame where you can get this to happen so we can reproduce it would be extremely helpful.

[2016-11-03 12:05] dcish commented on #367
Yeah I had created space so I can identify groups of items over pages. When I come back all those spaces are removed.

Sent from my iPhone

[2016-11-03 12:31] dcish commented on #376
I changed my gear to 100% and saw it have a full 15s cooldown today, ill send you a backup.

[2016-11-03 14:38] TravisGesslein commented on #376
Hi, thank you, the savegame would be very helpful.

[2016-11-03 20:19] dcish opened #381 "Memory leak"
Keeping the game up without refresh for a long time leads to it slowing down and if you open process manager you can see the ram footprint is huge. Restarting fixes it though! Using chrome/win7

[2016-11-03 22:14] isNaN6 commented on #375
![screenshot_2](https://cloud.githubusercontent.com/assets/23148644/19987395/350d6666-a21b-11e6-9f05-84c16229ecd1.png)

I believe it's this you are talking about.

[2016-11-04 20:31] dcish opened #382 "Experience Monk"
It looks like the upgraded padre orso has the exact same damage and hp as the normal one just an inflated cost....

[2016-11-06 21:16] dcish commented on #367
Tried again after other people supposedly stopped having these problems at patch 14, i still have them. I have 5 open slots, if i move those items to last slots available and refresh, the first 5 slots get filled and only empty ones at the back again.

[2016-11-07 14:19] dcish commented on #376
I think this happens if the mage casts the fireball but the enemy dies before the fireball actually lands (if that is how it's calculated). It's really easy for me to see it because my mages are always mana empty farming when with 100% crit chance, they should always be -45 mana maximum.

One fix could be remove mana on fireball hitting instead of on fireball animation casting.

[2016-11-08 08:28] TravisGesslein commented on #382
He also gets a healing spell, that is a bit more powerful in terms of healing than the Priest's Basic Heal ability. But we'll also buff his HP and damage a little in the next patch.

[2016-11-08 08:29] #382 closed, assigned to nobody

[2016-11-08 12:43] dcish opened #383 "Pathing issue when entering a new map"
On map 198 (and similar maps) units will attempt to go to the closest unit as measured by screen distance, not pathing. Sometimes this will lead to an issue where the units will walk around a bunch of monsters to the target farthest away from them while letting other monsters take free hits at them.

Here's a representation!
      m m
m  xx
m  xx
t    xx   e

E is the entrance where the units ente

[2016-11-08 13:47] TravisGesslein commented on #376
Yeah, this is probably what happens. The damage an ability does, whether or not it crits, the bonus damage from all the various sources of bonuses in the game, etc., are applied when the projectile actually hits.

There's no big technical reason for it, it's just a design choice. For example we want buffs that were triggered while the projectile was in-flight to count. Also, some abilities that do

[2016-11-08 15:37] #353 closed, assigned to Talisca

[2016-11-09 08:53] #376 closed, assigned to TravisGesslein

[2016-11-09 11:14] TravisGesslein commented on #379
Been trying to reproduce this for a while now. With certain configurations I can see how the boss itself gets pushed to the right (probably because of the zombies from the Undying set), but the Warriors only get pushed slightly to the left, never with enough speed to tunnel through collision tiles or something like that.

Could you give me more information on how this happened? Where do the Warrio

[2016-11-09 11:24] TravisGesslein commented on #379
As a kind of band-aid, with the next patch we'll add a check to see if entities have gone off-map for some reason (this shouldn't ever happen, but apparently it does! :hankey:) and if so, teleport them back to the entrance of the map.

This isn't a fix to why this occurs at all, of course, but it should prevent larger gameplay issues from occuring. For example, currently if this happens it's possi

[2016-11-09 20:37] TravisGesslein commented on #378
The breath can't be dodged, it affects all raiders on the platform. Unfortunately!

[2016-11-09 20:37] #378 closed, assigned to TravisGesslein

[2016-11-10 08:45] #363 closed, assigned to TravisGesslein

[2016-11-10 09:06] #355 closed, assigned to TravisGesslein

[2016-11-10 09:14] #371 closed, assigned to TravisGesslein

[2016-11-10 09:26] TravisGesslein commented on #368
Should be fixed now (edit: when we upload Patch 15). Movement behavior still needs some rework, but we'll see what kinds of other issues players find first.

[2016-11-10 09:26] #368 closed, assigned to TravisGesslein

[2016-11-10 13:45] dcish opened #384 "Inventory icons don't show up"
Don't know how to produce this, but sometimes on equipping skills and swapping tabs in inventory the icons won't show up in the background. A refresh fixes it. Not very common to have happen but has happened at least twice.

[2016-11-10 14:27] DaemoniaV opened #385 "Can`t login to beta"
Always login with button Googlewith goole account. Now meet error messge - "error":"unauthorized_client","error_description":"Unauthorized","status":400
p.s. Try three different browsers - Mozilla, IE, Opera.

[2016-11-10 16:31] TravisGesslein commented on #385
Thanks, I'll report this to the server guys. Keep in mind though that nothing has changed in that beta, the current one is running on Kongregate+ until release!

[2016-11-10 16:34] TravisGesslein commented on #385
We would give you access to it, but we don't know how. As far as I can tell, we can't grant explicit invites to people.

[2016-11-10 22:45] DaemoniaV commented on #385
http://www.kongregate.com/accounts/Daemnoia
My Kong user profile if it help)

[2016-11-14 11:58] Profputricide commented on #384
I can reproduce this by disabling classes in the inventory and then switching equipment snapshots. Not sure if it's the same issue, but it might help

[2016-11-14 12:00] Profputricide opened #386 "Instant respawning of monsters"
The increased monster count upgrade can be exploited to have instant monsters respawning in the map, by just activating and deactivating over and over.

[2016-11-14 13:11] Profputricide opened #387 "Trigger skills"
Never seen time pressure, multishot or cleave work on killing blows. So i'm assuming trigger skills don't work on killing blows?
This is for 1 hit kill monsters at least, didn't really test it at harder monsters.

[2016-11-14 14:25] TravisGesslein commented on #387
They should work if the raider with the trigger skill in question does the actual killing blow. But if, for example, another raider does the actual killing blow, and an Archer's arrow arrives just after the monster already died, nothing triggers because that only happens when the raider actually does damage. This is (probably) fixable however. I had to introduce a similar work around in the code f

[2016-11-14 14:41] TravisGesslein commented on #386
Thanks for the report. In Patch 15, the monsters will not spawn until their normal respawn time is over.

[2016-11-14 14:42] #386 closed, assigned to TravisGesslein

[2016-11-14 16:15] Profputricide commented on #387
Been farming for quite some time on map 3 with mages out of mana, warriors only have cleaves and archers only rain of arrow and time pressure or rain of arrow and multishot.
Would expect to have seen at least 1 of the skills trigger as theres not many other raiders getting killing blows. Multishot/cleave might be hard to spot, so i could've missed it (but i don't think so).
Time pressure has an ob

[2016-11-14 23:20] isNaN6 commented on #379
Hi,

Had this happening to me several times.
Once, my warrior was on the right of the boss and got pushed back hard. I think (not sure on this) that when he does is breath, if an hero as a stun, he gets pushed way back since he isn't auto advancing at the same time. He flew past the right border of the map and if I selected him all I could see is a black screen (under the map?)

Another time, it h

[2016-11-15 07:06] isNaN6 opened #388 "Last boss of castle of the Undying not looting anything"
Hi,

This has already happened a few times to me, even on first kill, he just gives me gold.

[2016-11-15 13:35] TravisGesslein commented on #388
This currently happens because his loot list is wrong, it only contains an item of the Undying set, and nothing else (so if you already have it, nothing will drop). Will be fixed!

[2016-11-15 14:24] dcish opened #389 "Snapshot doesnt swap"
Have two sets, swapped into one, all icons and skills empty, swapped into other same thing. Ugh.

[2016-11-15 16:12] dcish commented on #389
Wow so i reloaded and all the items i had in my snapshots are gone. '77 missing items from snapshot' lol. I have a 24hour old save but kind of sucks i lose the gold from yesterday... 800k :(

[2016-11-15 16:43] TravisGesslein commented on #389
Hi, sorry this happened. I'm currently investigating this with the help of our server dev, since something there may have gone wrong also. When stuff started breaking, did you create or delete snapshots at all, or did you only use them to change equipment?

[2016-11-15 16:45] dcish commented on #389
Only used them to change snapshots. I didn't delete any of the snapshots
and they're in the save i sent you.

On Tue, Nov 15, 2016 at 11:43 AM, Travis Gesslein notifications@github.com
wrote:

##

-ross mueller

[2016-11-15 16:47] TravisGesslein commented on #389
In the save itself, I can only see one snapshot. Its name is 'farming'. I'm assuming you had more?

[2016-11-15 16:57] dcish commented on #389
Yeah, it was called blizzard. It had replaced a few items with the tier 3
items for blizzard.

On Tue, Nov 15, 2016 at 11:47 AM, Travis Gesslein notifications@github.com
wrote:

##

-ross mueller

[2016-11-15 17:01] TravisGesslein commented on #389
Let me see, it's possible it's burried in the savegame but doesn't load for some reason.

[2016-11-15 17:03] dcish commented on #389
Yeah, the items disappearing from the inventory is weird, considering you
can see them in the snapshot.

On Tue, Nov 15, 2016 at 12:01 PM, Travis Gesslein notifications@github.com
wrote:

##

-ross mueller

[2016-11-15 17:09] TravisGesslein commented on #389
Weird, now when I load the savegame I get one that is named "11/13" and one with name "Blizzard", but the "farming" one isn't there.

[2016-11-15 17:13] dcish commented on #389
weird, i redid the farming one when i updated it yesterday but I'm not 100%
sure, i just know that i had one,  then made a blizzard one to find the
'additional monster' bug when i heard about it. i wonder if the issue is in
the / of the set name?

On Tue, Nov 15, 2016 at 12:09 PM, Travis Gesslein notifications@github.com
wrote:

##

-ross mueller

[2016-11-15 17:15] TravisGesslein commented on #389
I think I may have just loaded an old save game by accident. Could you also send me your backed up savegame (before the items disappeared)? Will probably help me with when trying to reproduce the error.

[2016-11-15 17:15] dcish opened #390 "raids not advancing."
Patch 15, did crypt and throne room but the next raid is not appearing as an option to complete.

During crypt, after boss died, my characters idled at the entrance dancing around for a few minutes before i had to manually move them out

[2016-11-15 17:16] dcish commented on #389
sure sending now.

On Tue, Nov 15, 2016 at 12:15 PM, Travis Gesslein notifications@github.com
wrote:

##

-ross mueller

[2016-11-15 17:25] TravisGesslein commented on #389
Yeah, that's the one that only has the farming snapshot. But the error happened with one of the new snapshots? (Blizzard or '11/13'). Then I'll probably have to create those manually.

[2016-11-15 17:26] dcish commented on #389
yeah, i made those after you sent back the fixed one from level 0

On Tue, Nov 15, 2016 at 12:25 PM, Travis Gesslein notifications@github.com
wrote:

##

-ross mueller

[2016-11-15 17:29] TravisGesslein commented on #389
Oh, were those savegames backed up online? Or are they local only?

[2016-11-15 17:31] dcish commented on #389
they all save to cloud then exported back to me.
-- 'imported (4)' was the one you sent back to me after the level 0 bug
-- 'broken snapshot' was the one with the missing items afterwards

somewhere between those two a bug occurred in the snapshot management or
inventory issues. i noticed when i didnt have the items appear in my
snapshot that the icons in the inventory bug had appeared again, so i

[2016-11-15 17:33] TravisGesslein commented on #389
Good, just trying to make sure it wasn't a bug with our server connection or anything like that. I'm trying to get the error to happen to me, but it's proving elusive.

[2016-11-15 18:16] TravisGesslein commented on #389
I'm currently preparing to upload a hotfix that reverts some changes made in the last patch that should at least prevent other players from experiencing this issue (mostly concerning server<->client connection. Currently we think this is where it may have gone wrong while you guys updated your snapshots, i.e. made changes to them). After that we'll have to find out what caused the error.

For you

[2016-11-15 18:17] TravisGesslein commented on #389
Also, it broke when you used the snapshots to change equipment, but did you create/update any snapshots while the game was already running on the current version?

[2016-11-15 18:26] dcish commented on #389
I didn't create or update on 14 but I don't even think I had update to 15 yet until after the missing inventory items

Sent from my iPhone

[2016-11-15 18:41] Profputricide commented on #389
For me it broke on update 14 aswell, refreshed to the latest version after the problems had occured in hopes that it would get fixed.

[2016-11-15 18:46] TravisGesslein commented on #389
That's really odd... both of you reported the error within 2 minutes of each other, or rather that's when your emails arrived (about two hours after Patch 15 was uploaded), but both of you were still on the old version... I assumed it was something introduced with the latest patch, but after all that might not have been it. Currently fixing both of your savegames, will send emails soon. Should pro

[2016-11-15 18:53] TravisGesslein commented on #389
Oh, by the way, you mentioned the items were gone after reload. Does that mean you can confirm that they were still there before you refreshed the page?

[2016-11-15 19:07] Profputricide commented on #389
I can't confirm that, as my items were overlapping and started going invisible when swapping snapshots.

[2016-11-15 19:27] dcish commented on #389
Can't confirm since inventory icons weren't displaying at all

Sent from my iPhone

[2016-11-16 02:07] ImperialUser commented on #390
More info: It looks like the boss death does not trigger.  The raid timer starts counting down after skele death, but no loot, no opening of next raid, and raiders walk out like in farm maps when you kill everything on the map.

[2016-11-16 07:29] Profputricide opened #391 "Suggestion for snapshots"
When refreshing the game, the snapshots sometimes swap places.
So i'd suggest to add icons to make it easier to remember which one is which.

Also the list of items doesn't really help ... it's only pushing the snapshot name out of my screen, making it even harder to find out which one is which.
For this i'd suggest having names at the bottom, or not having the list of items show up.

[2016-11-16 11:47] TravisGesslein commented on #390
Yup, thanks for the bug report. Fixed this internally. I want to fix an issue that was reported since Patch 15 where priests bug out (I think this may be unrelated to the bug where Prayer prevents them from doing anything, but not sure), but lacking savegames make this hard to track down. Either way by this evening the issue will be fixed. Sorry it happened.

[2016-11-16 13:10] Profputricide opened #392 "Suggestion for raider upgrade"
I really dislike to see my raiders activate buffs/debuffs that are still active, and thus wasting their resources

Maybe have an upgrade that makes them wait untill buffs/debuffs are over before using it again (somewhat similar to bulwark upgrade)

[2016-11-16 13:57] TravisGesslein commented on #392
Yeah, we're not sure how to solve this yet. We want to enable more skill customization in the skill priority list interface, such that you can say stuff like "only execute this if the buff isn't already active" or "only execute if enemy has > 50% health" and stuff like that. We'd rather not spend valuable development time on smaller upgrades that essentially fill the same purpose until then.

Howe

[2016-11-16 22:03] Profputricide opened #393 "Can't click on part of the screen"
I went afk in a raid (Ravaged Abode - and cleared it), came back about half an hour later with raiders resting in town. But now i can't click on anything lying in the red square on my screenshot. (this is just an indicator, it also happens in farm maps, raids and the training facility - the location is fixed on the screen, moving around the map anything new lying under the square can't be clicked)

[2016-11-17 13:59] Profputricide commented on #393
Not sure if it's related to this, but i didn't refresh the page after this happening untill today.
My cloud save did not update at all, and i'm now back at the point where this bug started happening yesterday.
The area is clickable again tho, so that got fixed by reloading at least.

[2016-11-17 15:56] Profputricide commented on #391
Would also like to add to this, that 90% of the snapshots is about skillswapping, and that keeping them up to date is a real pain if you get a new piece of equipment.

[2016-11-18 07:18] Profputricide commented on #389
The issue seems to be happening mostly when using snapshots while in a raid. Have had this happen in both castle of the undying and tomb of the pharao just now. Instead of equiping the snapshot items start dissapearing.
Refreshing fixed it for me this time, but i'm not using snapshots again while in raids untill this gets a fix.

[2016-11-18 17:31] TravisGesslein commented on #393
If this keeps happening, could you open up the console (F12) and see if it keeps throwing a lot of errors? Sounds like something in the code crashed, and keeps crashing regularly so the game can't save (or doesn't even get to the point where it wants to save the game).

[2016-11-19 00:58] Profputricide commented on #393
Will do next time it happens ... but this one is quite rare i'd guess

[2016-11-19 10:52] Plop86 opened #394 "Mage critical on fireball"
SO i had exactly 100% crit chance on my mage with fireball so i went to dummy target practice to try if it would constantly cast fireball. My mage doesn't always crit so my guess would be that ignite doesn't properly stacks. My mage had 84% crit chance with x2 ignite which should mean 100% yet he happen to fail to do critical and put fireball on cd.
Is there a max amount of fireball you can cast i

[2016-11-20 12:18] Profputricide opened #395 "Critical hits"
With a critical hit damage bonus of 100%, my critical hits are doing exactly base damage. Where is the 'bonus' part from critical damage?

[2016-11-20 17:02] TravisGesslein commented on #395
I can't check the code right now, but this is probably just a display error. With 100% crit bonus, you basically do double damage when your initial attack crits. It's possible we're only showing the bonus amount that comes from the critical hit when we show the little floating text.

[2016-11-20 17:49] Profputricide commented on #395
tested it on low lvl, getting critical hit numbers of 21 (base dmg), not oneshotting the skeletons in farm map 3 with that

[2016-11-20 18:45] Profputricide opened #396 "Mercenary"
When hiring experienced padre orso, i'm getting experienced mad dog's brother instead.

[2016-11-20 19:56] Profputricide commented on #396
This only seems to happen when i recruit the experienced necromancer first tho ...
And it's no longer happening after a refresh

[2016-11-20 21:31] #396 closed, assigned to nobody

[2016-11-21 11:58] TravisGesslein commented on #395
Yup, it only showed the bonus damage resulting from crits. Will be fixed in next update.

[2016-11-21 12:00] #395 closed, assigned to TravisGesslein

[2016-11-21 12:01] TravisGesslein commented on #394
This was a bug in the work-around code that was added with the fix of issue #376 (also related #387). Will be fixed in upcoming update.

[2016-11-21 12:02] TravisGesslein commented on #394
(Also thanks to Thorbrian, who made the fix of this issue pretty easy thanks to a detailed error report via email. He should be around somewhere here as well I think)

[2016-11-21 12:02] #394 closed, assigned to TravisGesslein

[2016-11-21 12:10] TravisGesslein commented on #391
Yup, the snapshots are a bit messy. We can make the tooltips a lot smaller by showing item icons instead of listing all the names. I like the other suggestions too, will probably implement all of those once we make the snapshot code more robust.

Regarding the second comment: Yeah it would probably make sense to have separate skill and equipment snapshots. Equipment is transient by nature in this

[2016-11-21 12:12] TravisGesslein commented on #390
(The fix-patch was uploaded last week).

[2016-11-21 12:12] #390 closed, assigned to TravisGesslein

[2016-11-21 12:17] TravisGesslein commented on #389
What's also possible is that some unrelated code crashes happen while you're raiding, which potentially messes with snapshot usage. I'm delaying the release of the current patch a bit to work on a way to automatically detect when something like that happens, and give an easy way for players to export a kind of error log which they can send to us.

[2016-11-21 14:25] TravisGesslein commented on #369
This seems to have been caused by the Disarm skillbook. The boss already has it applied so the raider wanders on over to the second to apply it to that one, too. This and similar behavior for the Crippling Shot will be fixed in Patch 16.

(Thanks Thorbrian)

[2016-11-21 14:25] #369 closed, assigned to TravisGesslein

[2016-11-22 08:48] roflaa opened #397 "Some feature request"
- Having a follow camera available which is always putting the selected raider into the center of the screen. this could be done by having a small button near the the raider picture
- get information on how often a raid has been successfuly be done.
- as the cash flow is very low give the possibilty to sell stuff from raids.

[2016-11-22 12:04] Profputricide commented on #397
- A follow camera is already available (alt+f), it's not focussing on a specific raider tho.
- Number of clears doesn't sound important to me, but extra info is nice i guess.
- Don't think there will be selling because of the runesmith extracting items (would rather see more use for the materials in game instead)

[2016-11-22 12:13] Plop86 opened #398 "Some Skillbook level 3"
So i beaten the current content, and the shop is selling all usual spellbook level 3 but fireball level 3 is it intended?
Focused shot level 3 i also never seen dropping from maps like level 2 did.

[2016-11-22 13:01] TravisGesslein commented on #398
Fireball lacks a level 3 skillbook right now, will add.

[2016-11-22 13:04] TravisGesslein commented on #398
Also, Focused Shot level 2 dropping from farm maps is more of an exception than a rule. Most skillbooks don't drop from random mobs. We added that (and a couple of other skillbooks) to the global drop table early in development when it was relatively empty, just to have something in there. We didn't remove it after we added a lot more items because we thought it wouldn't hurt to leave it in there.

[2016-11-22 13:14] TravisGesslein commented on #397
The second suggestion can be added relatively easily. I like the first one, too, but that's a bit more work. I will add a post it note to our wall for it.

Regarding number 3, cash flow is a bit tight in the beginning (it's a common complaint), but that's intended. Do you know the saying that a trade wasn't fair unless both parties feel cheated? That's kind of the feeling I'm going for. I want gol

[2016-11-22 13:47] roflaa commented on #397
Thanks for you answers guys. I understand the intend of the money system and i already have the crafting system unlocked :) But also with this i have so much material for crafting but i always lack in money. I always have to save money for buying wisdom. maybe you could a ancient wisdom which makes the buying of additional wisdoms cheaper.

one more thing which would be great is a combat log. to s

[2016-11-22 14:37] Plop86 opened #399 "Gold"
I remember when i started the game you guys said that map were meant to be for experience and raid for gold.
Yet i hardly see how raid can compensate the gold, like when i kill seer with 250% extra gold i don't even get 100 gold.
Suggestion would be to raise gold from raids boss kills

[2016-11-22 16:18] Profputricide opened #400 "Darkmage hood"
This item icon does not look like a hood, when equiping or using it as cosmetic it looks like a black hood though.
![](http://puu.sh/sqQC7/b1fae317f6.png)

[2016-11-23 03:55] Igotz opened #401 "Skill book: Cold Focus Level 3"
The text says a 9% increase in damage per stack but the buff that its giving says 3% when i mouse over it. The cold focus buff seems to be stacking properly though, as in I can get 7 stacks with the level 3 skillbook, but the damage is still going up at 3% a stack. I will attempt to actually calculate the if the buff is factoring in at 9 or 3% but I cant make any promises there ( math is not my st

[2016-11-23 03:57] Igotz commented on #401
![screen shot 2016-11-22 at 9 55 12 pm](https://cloud.githubusercontent.com/assets/23691537/20550761/9dcd1e02-b0fe-11e6-8956-833e965e3ce1.png)

[2016-11-23 03:57] Igotz commented on #401
hopefully the screenshot helps.

[2016-11-23 07:23] Profputricide commented on #391
Different equipment setups can be usefull when you switch between farming and raiding, but not as important as skills. (blizzard set is a good example of something you want to have when farming low level zones, but is not as important in raids)

What i would love to see though, is raiders automaticly swapping to a raiding and farming setup when they are set on the raid+farm mode.

[2016-11-23 07:24] Profputricide commented on #401
If i remember correctly, the same issue has been mentioned about cold focus lvl2

[2016-11-23 17:10] Plop86 opened #402 "Challenging cry bug"
Not sure if it's a typo but the cd is supposed to be 30 sec yet my warrior are using it every 5 sec or so.
So it seems that attack speed affect cooldown reduction from testing so i guess you can close this case if it's intended

[2016-11-23 22:33] Plop86 opened #403 "Possible item duplicate bug"
SO it seems that items you put in cosmetic are dropping again from boss i mostly speak for set items.
Even tho it has no real impact on the game since only one can be equipped just wanted to let you know

[2016-11-24 07:24] Profputricide opened #404 "Options not working"
My options button has stopped working. The errors showing up are whenever i press the button.
![](http://puu.sh/ssJlF/ac6f58848c.png)

[2016-11-24 22:17] Profputricide commented on #389
![](http://puu.sh/stomg/2baa351d5b.png)

[2016-11-25 11:08] TravisGesslein commented on #389
Thank you very much for the screenshot. Seems to crash inside a simple math function. Sorry, I should have mentioned it before, but could you click the little arrow on the left side of the error? It expands into a list that shows what went on before this happened.

Also, did that error happen right when you used the snapshots, or sometime before/after?

[2016-11-25 13:02] Profputricide commented on #389
I assume it happened right after using the snapshot. But i don't have the console open 24/7 so can't guarantee it. The same error showed up twice so far, when items seem to be disspearing on switching equipments. I never look around for long tho, as i'm refreshing to get it fixed usually.

[2016-11-25 13:05] Profputricide commented on #389
Here you go, just had it happen again, error shows up as soon as an item is not equiped on using a snapshot.
![](http://puu.sh/stXaU/f1ed374bd8.png)

[2016-11-25 13:15] TravisGesslein commented on #389
Thanks a lot. Sounds like it's reproducable? Could you send me that savegame this is happening with at the moment?

[2016-11-25 14:27] TravisGesslein commented on #404
In the error screenshots from the other issue, I saw an error that said this._savegameUI is undefined. If you see that again, could you expand that list with the arrow as well and post what it says? The options menu needs that savegame UI, so that might be an issue.

[2016-11-25 15:10] Profputricide opened #405 "Cosmetics"
There is no slot for gloves!
Not like there's many of those, but i hate seeing 2 of my raiders with different color gloves instead of their bare hands.

[2016-11-26 09:54] DaemoniaV commented on #385
How long Kong+ test long? Is there some that I can do for gain access?

[2016-11-26 14:28] TravisGesslein commented on #385
We're not sure we're going to make it before the end of the year. There's just a lot of bug fixing and stuff left to do! The game has been content complete (for release) for a long time now, but we just want to polish more.

As far as I'm aware, any Kong+ member can enter the beta (i.e. you would have to subscribe for money), other than that I'm not aware of any way to enter, sorry :hankey:

[2016-11-27 19:34] Profputricide commented on #404
![](http://puu.sh/swn8w/bf0355fb28.png)

[2016-11-27 19:39] DaemoniaV commented on #385
Understand. Have some chance to login in old beta on https://beta.pitforest.de/idleRaiders/
Just one time to export save.

[2016-11-27 19:54] Profputricide commented on #405
Also, why do the priests have red shoes :(

[2016-11-27 20:45] Profputricide commented on #389
Not fully related to this (also happening sometimes when this happens), but when items go crazy with overlapping inventory pages, theres a whole bunch of errors aswell ...
![](http://puu.sh/swrGE/af57b4f2bc.png)
![](http://puu.sh/swrPT/fde3617ed7.png)

And also getting the savegame ui error that is mentioned in #404

[2016-11-28 03:25] Exili opened #406 "Can't access second run"
I was reading that you had to be a Kong+ member to get into beta I purchased Kong+ to enter it but it says its still only able to be played by K+ members did I do something wrong?

[2016-11-28 12:03] TravisGesslein commented on #406
We ourselves can't do anything about it, I think (we have no way to invite people, as far as I'm aware). Can you contact Kongregate support for this? I'm sure they will be glad to help in that case, especially if you purchased Kong+ for this game specifically.

There was another player on the forums who purchased Kong+ after the beta already started, and had no problems with getting access to the

[2016-11-29 02:27] Exili commented on #406
I figured it out I was using the wrong address to get to it since I couldn't search for it even with K+ I had to use a screen shot from another user to try to figure out the address to play. Forgot -preview on the end of it simple mistake.

[2016-11-29 02:43] ImperialUser commented on #403
I've seen this happen as well.

[2016-11-29 02:50] ImperialUser commented on #401
skill book descriptions that mention what they do also don't update between v1/v2/v3.  A few examples: Rejuvenation, Arcane Bombardment, Fireball.

[2016-11-29 13:47] Profputricide commented on #404
Looks like this error is from the options button alone not working, haven't had those other errors popup this time. This time it also got fixed as soon as i left the raid i was in tho.
![](http://puu.sh/sykfR/5d14a87b1d.png)
This error showing up shortly after tho, not sure what it is about
![](http://puu.sh/sykmu/a2f25391ed.png)

[2016-11-29 19:37] Profputricide opened #407 "suggestion: gold/AA"
There is currently no way to see exactly how much gold/AA we have with high numbers. Maybe show exact numbers on mouseover?

[2016-11-29 23:28] #406 closed, assigned to nobody

[2016-11-29 23:54] ImperialUser opened #408 "Disarm vrs bosses"
My Warrior with Disarm will stop attacking the current boss and run ahead to the next boss to inflict disarm on it.

[2016-12-01 14:51] #402 closed, assigned to nobody

[2016-12-02 12:26] Profputricide commented on #407
starting to have the same issue with crafting materials ...

[2016-12-03 16:47] Profputricide opened #409 "Black screen"
Theres been plenty of reports about black screens on kongregate, finally got it aswell and this is the error that showed up.
![](http://puu.sh/sCT2M/0e1a8d5c28.png)
ps: the black screen can be fixed by opening a 2nd tab in browser and then coming back to the game

[2016-12-05 07:16] Profputricide opened #410 "Suggestion: snapshot item indicator"
Would be nice to have a way of seeing what items are used in the snapshots while extracting items.
Finding out that you extracted items that are used in snapshots is really annoying to deal with :p

[2016-12-05 11:41] TravisGesslein commented on #408
Hi, thanks for the bug report. Also sorry for the delayed answer. I'm working on some code internals that will allow us much more robust reproduction of when things go wrong, and that's turned out to be quite a bit more work than originally anticipated.

The bug you mentioned has been fixed internally and will be fixed in the live version of the game when the next patch is uploaded :)

[2016-12-05 11:41] #408 closed, assigned to TravisGesslein

[2016-12-05 11:44] TravisGesslein commented on #404
Thanks for the error screenshots. The second error originates in the shop code, so it shouldn't affect the game. The first seems to come from an error within the savegame system. Will have to investigate more closely.

[2016-12-05 21:54] Profputricide opened #411 "Love is in the air"
It feels to me like this event is not working when you have cleared many maps. I have never seen it at least when clearing 500+ maps. I do see an error show up every now and then, which sounds like it has something to do with it.
![](http://puu.sh/sFp8M/68992d8e71.png)

[2016-12-07 13:35] roflaa opened #412 "automatic resource extract"
it would be great (maybe an new ancient wisdom) to be able to select drops which should be aotmatically extracted. this would be nice for the inventory

[2016-12-07 13:35] roflaa commented on #409
right thats happen from time to time. only a reload helps

[2016-12-08 03:00] ImperialUser commented on #412
Easiest way I've seen to do this would be have a separate inventory screen where you can place 1 of an item and if that item drops it gets extracted. Size of the inventory could be limited to 5-10 to begin with and allow for upgrades.  There could be a new tab at the end of the inv tabs for auto-extraction items.

[2016-12-09 18:29] TravisGesslein commented on #412
I really like the suggestion of @ImperialUser . The crafting UI has some empty space left that could be used for such a UI. Will look into getting this implemented.

[2016-12-10 07:45] TravisGesslein commented on #407
With the next patch we will show the exact numbers in the tooltip on mouseover. Same for items of which you have more than 999 (so the UI shows a *).

[2016-12-10 07:46] #407 closed, assigned to TravisGesslein

[2016-12-10 07:48] TravisGesslein commented on #411
Yup, code bug. Fixed internally.

[2016-12-10 07:48] #411 closed, assigned to TravisGesslein

[2016-12-12 15:02] ImperialUser opened #413 "Bug with windows on top of each other"
The game doesn't recognize if something is on top of something else. (firefox browser, I haven't tested it in others) A couple examples:

If you have the crafting window open in town with the close (X) button on top of another building it will both close your window and open the new window for the building it was over.  If it's over the crafting building it essentially doesn't close at all because

[2016-12-12 19:41] TravisGesslein commented on #413
True, there are some bugs left like this. We have a kind of system where we say 'this piece of the UI belongs to window x', where a window is something like the inventory screen or the equipment screen. Since we introduced that windowing system a long time after we implemented most of the UI in the alpha, there are still some places left where elements aren't assigned to the right window, so the c

[2016-12-12 20:09] TravisGesslein commented on #401
Yup, a code error caused the skills to always take the level 1 value for damage specifically (the other stats, like max stacks, were unaffected, so they ended up working correctly).

The thing with the descriptions is a left over from a time when we didn't auto-generate descriptions for all the attributes that skillbooks have in common (stuff like proc chance, the damage modifier of a skill, etc.)

[2016-12-12 20:39] #401 closed, assigned to TravisGesslein

[2016-12-12 20:59] Profputricide commented on #413
The snapshotting for full team also has this issue. You can't open the snapshot window, if the close button of the snapshot window is on top of the icon in equipment window.
![](http://puu.sh/sOYYw/eecb35d05e.png)

[2016-12-15 06:25] TravisGesslein commented on #400
Yup, fixed with next patch.

[2016-12-15 06:25] #400 closed, assigned to TravisGesslein

[2016-12-15 13:28] ghost opened #414 "L"

[2016-12-15 23:04] TravisGesslein commented on #414
Hi, thanks for the bug report.

Did you refresh shortly after using the boost? The game internally only saves every 30 seconds, so it may be possible that the game just didn't save before you refreshed. In that case the item should still be in your inventory and you can use it again.

[2016-12-19 07:02] #398 closed, assigned to TravisGesslein

[2016-12-19 12:51] Profputricide opened #415 "Suggestion for items we would like to see in game"
![](http://puu.sh/sUzCG/5f27391ed2.png)

If anyone has something to add to this, feel free to do so!

[2016-12-19 13:07] Profputricide commented on #387
Add the Arcane Barrage skill to this list aswell, the cooldown on missiles don't reset if the mage never hits a target with the cast.

[2016-12-19 15:07] Profputricide opened #416 "Skill enchants in snapshots"
Snapshots don't take into account what level of an enchant is used on skills. It just takes the highest one it can find, and assigns those "randomly" to the raiders.
for example:
warrior 1 is using 2 bulwarks with 50% increased duration
warrior 2 is using 1 bulwark with 70% increased duration
warrior 3 is using 2 bulwarks with 60% increased duration
When using this as snapshot, it won't take into

[2016-12-20 07:33] Profputricide opened #417 "Stuck"
Had hired 3 mercenaries, went to a high map to get them killed but 1 of them didn't die properly. Now all my raiders are stuck in base not moving and i can't do anything to get out of it. (except for reloading the game offcourse)
![error](https://cloud.githubusercontent.com/assets/23452501/21341831/db50b45a-c68e-11e6-9f3f-08bf07f7a0b9.png)

[2016-12-20 11:50] Profputricide opened #418 "XP"
feels like we are getting less xp since last patch

[2016-12-20 12:54] TravisGesslein commented on #417
This should've prompted an error log export, did it?

[2016-12-20 13:02] Profputricide commented on #417
uh ... no it didn't

[2016-12-20 13:08] TravisGesslein commented on #417
That's weird... any chance you're still running on the old version? The browser will sometimes load a locally cached version. Easy way to check would be to go to the savegame section of the options, there should be a new button for exporting your gamelog (which, by the way, can also be used if you see any kind of weird stuff happening. Not just errors but also weird raider behavior, etc.).

[2016-12-20 13:10] Profputricide commented on #417
Not seeing that button, only the export for savegame ... guess i should clear cache or something?

[2016-12-20 13:13] TravisGesslein commented on #417
No, clearing the cache doesn't do anything as far as I know. But the developer console has an option to disable caching while it's open. When you open the console there are 3 dots on the top right, there you can go to settings, and in the preferences tab there's a network section where youc an tick 'disable cache'. This should force it to update.

[2016-12-20 13:15] Profputricide commented on #417
Clearing cache fixed it, i am now seeing the new button

[2016-12-20 13:42] Profputricide commented on #417
"Not just errors but also weird raider behavior, etc."
Does this also include dmg numbers/arrows/fireballs getting stuck on farm maps?
like this
![](http://puu.sh/sVua3/1cf2264687.png)
It looks like whatever is on the screen at the time of changing map zones is left there forever.
Did some testing, and got it to look like this in just a few minutes:
![](http://puu.sh/sVujR/716a1f101c.png)

ps. Thi

[2016-12-20 13:55] Profputricide commented on #413
Mercenary window is also clicked through

[2016-12-20 18:44] ImperialUser commented on #416
Bulwark only negates damage to the warrior using it, not the entire party.  If the warrior is being attacked they will use it.

[2016-12-20 19:02] Profputricide commented on #416
I know how bulwark works, and that is not what i'm talking about - the issue i have, is how a skill with different levels of an enchant don't get assigned back to the same raider when using snapshots.
(enchant levels being depending on the smith research level)

[2016-12-20 22:08] Profputricide opened #419 "Missing prophecy reward"
Did not get an extra raider upgrade slot for this prophecy
![](http://puu.sh/sVVaD/a50c06a528.png)

[2016-12-20 22:09] Profputricide opened #420 "Sanctuary of the forgotten"
This raid has dissapeared from my raid selection list after reloading my save, can still run it by using auto raiding somehow.
![](http://puu.sh/sVVi2/7ff8e1b0aa.png)

[2016-12-21 07:17] Profputricide commented on #420
Looks like the cane also drops again when the raid is not showing in the list.
And it also dissapeared from the selection window again after gaining wisdom.
Can still run it on auto raid though.

Have also had loot drop only once so far, while running it at least 5 times already.

[2016-12-21 07:34] Profputricide opened #421 "rage/mana/energy"
The bars that indicate how much rage/mana/energy a raider has does not update depending on the raiders available resources, but seems to be linked to the hp bar right now.
![](http://puu.sh/sWlT9/8798a56a3b.png)
Archers/priests not having full resource while the resource bar says it is maxed.
Wizard and warrior showing resource bar at the exact same spot as hp, while the number says it's maxed.

[2016-12-21 19:03] Profputricide opened #422 "old holy warrior prophecy"
Failed to finish the prophecy while running with this setup almost 10 times already.
![](http://puu.sh/sWNHw/056172bd5a.png)
Don't want to spoil too much, but am i missing something in how the prophecy works or is this bugged?

[2016-12-22 08:42] roflaa commented on #421
can confirm this

[2016-12-22 08:44] roflaa opened #423 "moving buildings in the base building mode"
i would like to move some building as sometimes raiders get stuck there. today i can only destroy them and rebuild but i would like just to move them around.

[2016-12-22 09:38] Plop86 commented on #420
The loot from this raid is an artifact salvage it and it will drop everytime it is not in inventory. cheap way to get material from artifact.

[2016-12-22 09:39] Plop86 commented on #418
We are indeed and so are exp boost. before in map 34 i was getting 8-10k exp per rats. now i'm getting 3k and with a 100% boost i was only at 4k

[2016-12-22 09:41] Plop86 commented on #417
I also happen to see loot leftover on the map aswell and i have to click them manually on the map lol. This only happens when being active on the map (seems fine when in town)

[2016-12-22 09:43] Plop86 commented on #415
Overall more diversity. And maybe items to make priest attack. Maybe items that increase skills stats or maybe even have some new skills.
But yeah warrior suffer damage quite badly compared to other class (when you want to make it pure dps of course)

[2016-12-22 09:45] Plop86 opened #424 "Find schematic for strange device prophecy"
It asks to kill the werewolf in 10 seconds  for the castle of undying. I'm not sure how this is possible, even with full movement speed and one shotting all the bosses the time to reach werewolf alone takes more than that.

[2016-12-22 13:05] Profputricide commented on #424
Been wondering this too, thought it would mean just the bosskill, but that doesn't credit it.

But theres more prophecies currently that we don't seem to be able to complete, so not sure what's going on.

[2016-12-22 21:48] Plop86 commented on #422
I can confirm this. I pretty much did the same setup removing everything from everyone but warrior. their mighty blow were hitting for 60k yet when the boss died nothing happened.
I also made sure to last hit everyboss there just to be sure and nothing happened aswell

[2016-12-22 22:26] Profputricide commented on #417
I'm having leftover loot aswell, but only while running on map progression, haven't had it happen when on basic farming (while looking at farm map)

[2016-12-27 06:49] Profputricide commented on #387
Just noticed that my warriors stopped cleaving in map 34 as soon as they were able to onehit kill monsters with an autoattack, When i remove items to have them do less than 5126 damage per autoattack they cleave again (it works fine if the trigger skill increases damage enough to oneshot the monster)

Just confirming what i initially reported.

[2016-12-31 04:49] ImperialUser opened #425 "healers + farming moddification suggestion"
Healers don't heal in base if farming is active, but they will if you switch from farming to rest.  This is most noticeable at later levels when characters have 10k+ hp each with group farming active.  It's getting to a point where leveling is slowing down farming gold.

2 suggestions:

1) Obviously, have priests heal when in base.

2) Increase healing of red priests depending on your level.

[2016-12-31 08:33] Plop86 opened #426 "Some warrior bug"
After reaching a certain amount of attack speed, 430 base attack speed to be exact, 2 of my warrior start to have bugs. None of their skills is being triggered anymore (cleave, enrage,hitstreak) this can only be solved by removing items to lower those stats.
Kinda hurt farming speed.
Edit : After futher testing it seems that if the warrior one shot the target with normal hit it doesn't proc any sk

[2017-01-01 14:48] TravisGesslein commented on #426
Thanks for the report. I just want to give a quick update to let you know that we're still on vacation over the holidays, but we're reading all the bug reports that are coming in and will get to work on them as soon as we're back (next week).

It sounds like the cause of this problem is related to #387 . There are no projectiles involved here, but effectively the target is already dead when the co

[2017-01-02 05:34] ImperialUser commented on #415
As previously mentioned, archers lack any +attack speed equips late game.  Best one is a tier 3 set item, Ice Kiss, followed by an uncommon tier 5, stonefoot boots.

Priests casting a party-wide buff of some kind would be nice. Even if it was something heally like -damage taken or +healing received.  But it also opens up other possibilities like +speed, +damage, +crits, +gold, etc.

Mages could us

[2017-01-02 16:32] Profputricide opened #427 "increased item drop chance"
Starting to feel like this ancient wisdom needs a cap or reduction in value. Getting more than 10 artifacts a day and a few thousand items doesn't feel very rewarding.

[2017-01-02 17:07] TravisGesslein commented on #427
True, also makes it insanely hard to balance crafting costs, and creates more inventory management overhead for the player per day. What level of the upgrade are you at currently?

[2017-01-02 17:59] ImperialUser commented on #427
Im at lvl 10, getting about an artifact a day.

(added)
That's with 24 hour gameplay, but not fighting something I can 1-shot kill. So I could boost those drops further.

[2017-01-02 21:49] Profputricide commented on #427
I'm currently at lvl 60, might have exaggerated a little bit in the amount of drops, but that's just how it feels right now.
Farming on 34/98/etc. depending on killspeed.
Found 72 artifacts in 1 week, and too many other items to count.

[2017-01-03 10:09] ImperialUser commented on #427
Lvl 60 item drop rate is a huge investment to item drops, you get what you pay for. :p  I think an artifact a day per 10 levels is a good drop rate, so maybe reduce the effect by half? (25% per level instead of 50% per level)

[2017-01-03 12:10] Profputricide commented on #427
That sounds ok i guess, but would need to gather some data on how many artifacts people actually get right now then. As there's still some RNG involved in droprates.

[2017-01-03 16:56] Plop86 commented on #427
It needs to be balanced indeed i currently have 400 artifact t8 lol in a matter of a week of farming. the thing is they are ok at lower upgrade but get ridiculously crazy. You should just fix the price of the upgrade to be significantly higher then or lower the chance. I could still get full artifact i needed even before it got fixed. it was super slow but rewarding to find it. now it take me 1h t

[2017-01-03 17:11] ImperialUser commented on #427
What about a cap of 1 artifact every 24 hours then?

I'd suggest a daily boolean, after an artifact drops a_drop=true;
When an artifact drops, if (a_drop) don't give it to the player
At the end of the day a_drop = false;

Shouldn't count unique drops, quest rewards etc, just mob drops of artifacts for both the check and triggering a_drop = true.

[2017-01-04 06:58] Plop86 commented on #427
Just tune it down and actually put a max upgrade to drop chance so we don't end up with +10000% chance.

[2017-01-11 13:59] Profputricide opened #428 "Bosses not dropping loot"
Just ran tomb of the pharao and lair of the seer.
Second boss in tomb and seer both dropped nothing for me (unless it tried to drop a unique set item i aleady own and not give out something else)

[2017-01-13 07:30] Profputricide opened #429 "Servers offline?"
It looks like cloud servers are offline or something, saves aren't showing up and on opening a local save it couldn't acces snapshots stored in the cloud.

[2017-01-13 13:23] Profputricide commented on #429
@Heishe still waiting for an answer, many people are unable to play right now!

[2017-01-13 14:31] TravisGesslein commented on #429
Sorry! Looking into it.

[2017-01-13 14:55] hyro77 opened #430 "dropped prophecies"
see also http://www.kongregate.com/forums/615157-idle-raiders-second-run/topics/694873-dropped-prophecies

Issue with "Find the Dawn Fortress"
Found it already, used the map, raiding it, but i guess before the prophecy showed up, so already used the map, would need another one to complete the Prophecy

[2017-01-13 16:09] jmweaver commented on #429
Same issue here, lost access to my cloud saves.  (in case it isn't a wholesale server drop)

[2017-01-14 05:05] TravisGesslein commented on #429
Sorry, I wasn't able to reply to the issue earlier because github was down. Our server provider (the people we rent our servers from) has had a lot of issues on their side today, and my current understanding is that they're still working on fixing it. From personal tests it seems server responses take a long time or timeout from time to time, but work fine at other times, so to access your cloud s

[2017-01-14 21:29] Profputricide opened #431 "interface"
Where did my level go?
![](http://puu.sh/tmphj/9368f9cbf9.png)
Just got to 1000, guessing it no longer fits or something?

[2017-01-15 00:18] TravisGesslein commented on #431
Yup, we just didn't account for the fact that players would reach it this quickly. It's invisible but it's basically pushed to the 'next line' of that piece of text. Will be fixed.

[2017-01-15 03:24] TravisGesslein commented on #424
Will be adjusted to 60 seconds. When we initially created this prophecy, there were still (stacking) speed scrolls in the game, and we forgot about adjusting it when we removed those.

[2017-01-15 03:24] #424 closed, assigned to TravisGesslein

[2017-01-15 03:25] TravisGesslein commented on #430
I think there are a bunch of prophecies like this. They're supposed to be completeable even if you haven't found them (i.e. they are hidden). Will fix.

[2017-01-15 05:26] TravisGesslein commented on #428
Could you submit a log (via email, or upload it somewhere) when you see this happening? Those bosses definitely have several non-unique items in their loot table. Not dropping would be indicative of errors happening.

[2017-01-15 06:26] TravisGesslein commented on #427
Upgrade will be capped in next patch!

[2017-01-15 06:26] #427 closed, assigned to nobody

[2017-01-15 06:28] TravisGesslein commented on #426
Is fixed in next patch.

[2017-01-15 06:28] #426 closed, assigned to nobody

[2017-01-15 10:04] TravisGesslein commented on #422
The prophecy will be changed a bit in next patch. Will now just require a certain amount of kills while that particular mercenary is active.

edit: Actually, I misread which of the two this one was referring to. I'll what's wrong with this one.

[2017-01-15 19:22] TravisGesslein commented on #422
Looks like an item ID changed a while back, but the prophecy code didn't get updated to reflect that. Fixed next patch.

[2017-01-15 19:22] #422 closed, assigned to TravisGesslein

[2017-01-15 22:00] TravisGesslein commented on #430
I made a pass over all existing prophecies, should be fixed now (in next patch, that is)!

[2017-01-15 22:00] #430 closed, assigned to nobody

[2017-01-15 22:16] TravisGesslein commented on #431
Fixed in next patch!

[2017-01-15 22:16] #431 closed, assigned to nobody

[2017-01-16 01:30] TravisGesslein commented on #421
Fixed in next patch!

[2017-01-16 01:30] #421 closed, assigned to nobody

[2017-01-16 07:31] TravisGesslein commented on #425
Next patch will have both! Priestesses already scale with your raider level, but the scaling is a bit out of whack with the basic HP scaling of raiders after level 50 (because each level after 50 provides 4x the bonus that levels before that used to give), so we're quadrupling the damage/healing output of priestesses at later levels.

Also, priests not healing in base during farm mode was a bug!

[2017-01-16 07:31] #425 closed, assigned to nobody

[2017-01-16 07:33] TravisGesslein commented on #420
A bit late since this report came during the holidays, but does anyone have a save where this still happens?

[2017-01-16 07:34] Profputricide opened #432 "Farming"
While farming easy monsters for gold, i often see my raiders targetting the exact same monster that would die by 1 hit of any raider already. It's mostly the archers that are shooting at the same targets. Mages just don't get to hit anything usually, because their attacks are very slow.

Any chance on improving the targetting system for raiders, because theres a lot of time and potential extra kil

[2017-01-16 07:35] Profputricide commented on #420
This seems to be happening to everyone, so getting a save with this happening should be easy.

I myself have to find the cane again first, can send it once i found it if you like (if still needed by then)

[2017-01-16 14:09] Profputricide commented on #432
I've also been thinking about sending raiders to multiple levels to farm, but i guess that wouldn't be balanced.

[2017-01-16 15:04] ImperialUser commented on #432
I'd suggest a raider upgrade, something like concentrate attack but the opposite, where they choose to target monsters not targeted by anyone else.

This would require priests to stop targeting monsters as well though, they still target them just don't have an attack.

[2017-01-16 15:20] ImperialUser commented on #420
The raid is lost from the list any time the game is refreshed, but is still run on auto-raiding.

[2017-01-16 21:06] hyro77 commented on #429
Seems servers are offline again?
already wrote you a mail (user hyronimus)

[2017-01-16 22:09] ImperialUser opened #433 "auto-saving crashes"
Had to refresh game, couldn't connect to game servers.  Auto-saving causes the game to freeze, unless you have the save game options window open.  Then you can uncheck the auto-save game option and it will continue as normal

[2017-01-16 22:24] ImperialUser commented on #433
Can't save the game at all right now.  Tried saving and refreshing, 10 minutes of progress lost.

[2017-01-17 00:08] TravisGesslein commented on #429
Hello,

this time the server's weren't offline. Our web dev investigated the problem and there was a simple issue with security certificates on our servers... they ran out. We renewed them and saving/logging in etc. should work fine again.

[2017-01-17 00:08] TravisGesslein commented on #433
This is possibly related to some server side issues we've been experiencing the past few days. Does it work again now?

[2017-01-17 00:56] ImperialUser commented on #433
Connected, Working again.

[2017-01-17 01:02] #433 closed, assigned to nobody

[2017-01-17 05:07] TravisGesslein commented on #420
Yup, will be fixed next patch.

[2017-01-17 05:07] #420 closed, assigned to nobody

[2017-01-17 05:07] #414 closed, assigned to nobody

[2017-01-17 09:36] TravisGesslein commented on #417
These issues will be fixed with next patch!

[2017-01-17 09:36] #417 closed, assigned to nobody

[2017-01-17 09:42] TravisGesslein commented on #383
I made some adjustments to a lot of the maps so while the issue remains in the code, the layout of the maps should now be such that it's not an issue in practice anymore.